//-------------------- variables -----------------------
$large-width: 1600px;
$desktop-width: 1500px;
$tablet-width: 768px;
$mobile-width: 480px;
$base-color: #657dff;
$base-color-darker: #d11c26;

/*-----------------------------------------------*/
/*-------------------- COLORS -------------------*/
/*-----------------------------------------------*/

$white: #fff;
$black: #000;
$blue: #34AAFF;
$dark-blue: #657dff;
$link-blue: #33AAFF;
$light-blue: #ecf0fc; 
$gray: #f6f6f6;
$dark-gray: #9f9f9f;
$dark-green: #34ca76;
$light-green: #ecfcf0;
$dark-red: #ea5355;
$red: #FF6565;
$red-color: #EA5355;
$light-red: #ffe9ea;
$dark-yellow: #ffaf54;
$light-yellow: #FFF2E3;
$gray-color: #E5E5E5;
$border: #D7DBE8;


