.anchorSlider {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  position: sticky;

  .imgContainer {
    width: 100px;
    height: 100px;
    overflow: hidden;
    transition: height .3s ease;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &.static {
    z-index: 2;
    background: white;

    .imgContainer {
      height: 0;
    }

    &:hover {
      .imgContainer {
        height: 100px;
      }
    }
  }

  .multiple-items {
    .categoriesListItem {
      width: 115px;
      text-align: center;
    }

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 25px 0;
      position: relative;
      cursor: pointer;

      &:after {
        content: '';
        height: 4px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: transparent;
        -webkit-transition: background .2s;
        -o-transition: background .2s;
        transition: background .2s;
      }

      &.active {
        &:after {
          background: $main-color;
        }
      }

      .title {
        font-size: 16px;
        line-height: 24px;
        margin-top: 5px;
      }
    }

    //button {
    //  width: 32px;
    //  min-width: 32px;
    //  height: 32px;
    //  border-radius: 100%;
    //  background: rgba($black-color, $opacity-05);
    //  font-size: 0;
    //  position: absolute;
    //  z-index: 3;
    //  display: none !important;
    //
    //  &.slick-next {
    //    background-image: url("../../img/svg-icons/vector-prev.svg");
    //    background-repeat: no-repeat;
    //    background-position: center;
    //    background-size: 15px;
    //    left: 0;
    //    top: 50%;
    //    margin-top: -16px;
    //    transform: rotate(93deg);
    //
    //  }
    //
    //  &.slick-prev {
    //    background-image: url("../../img/svg-icons/vector-next.svg");
    //    background-repeat: no-repeat;
    //    background-position: center;
    //    background-size: 15px;
    //    right: -11px;
    //    top: 50%;
    //    margin-top: -16px;
    //    transform: rotate(97deg);
    //  }
    //}
  }
}