.breadcrumbs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 47px 0 16px 0;
  align-items: center;
  @include tablet{
    display: none;
  }

  .linkContainer {
    position: relative;
    padding: 0 15px 5px 5px;
    overflow: hidden;

    &:last-of-type {
      &:after {
        display: none;
      }
    }

    &:after {
      content: "";
      position: absolute;
      background: $black-color;
      height: 1px;
      width: 10px;
      top: 43%;
      right: 0;
    }

    a {
      display: block;
      color: $black-color;
      font-family: 'Gilroy-Regular';
      font-size: 14px;
      line-height: 16px;
      transition: 0.2s;
      //white-space: pre;
      text-overflow: ellipsis;
      overflow: hidden;
      &:hover span {
        color: $main-color;

      }
    }

    span {
      color: $black-color;
      font-size: 14px;
      line-height: 16px;
      overflow: hidden;
      transition: 0.2s;

    }
  }

}

