.careersContainer {
  padding: 79px 0 0 0;

  h5 {
    margin-bottom: 32px;
    max-width: 416px;
  }

  .form {
    display: flex;
    margin: 32px 0 0 0;

    form {
      width: 50%;
      max-width: 380px;

      .inputContainer {
        width: 380px;
        margin-bottom: 30px;
      }

      .addCV {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .file-feature{
          color: #8f959c;
          font-size: 15px;
          padding: 0 0 0 25px;
        }
        .uploaded-file-name{
          display: none;
          align-items: center;
          margin: 5px 0 0 0;
          &.active{
            display: flex;
          }
          .delete-file-btn{
            cursor: pointer;
            width: 15px;
            height: 15px;
            margin: 0 10px 0 0;
          }
          p{
            color: #231f20;
            font-size: 19px;
            line-height: 30px;
            margin: 0;
          }
        }

        .txt {
          font-size: 14px;
          line-height: 16px;
          max-width: 200px;
        }
      }

      .termsCondition {
        margin: 32px 0 40px 0;

        input {
          position: absolute;
          visibility: hidden;
        }

        label {
          display: flex;
          align-items: flex-start;
        }

        .checkbox {
          width: 16px;
          min-width: 16px;
          height: 16px;
          margin: 0 6px 0 0;
          border: 1px solid $main-color;
          border-radius: 3px;
          -webkit-transition: .2s;
          transition: .2s;
        }

        input:checked + label .checkbox {
          background: $main-color url("../../img/svg-icons/icon-checked.svg") no-repeat center;
          background-size: 12px;
        }

        span {
          font-size: 14px;
          line-height: 21px;
          cursor: inherit;

          a {
            text-decoration: underline;
            color: $main-color;
          }
        }
      }
      button {
        &.bigBtn{
          width: 100%;
          height: 48px;
          border-radius: 31px;
        }

      }
    }
    .photoTeam {
      margin-left: 104px;
      z-index: -1;
      width: 716px;
      height: 707px;
      overflow: hidden;
      position: relative;
      img{
        object-fit: cover;
        position: absolute;
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        max-width: 100%;
      }
    }
  }
}

@include desktop{
  .careersContainer{
    padding: 40px 0 0 0;
    .form{
      margin: 16px 0 0 0;
      position: relative;
      .photoTeam{
        width: 409px;
        height: 403px;
        margin-left: 8px;
        position: absolute;
        right: -23px;
        bottom: 0;
      }
      form{
        display: none !important;
        max-width: 320px;
        margin-bottom: 60px;
        .addCV{
          .txt{
            max-width: 147px;
            font-size: 14px;
            line-height: 16px;
          }
        }
        .inputContainer{
          width: 320px;

        }
        .termsCondition{
          margin: 32px 0 24px 0
        }
      }
    }
    h5{
      font-size: 20px;
      line-height: 30px;
    }
  }
}
@include tablet{
  .careersContainer{
    padding: 24px 0 0 0;
    .form{
      flex-direction: column;
      form{
        width: 100%;
        max-width: 100%;
        margin-bottom: 50px;
        .inputContainer{
          width: 100%;
          margin-bottom: 20px;
        }
        .addCV{
          .txt{
            max-width: 170px;
          }
        }
        .termsCondition{
          max-width: 260px;
        }
      }
      .photoTeam{
        margin-left: -15px;
        position: inherit;
        width: 323px;
        height: 320px;
        right: 0;
      }
    }
    h5{
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 20px;
    }
  }
  .careerSection{
    .feedback-form__inner{
      margin: 0;
    }
  }
}