.bagSection {
  .ourBag {
    display: flex;
    align-items: center;
    &.my_cart{
      .button{
        @include large{
          margin: 20px 0 0 0;
        }

      }
    }

    .button {
      position: relative;
      padding: 8px 24px 8px 55px;
      margin: 0 0 0 41px;

      &::after {
        content: '';
        position: absolute;
        left: 2px;
        top: 2px;
        background-image: url("../../img/plus.png");
        width: 36px;
        height: 36px;
      }

      &.cancelCart {
        background: rgba(43, 42, 41, 0.05);
        color: $black-color;
        margin: 0 30px 0 40px;

        &::after {
          background-image: url("../../img/svg-icons/our-bag.svg");
        }
      }

      &.checkProduct {
        margin: 0 30px 0 0;

        &::after {
          background-image: url("../../img/svg-icons/check-prod.svg");
        }
      }

      &.finish {
        margin: 0;
      }
    }
  }

  .myOrderContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0 30px 0;

    .productCart {
      display: flex;
      align-items: center;
      width: 50%;
      margin: 0 40px 33px 0;
      max-width: 580px;

      &:nth-child(2n) {
        margin: 0 0 33px 0;
      }

      .imgContainer {
        position: relative;
        width: 250px;
        height: 250px;
        margin-right: 34px;

        img {
          object-fit: cover;
          position: absolute;
          width: 100%;
          height: 320px;
          max-width: 100%;
          max-height: 100%;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }

        .deleteCart {
          position: absolute;
          right: 16px;
          top: 10px;
          background-color: #EAEAEA;
          width: 48px;
          height: 48px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          img {
            width: 24px;
            height: 24px;
          }
        }
      }

      .infoCart {
        max-width: 300px;

        .titleCount {
          display: flex;
          align-items: center;

          .titleProd {
            font-size: 18px;
            line-height: 24px;
            font-family: 'Gilroy-SemiBold';
            margin-right: 18px;
          }

          .count {
            font-size: 18px;
            line-height: 24px;
            color: #2B2A29;
            opacity: 0.5;
            font-family: 'Gilroy-Medium';
          }
        }

        .toppingBlock {
          margin: 14px 0 0 0;

          .titleTopping {
            font-size: 14px;
            line-height: 15px;
            font-family: 'Gilroy-SemiBold';
            margin-bottom: 8px;
          }

          .topping {
            font-size: 14px;
            line-height: 15px;
            font-family: 'Gilroy-Medium';
          }
        }

        .product__counter {
          margin: 27px 0 0 0;
          display: flex;
          justify-content: space-between;
          @include tablet{
            margin: 50px 0 0 0;
          }

          .priceContainer {
            display: flex;
            align-items: center;
          }

          .price {
            font-size: 15px;
            line-height: 24px;
            font-family: 'Gilroy-Bold';

            .plus,
            .minus {
              width: 24px;
              height: 24px;
            }
          }

          input {
            background: transparent;
            max-width: 40px;
            text-align: center;
            font-size: 16px;
            line-height: 13px;
            font-family: 'Gilroy-Medium';
            padding-bottom: 5px;
          }
        }
      }
    }
  }

  .promocodeContainer {
    border-top: 1px solid rgba(43, 42, 41, 0.1);
    border-bottom: 1px solid rgba(43, 42, 41, 0.1);
    padding: 32px 0;
    margin-bottom: 60px;

    .flexCol {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .form-group {
        display: flex;
        align-items: center;

        .input {
          width: 298px;
          margin-right: 15px;
        }

        .button {
          padding: 8px 44px;
        }
      }

      .totalDiv {
        display: flex;
        align-items: center;

        .grayText {
          color: rgba($black-color, $opacity-05);
          font-size: 24px;
          line-height: 36px;
          font-family: 'Gilroy-Medium';
          margin-right: 24px;
        }

        .totalPrice {
          font-size: 24px;
          line-height: 36px;
          font-family: 'Gilroy-Bold';
        }
      }
    }
  }

  /* Tooltip container */
  .tooltip {
    position: relative;
    display: inline-block;
  }

  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 276px;
    background-color: $white-color;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    padding: 5px 0;
    color: $black-color;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Gilroy-Regular';

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -138px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
    a{
      color: $main-color;
    }
  }

  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
  }

  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}

.cartTabs {
  margin: 16px auto 150px auto;
  width: 1198px;
  padding: 66px 99px 71px 99px;
  background: rgba(196, 196, 196, 0.05);
  border-radius: 5px;

  .navTabs {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(43, 42, 41, 0.2);

    .navItem {
      font-size: 18px;
      line-height: 24px;
      font-family: 'Gilroy-Bold';
      position: relative;
      cursor: pointer;
      transition: 0.2s;
      padding: 0 25px 10px 0;

      &.active {
        color: $main-color;

        span {
          display: inline-block;
          position: relative;

          &:after {
            content: "";
            position: absolute;
            bottom: -12px;
            left: 0;
            background: $main-color;
            width: 100%;
            height: 3px;
            transition: 0.2s;

          }
        }
      }

      &:hover {
        color: $main-color;

        span:after {
          background: $main-color;
        }
      }
    }
  }

  .tabContent {
    padding: 25px 0 0 0;
  }

  .tabPane {
    display: none;

    &.active {
      display: block;
    }
  }

  .smallWrap {
    max-width: 842px;
    margin: 0 auto;

    .smallInput {
      display: flex;
      margin-bottom: 20px;

      .label {
        margin-left: 10px;
        height: 40px;
      }
    }
  }

  .form-group {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;

    h6 {
      font-size: 16px;
      line-height: 24px;
      font-family: 'Gilroy-SemiBold';
      margin: 0 0 16px 14px;
      width: 100%;
    }

    .inputContainer {
      width: calc(33.33% - 20px);
      max-width: 266px;
      margin: 0 10px 20px 10px;

      &.big {
        width: 100%;
        max-width: 553px;
      }

      &.small {
        width: 76px;
      }

      &.medium {
        width: 120px;
      }
    }

    .inputContainerNr {
      width: 100%;
      margin-left: 14px;
      margin-bottom: 30px;
      display: flex;
      align-items: center;

      .product__counter {
        display: flex;
        align-items: center;
        margin: 0 0 0 16px;

        input {
          background: transparent;
          border-radius: 0;
          width: 32px;
          padding: 5px 0;
          text-align: center;
          margin: 0 5px;
          color: $black-color;
          font-size: 16px;
          line-height: 13px;
        }

        .minus,
        .plus {
          width: 24px;
          height: 24px;
          cursor: pointer;
        }
      }

      .nr {
        color: rgba(43, 42, 41, 0.6);
      }
    }

    .commentDelivery {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;

      .infoDelivery {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        padding-right: 10px;

        .text {
          font-size: 16px;
          line-height: 24px;
          font-family: 'Gilroy-Bold';

          &.deliv {
            margin-right: 8px;
          }
        }

        .freeDeliv {
          font-size: 14px;
          line-height: 24px;
          font-family: 'Gilroy-SemiBold';
          color: rgba($black-color, $opacity-05);
          width: 100%;
          text-align: right;
        }
      }
    }

    .selectContainer {
      margin-bottom: 40px;
    }

    .commentContainer {
      width: 70%;
      max-width: 553px;
      margin: 0 24px 20px 14px;
      transition: 0.3s;

      textarea {
        display: none;
        margin: 10px 16px 0 0;
      }

      .addCommentBtn {
        width: max-content;
        width: -moz-max-content;
        font-size: 14px;
        line-height: 24px;
        color: rgba($black-color, 0.6);
        cursor: pointer;
        display: flex;
        align-items: center;

        &:hover {
          color: $main-color;
        }

        &.show-hiden {
          .icon {
            &:nth-of-type(1) {
              display: none;
            }

            &:nth-of-type(2) {
              display: block;
            }
          }
        }

        .icon {
          width: 24px;
          height: 24px;
          margin: 0 7px 0 0;

          &:nth-of-type(2) {
            display: none;
          }
        }
      }
    }

    .label {
      margin-left: 40px;

      span {
        padding-left: 25px;
        font-family: 'Gilroy-Regular';
        font-size: 14px;
        line-height: 21px;
      }
    }
  }

  .footerBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 842px;
    border-top: 1px solid rgba(43, 42, 41, 0.2);
    padding-top: 24px;
    margin: 24px auto 0 auto;

    #cart-button {
      width: 45%;
      position: relative;
    }

    .button {
      height: 56px;
      width: 100%;
      border-radius: 50px;
      font-family: 'Gilroy-Bold';

      &:disabled {
        color: #2B2A29;
        opacity: 0.6;
      }
    }

    .infoDelivs {
      margin-top: 10px;
      position: absolute;

      .link {
        color: $main-color;
      }
    }

    .label .check {
      top: 12px;
    }
  }

}

.radioboxContainer {
  display: flex;
  align-items: center;
  margin: 4px 0 0 14px;

  .input {
    margin-right: 30px;

    label {
      position: relative;
    }

    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
      position: absolute;
      width: 0;
      height: 0;
    }

    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label {
      position: relative;
      padding-left: 25px;
      cursor: pointer;
      display: inline-block;
      font-size: 16px;
      line-height: 24px;
    }

    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 2px;
      width: 18px;
      height: 18px;
      border: 1px solid rgba(43, 42, 41, 0.2);
      border-radius: 100%;
      background: #fff;
    }

    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
      content: '';
      width: 8px;
      height: 8px;
      background: $main-color;
      position: absolute;
      top: 7px;
      left: 5px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }

    [type="radio"]:not(:checked) + label:after {
      //  opacity: 0.5;
      // -webkit-transform: scale(0);
      // transform: scale(0);
      background-color: transparent;
      border: none;
      width: 8px;
      height: 8px;
      top: 7px;
      left: 5px;
      opacity: 0.5;
    }
  }

  .color:checked + label {
    color: $main-color;
  }
}

.label {
  display: inline;

  .textBl {
    padding-left: 24px;
    max-width: 325px;
  }

  .text {
    font-family: 'Gilroy-Regular';
    font-size: 14px;
    line-height: 21px;

    &.link {
      color: $main-color;
      text-decoration: underline;
    }
  }
}

///CART///////

@include large {
  .bagSection {
    .ourBag {
      flex-wrap: wrap;

      .h1 {
        width: 100%;
      }

      .button {
        &.checkProduct {
          margin: 20px 30px 0 0;
        }

        &.finish {
          margin: 20px 0 0 0;
        }

        &.cancelCart {
          margin: 20px 30px 0 0;
        }
      }
    }

    .myOrderContainer {
      .productCart {
        margin: 0 20px 33px 0;
        max-width: 440px;

        .imgContainer {
          position: relative;
          width: 180px;
          height: 180px;
          margin-right: 20px;

          .deleteCart {
            right: -5px;
            top: -10px;
          }
        }
      }
    }
  }
  .cartTabs{
    width: 100%;
  }
}


@include desktop {
  .bagSection {
    .ourBag {
      .button {
        &.checkProduct {
          margin: 20px 20px 0 0;
        }

        &.finish {
          margin: 20px 0 0 0;
        }

        &.cancelCart {
          margin: 20px 20px 0 0;
        }
      }
    }

    .myOrderContainer {
      .productCart {
        flex-direction: column;
        max-width: 345px;

        .imgContainer {
          position: relative;
          width: 250px;
          height: 250px;
          margin-right: 0;

          .deleteCart {
            right: -35px;
            top: 6px;
          }
        }
      }
    }

    .promocodeContainer {
      padding: 20px 0;
      margin-bottom: 35px;

      .flexCol {
        flex-direction: column;
        align-items: flex-start;

        .form-group {
          margin: 0 0 8px 0;

          .input {
            width: 200px;
          }

          .button {
            padding: 8px 20px;
          }
        }

        .totalDiv {
          .grayText {
            font-size: 18px;
            margin-right: 15px;
          }

          .totalPrice {
            font-size: 18px;
          }
        }
      }
    }
  }
  .cartTabs{
    margin-bottom: 100px;
    .form-group{
      .inputContainer{
        width: calc(50% - 20px);
      }
      .commentContainer{
        width: 50%;
      }
      .commentDelivery{
        .infoDelivery{
          margin-bottom: 15px;
        }
      }
    }
    .footerBlock{
      max-width: 100%;
      flex-direction: column;
      align-items: flex-start;
      .label{
        .textBl{
          max-width: 100%;
          margin: 0 0 40px 0;
        }
      }
      #cart-button{
        width: 100%;
      }
      .infoDelivs{
        text-align: center;
      }
    }
  }
}


@include tablet {
  .bagSection {
    .ourBag {
      padding-top: 25px;
      .button {
        &.checkProduct {
          margin: 20px 20px 0 0;
        }

        &.finish {
          margin: 20px 0 0 0;
        }

        &.cancelCart {
          margin: 20px 20px 0 0;
        }
      }
    }

    .myOrderContainer {
      .productCart {
        width: 100%;
        max-width: 100%;
        margin: 0 0 65px 0;
        flex-direction: row;
        position: relative;

        &:nth-child(2n) {
          margin: 0 0 50px 0;
        }

        .product__counter {
          position: absolute;
          left: 0;
          right: 0;

        }

        .imgContainer {
          position: relative;
          width: 130px;
          height: 130px;
          margin-right: 13px;

          .deleteCart {
            width: 30px;
            height: 30px;
            right: inherit;
            left: -6px;
            top: -6px;
            img{
              width: 20px;
              height: 20px;
            }
          }
        }

        .infoCart {
          width: calc(100% - 130px);
          margin-top: 15px;

          .titleCount {
            flex-direction: column;
            align-items: flex-start;

            .count {
              font-size: 12px;
              line-height: 20px;
            }

            .titleProd {
              font-size: 16px;
              margin-right: 0;
            }
          }

          .toppingBlock {
            margin: 5px 0 27px 0;
          }

          .product__counter {
            input {
              max-width: 50px;
              font-size: 15px;

            }

            .price {
              font-size: 13px;
            }
          }

        }
      }
    }
    .promocodeContainer{
      .flexCol{
        .form-group{
          .input{
            width: 220px;
          }
        }
      }
    }
  }
  .cartTabs{
    padding: 30px 10px;
    margin-bottom: 105px;
    .form-group{
      margin: 0;
      h6{
        margin: 0 0 15px 0;
      }
      .inputContainer{
        width: 100%;
        margin: 0 0 20px 0;
        max-width: 100%;
      }
      .inputContainerNr{
        flex-wrap: wrap;
        margin-left: 0;
        .label{
          margin: 10px 0 0 0;
        }
      }
      .commentDelivery{
        flex-direction: column;
        justify-content: flex-start;
        .infoDelivery{
          justify-content: flex-start;
          margin: 20px 0;
          .freeDeliv{
            text-align: left;
          }
        }
      }
      .commentContainer{
        width: 100%;
        margin: 0;
      }
      .radioboxContainer{
        margin: 0;
        flex-wrap: wrap;
        .input{
          margin: 0 15px 10px 0;
        }
      }
    }
    .smallWrap{
      .smallInput{
        flex-wrap: wrap;
        .inputContainer{
          &.small{
            margin: 0 10px 20px 0;
          }
        }
      }
    }
    .footerBlock{
      .button{
        height: 40px;
        font-size: 14px;
      }
      .label{
        .textBl{
          margin: 0 0 20px 0;
        }
      }
      .infoDelivs{
        font-size: 12px;
        margin-top: 6px;
      }
    }
  }
}


.cart {
  //background: pink;
  background: $white-color;
  z-index: 5;
  width: 600px;
  padding: 24px;
  overflow: hidden;

  .totalPrice {
    margin-left: 11px;
  }

  .topCol {
    display: flex;
    align-items: center;
    padding-bottom: 18px;
    text-align: center;
    position: relative;


    .promo {
      font-size: 18px;
      line-height: 24px;
      color: rgba($black-color, $opacity-60);
      font-family: 'Gilroy-SemiBold';
      position: absolute;

    }

    .title {
      font-size: 24px;
      line-height: 24px;
      font-family: 'Gilroy-Bold';
      text-align: center;
      width: 100%;
    }

    .exit {
      width: 32px;
      height: 32px;
      cursor: pointer;
    }
  }

  .anchorSlider {
    margin: 0 -20px 0 0;
    padding: 0 0 0 2px;

    .slick-list {
      overflow: visible;
    }

    .categoriesListItem {
      display: flex;
      justify-content: center;
      text-align: center;
      cursor: pointer;
      padding: 10px 0 16px 0;
      position: relative;

      &:after {
        content: '';
        height: 4px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: transparent;
        -webkit-transition: background .2s;
        -o-transition: background .2s;
        transition: background .2s;
      }

      .number {
        position: absolute;
        top: 10px;
        right: 0;
        color: $white-color;
        background: $main-color;
        font-size: 14px;
        line-height: 24px;
        width: 24px;
        height: 24px;
        border-radius: 100%;
      }

      &.active {
        &:after {
          background: $gray-color;
        }
      }

      .imgContainer {
        width: 100px;
        height: 100px;
        margin-bottom: 5px;
      }

      .title {
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 10px;
        height: 38px;
        overflow: hidden;
      }

      .price {
        font-size: 16px;
        line-height: 24px;
        font-family: 'Gilroy-Bold';
      }

    }

    .slick-slide {
      --slider-width: 105px;
      width: var(--slider-width);
      margin-right: 25px;

    }
  }


  button {
    width: 100%;
    height: 56px;
    border-radius: 50px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 32px;

    span {
      font-size: 20px;
      line-height: 24px;
      display: inline-block;
    }
  }

}

.scrollContent {
  overflow-x: hidden;
  margin: 0px -24px 0 0;
  padding-right: 24px;
}


.arcticmodal-container_i {
  &.promocodeModal {
    width: 420px;
    margin: 0 0 0 auto;
    @include tablet {
      margin: 0 auto;
      width: 320px;
    }

    .modal {
      width: inherit;
      padding: 0;

      h5 {
        font-size: 40px;
        text-align: center;
        padding: 50px 0 30px 0;
        @include tablet {
          font-size: 30px;
          padding: 35px 0 20px 0;
        }
      }

      .inputContainer {
        width: 100%;
        border-top: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
        padding: 15px 30px;
        @include tablet {
          padding: 10px 30px;
        }

        input {
          width: 100%;
        }
      }

      .modalConfirm {
        display: flex;

        .modalButton {
          width: 50%;
          display: flex;
          justify-content: center;
          padding: 15px;
          cursor: pointer;
          border-right: 1px solid #e8e8e8;

          &:nth-child(2) {
            border-right: none;
          }
        }
      }
    }
  }
}


.arcticmodal-container {
  &.right {
    right: 60px;
    @include tablet {
      right: 0;
    }
  }
}

@include tablet {

  .scrollContent {
    margin: 0px -16px 0 0;
    padding-right: 16px;
  }

  .modal {
    &.cartModal {
      width: 100%;
      max-width: 100%;
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
  .arcticmodal-container_i {
    &.right {
      margin: 0;
    }
  }
  .cart {
    width: 100%;
    padding: 16px;

    .anchorSlider {
      width: calc(100vw - 32px);
      margin: 0 -16px 0 0;

      .slick-slide {
        --slider-width: 80px;
        width: var(--slider-width);
        margin-right: 6px;
      }

      .categoriesListItem {
        .imgContainer {
          width: 80px;
          height: 80px;
          margin-bottom: 4px;
        }

        .title {
          font-size: 10px;
          line-height: 16px;
          height: 30px;
          margin-bottom: 4px;
        }

        .price {
          font-size: 10px;
        }
      }
    }

    .topCol {
      .promo {
        font-size: 14px;
        line-height: 24px;
      }

      .title {
        font-size: 18px;
        line-height: 21px;
      }
    }

    .cartTabs {
      margin: 25px 0 0 0;

      .navTabs {
        .navItem {
          font-size: 16px;
          line-height: 24px;
          padding: 0 29px 12px 0;
        }
      }
    }

    .tabContent {
      padding: 24px 0 0 0;

      .form-group {
        margin: 0;

        h6 {
          font-size: 16px;
          line-height: 24px;
          margin: 0 0 12px 0;
        }

        .inputContainer {
          width: 100%;
          margin: 0 0 20px 0;

          &.small {
            width: 101px;
            margin: 0 20px 20px 0;

            &:nth-child(3n) {
              margin: 0 0 20px 0;
            }
          }

          &.medium {
            width: 101px;
          }
        }

        .inputContainerNr {
          margin: 0 0 25px 0;

          .nr {
            font-size: 14px;
            line-height: 24px;
          }
        }

        .commentContainer {
          margin: 0 0 20px 0;
        }
      }
    }

    .radioboxContainer {
      margin: 0;
    }

    button {
      margin: 24px 0 0 0;
      padding: 8px 20px;

      span {
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
  .cart .radioboxContainer .input [type="radio"]:checked + label, .cart .radioboxContainer .input [type="radio"]:not(:checked) + label {
    padding-left: 23px;
  }
}