.sort-row-box{
  border-top: 1px solid rgba($black-color, $opacity-10);
  border-bottom: 1px solid rgba($black-color, $opacity-10);
  margin: 14px 0 0 0;
}

.sort-row{
  display: flex;
  align-items: center;
  padding: 28px 0 24px;
  @include desktop{
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 0;
  }
  @include tablet{
    padding: 16px 0 6px;
  }

  .filterList{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .filter-title{
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 24px;
    margin: 0 38px 0 0;
  }
  .resetFilterBtn{
    display: flex;
    align-items: center;
    font-family: 'Gilroy-SemiBold';
    font-size: 18px;
    line-height: 24px;
    margin: 0 60px 0 0;
    .icon{
      width: 24px;
      height: 24px;
      stroke-width: 2px;
      stroke: $black-color;
    }
  }
  .rangeTitle{
    @include tablet{
      width: 100%;
      margin: 0 0 10px 0;
    }
    .value{
      color: rgba($black-color, $opacity-50);
    }
  }
  .price-range{
    display: flex;
    flex-direction: column;
    padding: 29px 16px 0;
    margin: 0 50px 0 0;
    @include tablet{
      padding: 10px 0 0 0;
    }
    .range{
      width: 235px;
    }
    .range-values{
      display: flex;
      justify-content: space-between;
      padding: 5px 0 0 0;
      input{
        font-family: 'Gilroy-SemiBold';
        font-size: 14px;
        line-height: 24px;
        width: 35px;
        text-align: center;
      }
    }
  }
  .sortList{
    @include desktop{
      margin: 15px 0 0 0;
    }
    .sort-container{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .sortTitle{
        margin: 0 16px 0 0;
        @include tablet{
          width: 100%;
          margin: 0 0 10px 0;
        }
      }
      .sort-item{
        margin: 0 15px 0 0;
        @include tablet{
          margin: 0 10px 10px 0;
        }
        input{
          visibility: hidden;
          position: absolute;
        }
        label{
          display: flex;
          align-items: center;
        }
        input[type="checkbox"]:checked + label .slider{
          background: #EF5101 url(../../img/svg-icons/checked.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 12px 13px;
        }
        .slider{
          width: 18px;
          height: 18px;
          border: 1px solid rgba(43, 42, 41, 0.1);
          border-radius: 5px;
          margin: 0 5px 0 0;
        }
      }
    }
  }
}

.catalogPage {
    .arrow-mob {
      display: none;
      @include tablet{
        display: block;
      }
    }
}

#menu-center {
  ul {
    li {
      a {
        font-size: 24px;
        line-height: 29px;
        font-family: 'Gilroy-Bold';
        display: none;
        @include tablet{
          font-size: 16px;
        }

        &.active {
          @include desktop{
            display: block;

          }
        }
      }
    }
  }
}

@include desktop {
  .catalogPage {
    .mobileAnchor {
      position: relative;
      .anchorSlider {
        margin-top: -185px;
        transition: 0.4s;
        display: none;
        @include tablet{
          margin-top: -130px;
        }
      }
      .arrow {
        display: block;
        position: fixed;
        top: 67px;
        z-index: 1001;
        left: 50%;
        width: 12px;
        height: 7px;
        margin-left: -6px;

      }
      .anchorSlider.show-hiden {
        margin-top: inherit;
        position: fixed;
        background: $white-color;
        z-index: 2;
      }
    }
    .multiple-items{
      a{
        padding: 10px 0;
        .imgContainer{
          width: 80px;
          height: 80px;
        }
        .title{
          font-size: 14px;
          line-height: 23px;
          margin-top: 2px;
          font-family: 'Gilroy-SemiBold';
        }
      }
    }

    .products-list{
      padding: 76px 0 0 0;
      h2{
        font-size: 48px;
      }
    }
  }
}

@include tablet{
  #menu-center {
    ul {
      li {
        a {
          font-size: 16px;
        }
      }
    }
  }
  .catalogPage{
    .anchorSlider{
      display: none;
    }
    .mobileAnchor{
      .arrow{
        top: 40px;
      }
    }
    .products-list{
      padding: 20px 0 0 0;
      h2{
        font-size: 20px;
        line-height: 32px;
        margin: 0;
        text-align: center;
      }
    }

  }
}