.categoriesPage {
  .border {
    border-top: 1px solid rgba(43, 42, 41, 0.1);
    border-bottom: 1px solid rgba(43, 42, 41, 0.1);
    //padding: 28px 0;
  }

  .filter-categories {
    display: flex;
    align-items: center;

    .filterHeader {
      .bold {
        font-size: 18px;
        line-height: 24px;
        font-family: 'Gilroy-Bold';
      }

      .resetFilterBtn {
        font-size: 18px;
        line-height: 24px;
        padding: 0 44px 0 38px;
        font-family: 'Gilroy-Medium';
        position: relative;
        display: inline-block;

        &:after {
          content: '';
          position: absolute;
          right: 0;
          top: 0;
          background: url("../../img/svg-icons/reset-filter.svg") no-repeat center;
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  .filter-container {
    display: flex;
    align-items: center;
    margin: 0 0 0 60px;

    .price-block {
      display: flex;
      align-items: center;
      margin: 0 18px 0 0;
    }

    .blockTitle {
      font-size: 16px;
      line-height: 24px;
      font-family: 'Gilroy-SemiBold';
    }

    .gray {
      margin: 0 0 0 5px;
      font-size: 16px;
      line-height: 24px;
      color: #DEDEDE;

    }

    .filter-item {
      width: 234px;
      padding-top: 45px;
      padding-bottom: 19px;

      .filter-children {
        .range-values {
          display: flex;
          align-items: center;
          justify-content: space-between;

          input {
            font-size: 14px;
            line-height: 24px;
            width: 70px;
            text-align: center;
            border: none;
            font-family: 'Gilroy-SemiBold';
            padding: 3px 0 0 0;

          }
        }
      }

    }
  }

  .ingredients-filter {
    display: flex;
    align-items: center;
    margin-left: 54px;

    .ingredients {
      font-size: 16px;
      line-height: 24px;
      font-family: 'Gilroy-SemiBold';
      margin-right: 16px;
    }

    .filter {
      min-width: 265px;
      position: relative;
      min-height: 40px;
      z-index: 16;

      .overlay {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: none;
      }

      &.open {
        box-shadow: 0 8px 15px 0 rgba(0, 0, 0, .2);

        //.main:after {
        //  transform: rotate(180deg);
        //}

        .drop {
          display: block;
          box-shadow: 0 8px 15px 0 rgba(0, 0, 0, .2);
        }

        .overlay {
          display: block;
        }
      }

      .main {
        position: relative;
        background: rgba(43, 42, 41, 0.05);
        border-radius: 5px;
        height: 40px;
        padding: 10px 8px 8px 8px;
        cursor: pointer;
        z-index: 10;
        font-size: 14px;
        line-height: 24px;
        color: rgba(43, 42, 41, 0.6);


        //Starea sort-list dupa activare
        //&:active {
        //  background: url("../../img/svg-icons/filter-active.svg") no-repeat;
        //  background-size: 15px 15px;
        //  background-position: 15px center;
        //  color: #F7CAD4;
        //}

        &:after {
          display: block;
          position: absolute;
          right: 15px;
          margin-top: -3px;
          top: 50%;
          width: 16px;
          height: 19px;
          content: '';
          background: url(../../img/svg-icons/ingredient-arrow.svg) no-repeat;
          background-size: 16px;
          transition: all .2s ease;
        }
      }

      //

      .drop {
        display: none;
        background: #fff;
        border-radius: 5px;
        border: 2px solid #DEDEDE;
        position: absolute;
        top: 40px;
        left: 0;
        overflow: auto;
        width: 100%;
        max-height: 375px; // heoght of dropdown

        li {
          padding: 6px 15px 6px 45px;
          position: relative;

          &:hover {
            color: $main-color;
          }

          &.selectat {
            display: block;
            width: 100%;
            background: #DEDEDE;
            z-index: 1;
            // position: absolute;
            // top: 40px;
            // left: 0;

            .remove {
              position: absolute;
              left: 15px;
              top: 44%;
              margin-top: -7.5px;
              width: 20px;
              height: 20px;
              cursor: pointer;
            }

            span {
              color: #777777;

              svg {
                fill: #777777;
              }
            }
          }

          &.selectat + li {
            // margin-top: 40px;
          }

          // checkbox

          label {

            input[type="checkbox"] {
              visibility: hidden;
              position: absolute;
              width: 0;
              height: 0;
              font-size: 0;
            }

            .check {
              position: absolute;
              left: 15px;
              top: 50%;
              margin-top: -7.5px;
              width: 20px;
              height: 20px;
              border: 1px solid rgba($black-color, $opacity-10);;
              border-radius: 5px;
            }

            // active

            input[type="checkbox"]:checked + .check {
              background-color: transparent;
              background: $main-color;

            }

            input[type="checkbox"]:checked + .check:after {
              content: '';
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              background: url('../../img/svg-icons/checked.svg') no-repeat center;
              background-size: 12px 13px;
              z-index: 100;
            }

            span {
              font-size: 15px;
              line-height: 24px;
              display: block;
            }
          }
        }
      }
    }
  }

  .h1 {
    margin: 10px 0;
  }

  .products-list {
    padding: 11px 0 120px 0;
  }
}


.noUi-target {
  background: #DEDEDE;
  border-radius: 3px;
  height: 4px;
}

.noUi-horizontal .noUi-handle {
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  box-sizing: border-box;
}

.noUi-connect {
  background: $main-color;
}

@include large{
  .categoriesPage{
    .filter-categories{
      flex-wrap: wrap;
      padding-top: 24px;
      .filterHeader{
        width: 100%;
      }
    }
    .filter-container{
      margin: 0;
    }
    .ingredients-filter{
      margin-left: 33px;
    }
  }
}
@include tablet{
  .categoriesPage{
    .filter-categories{
      flex-wrap: wrap;
      padding: 16px 0;
      .filterHeader{
        width: 100%;
        justify-content: space-between;
        display: flex;
        align-items: center;
        span{
          display: block;
        }
      }
    }
    .filter-container{
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 25px;
      .filter-item{
        padding-top: 20px;
        padding-bottom: 25px;
      }
    }
    .ingredients-filter{
      margin-left: 0;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}