.checkoutPage {
  padding: 74px 0 0 0;

  .checkoutSection {
    display: flex;
    align-items: center;
    padding: 0 0 100px 0;

    &.error {
      .h1 {
        margin-bottom: 40px;
      }
      .order{
        width: 60%;
      }
    }

    .order {
      margin: 0 72px 0 0;
      width: 50%;

      .email {
        margin: 24px 0 40px 0;
        font-size: 24px;
        line-height: 28px;
        display: block;

        &:hover {
          color: $main-color;
        }
      }
    }

    .imgCheck {
      width: 558px;
      height: 452px;
      overflow: hidden;
      position: relative;

      img {
        object-fit: cover;
        position: absolute;
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
        transition: .2s;
      }
    }
  }
}

@include desktop {
  .checkoutPage {
    padding: 0;

    .checkoutSection {
      flex-direction: column-reverse;
      padding: 0 0 90px 0;

      .order {
        margin: 0;
        text-align: center;
        width: 60%;

        .email {
          margin: 10px 0 40px 0;
        }
      }
    }
  }
}

@include tablet {
  .checkoutPage {
    padding: 70px 0 0 0;

    .checkoutSection {
      padding: 0;
      &.error{
        .order{
          width: 100%;
          h1{
            margin-bottom: 52px;
          }
        }
      }

      .imgCheck {
        width: 201px;
        height: 163px;
        margin-bottom: 11px;
      }

      .order {
        width: 100%;

        .h1 {
          font-size: 20px;
          line-height: 26px;
        }

        .email {
          font-size: 16px;
          line-height: 19px;
          margin: 13px 0 20px 0;
        }
      }
    }
  }
}