.contactSection {
  .flexCol {
    padding: 43px 0 60px 0;
    display: flex;
    align-items: flex-start;

    .infoCol {
      margin-right: 90px;

      .h5 {
        font-size: 24px;
        line-height: 21px;
        margin-bottom: 42px;
        font-family: 'Gilroy-Bold';

        a {
          font-family: 'Gilroy-Regular';
        }
      }
    }

    .form-group {
      max-width: 688px;
      display: flex;
      flex-wrap: wrap;

      .inputContainer {
        width: 329px;
        margin: 0 30px 30px 0;

        &:nth-child(2n) {
          margin: 0 0 30px 0;
        }
      }

      .textarea {
        width: 100%;
        margin-bottom: 32px;
      }

      button {
        margin-left: auto;
        background: rgba(239, 81, 1, 0.8);
      }
    }
  }
  .allRestaurants{
    padding: 8px 24px;
  }
}

@include desktop {
  .contactSection {
    padding: 40px 0 0 0;

    .flexCol {
      flex-direction: column;
      padding: 58px 0 45px 0;

      .infoCol {
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 58px 0;

        .h5 {
          font-size: 16px;
          line-height: 21px;
          margin: 0 20px 20px 0;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

}

@include mobile {
  .contactSection {
    padding: 24px 0 0 0;

    .flexCol {
      padding: 24px 0 0 0;

      .infoCol {
        flex-direction: column;
        margin: 0 0 75px 0;
        .h5{
          font-size: 20px;
          line-height: 30px;
          display: flex;
          flex-direction: column;
          margin: 0 0 24px 0;
        }
      }
      .form-group{
        .inputContainer{
          margin: 0 0 20px 0;
          width: 100%;
          &:nth-child(2){
            margin: 0 0 20px 0;
          }
        }
        button{
          margin: 0;
        }
        @include tablet{
          margin: 0;
        }
      }
    }

  }
}