.cookiesContainer {
    display: none;
    background-color: $white-color;
    padding: 16px;
    position: fixed;
    z-index: 50;
    width: 100%;
    max-width: 364px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    left: 49px;
    bottom: 55px;
  
    .text,
    .detailsLink {
      font-size: 14px;
      line-height: 22px;
      font-family: 'Gilroy-Medium';
      max-width: 290px;
    }
  
    .detailsLink {
      color: $main-color;
      text-decoration: underline;
  
    }
  
    .closeCookie {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      width: 32px;
      height: 32px;
    }
  }