.dashboardSection{
  padding: 79px 0 0 0;
  .colsDashboard{
    padding: 42px 0 120px 0;
    display: flex;
    margin: 0 -15px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .colMedium{
      width: calc(33.33% - 30px);
      height: 448px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      margin: 0 15px;
      position: relative;
      padding: 32px 27px 26px 32px;
      overflow: hidden;
      @include mobile{
        padding: 20px;
      }
      .photoUser{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        overflow: hidden;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .yourPersonalData{
        margin: 80px 0 0 0;
        font-size: 32px;
        line-height: 38px;
        font-family: 'Gilroy-SemiBold';
      }
      .edit{
        color: rgba($black-color, 0.4);
        font-size: 14px;
        line-height: 16px;
        text-decoration: underline;
        position: absolute;
        bottom: 32px;
        transition: 0.2s;
        cursor: pointer;
        &:hover{
          color: $main-color;
        }
      }
      .historyPhoto{
        width: 354px;
        height: 303px;
        overflow: hidden;
        position: absolute;
        bottom: 22px;
        left: 0;

      }
      .txt{
        font-size: 18px;
        line-height: 29px;
        margin: 29px 0;
      }
      .form-group{
        display: flex;
        align-items: center;
        .inputContainer{
          width: 172px;
          margin-right: 16px;
        }
        button{
          padding: 8px 40px;
        }
      }
      .img{
        position: absolute;
        width: 311px;
        height: 237px;
        overflow: hidden;
        bottom: 0;
      }
      .name{
        font-size: 24px;
        line-height: 38px;
        font-family: 'Gilroy-Bold';
        margin: 16px 0;
      }
      .text{
        font-size: 15px;
        line-height: 22px;
        color: #505D68;
        &.adr{
          margin-top: 18px;
        }
      }
      h5{
        a{
          text-decoration: underline;
          margin-bottom: 26px;
          display: inline-block;
        }
      }
      .historyLink{
        display: block;
        font-family: 'Gilroy-SemiBold';
        font-size: 24px;
        line-height: 32px;
        text-decoration: underline;
        margin: 0 0 26px 0;
        &:hover{
          color: $main-color;
        }
      }
      .orderContainer{
        margin: 0 0 18px 0;
        .date{
          font-size: 14px;
          line-height: 17px;
          font-family: 'Gilroy-SemiBold';
          margin: 0 0 10px 0;
        }
        .flexCol{
          display: flex;
          align-items: center;
          .imgProd{
            width: 70px;
            height: 70px;
            overflow: hidden;
            margin-right: 10px;
            position: relative;
            &.opacity{
              img{
                opacity: 0.3;

              }
            }
            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            .moreProd{
              position: absolute;
              font-size: 24px;
              line-height: 29px;
              font-family: 'Gilroy-Bold';
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
  }
}
@include desktop{
  .dashboardSection{
    padding: 41px 0 0 0;
    .colsDashboard{
      flex-direction: column;
      margin: 32px 0 64px 0;
      padding: 0;
      .colMedium{
        width: 100%;
        margin: 0 0 32px 0;
      }
    }
  }
}

@include tablet{
  .dashboardSection{
    padding: 24px 0 0 0;
    .colsDashboard{
      margin: 34px 0 0 0;
      .colMedium{
        height: auto;
        .historyCol{
          .flexCol{
            flex-wrap: wrap;
            .imgProd{
              margin-bottom: 10px;
            }
          }
        }
        .txt{
          font-size: 16px;
          line-height: 24px;
          margin: 15px 0 35px 0;
        }
        .form-group{
          flex-direction: column;
          align-items: flex-start;
          .inputContainer{
            width: 100%;
            margin-bottom: 20px;
          }
        }
        &.saleCol{
          height: 448px;
        }
        &.height{
          height: 415px;
        }
      }
    }
    h5{
      font-size: 24px;
      line-height: 31px;
    }
    .feedback-form__inner{
      margin: 50px 0 0 0;
    }
  }
}