.feedback-form {
    box-shadow: 0px 2px 10px rgba($black-color, $opacity-10);
    z-index: 1;
    position: relative;
  
    .imgContainer {
      position: absolute;
      top: -95px;
      right: 0;
      width: 510px;
      height: 375px;
      overflow: hidden;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include tablet {
          width: auto;
          max-height: 100%;
        }
      }
  
      @include desktop {
        width: 310px;
        height: 230px;
        top: -40px;
  
        .img {
          position: absolute;
          width: inherit;
          height: inherit;
          top: 0;
          right: -50px;
          @include tablet {
            right: -127px;
          }
  
          img {
            transform: rotate(170deg);
            @include tablet {
              transform: rotate(153deg);
            }
          }
        }
      }
      @include tablet {
        width: 253px;
        height: 165px;
        top: -65px;
      }
    }
  
    &__inner {
      position: relative;
      padding: 85px 510px 65px 60px;
      @include large {
        padding: 85px 510px 65px 0;
      }
      @include desktop {
        padding: 40px 290px 20px 0;
      }
      @include tablet {
        padding: 40px 40px 35px 0;
        margin-top: 80px;
      }
  
  
      p {
        font-family: 'Gilroy-Medium';
        font-size: 16px;
        line-height: 30px;
        margin: 8px 0 0 0;
        @include tablet {
          font-size: 12px;
          margin: 1px 0 0 0;
        }
      }
  
      form {
        display: flex;
        margin: 32px 0 0 0;
        width: 100%;
        max-width: 465px;
        @include desktop {
          margin: 24px 0 0 0;
        }
        @include tablet {
          flex-direction: column;
          justify-items: flex-start;
          align-items: flex-start;
          margin: 20px 0 0 0;
        }
  
        .form-group {
          flex: 3;
          margin: 0 16px 0 0;
          @include tablet {
            flex: initial;
            width: 100%;
            margin: 0 0 20px 0;
          }
  
          input {
            border-radius: 20px;
            padding: 8px 16px;
          }
        }
  
        button {
          flex: 1;
          padding: 8px 25px;
          margin: 0 0 24px 0;
          @include tablet {
            flex: initial;
            margin: 0;
          }
        }
      }
    }
  }