.footer {
    background-color: $black-color;
    padding: 35px 0 0 0;
  
    &.hide {
      @include desktop {
        display: none;
      }
    }
  
    &__inner {
      display: flex;
      flex-wrap: wrap;
    }
  
    &__col {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 25%;
      color: $white-color;
      padding: 0 60px 0 0;
      @include large {
        padding: 0 40px 0 0;
      }
      @include desktop {
        width: 33.3%;
      }
      @include tablet {
        width: 100%;
        margin: 0 0 30px 0;
      }
  
      &:first-of-type {
        @include desktop {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          border-bottom: 1px solid rgba($white-color, 0.2);
          padding: 0 25% 25px;
          margin: 0 0 30px 0;
        }
        @include tablet {
          padding: 0 0 25px 0;
        }
      }
  
      &:last-of-type {
        padding: 0;
        @include tablet {
          margin: 0 0 5px 0;
        }
      }
  
      h6 {
        margin: 0 0 15px 0;
      }
  
      a {
        display: inline-block;
        padding: 5px 0;
        color: $white-color;
  
        &:hover {
          color: $main-color;
        }
  
        b {
          font-weight: normal;
          font-family: 'Gilroy-SemiBold';
        }
      }
  
      .description {
        font-size: 16px;
        line-height: 28px;
        margin: 15px 0 0 0;
        @include desktop {
          text-align: center;
        }
      }
  
      .social-links {
        display: flex;
        margin: 24px 0 0 0;
  
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;
          background: rgba($white-color, 0.1);
          border-radius: 50%;
          margin: 0 16px 0 0;
  
          &:hover {
            background: $main-color;
          }
        }
      }
    }
  
    .copyright-bar {
      border-top: 1px solid rgba($white-color, 0.2);
      padding: 20px 0 15px 0;
      margin: 35px 0 0 0;
      font-size: 12px;
      line-height: 21px;
      color: $white-color;
  
      &__inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
  
        .copyright {
          width: 25%;
          padding: 0 60px 0 0;
          @include large {
            padding: 0 40px 0 0;
          }
          @include desktop {
            width: 33.3%;
          }
          @include tablet {
            width: 100%;
            margin: 0 0 20px 0;
          }
        }
  
        .logo-cherry {
          &:hover {
            svg {
              fill: $main-color;
            }
          }
  
          svg {
            width: 97px;
            height: 28px;
            fill: $white-color;
          }
        }
      }
    }
  }