.header {
    position: sticky;
    top: 0;
    border-bottom: 1px solid rgba($black-color, 0.1);
    background-color: $white-color;
    z-index: 300;
  
    &.hide {
      @include desktop {
        .header__logo {
          display: none;
        }
        .scroll {
          display: block;
        }
      }
  
      #menu-center {
        ul {
          li {
            a {
              font-size: 24px;
              line-height: 29px;
              font-family: 'Gilroy-Bold';
              display: none;
              @include tablet {
                font-size: 16px;
              }
  
              &.active {
                @include desktop {
                  display: block;
  
                }
              }
            }
          }
        }
      }
    }
  
    #menu-center {
      ul {
        li {
          a {
            font-size: 24px;
            line-height: 29px;
            font-family: 'Gilroy-Bold';
            display: none;
          }
        }
      }
    }
  
    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
      background: $white-color;
      z-index: 20;
      @include tablet {
        padding: 5px 0;
        margin: 0 -10px;
      }
    }
  
    &__col {
      display: flex;
      align-items: center;
  
      &:nth-of-type(2) {
        @include desktop {
          margin: 0 0 0 10%;
        }
      }
    }
  
    /* Nav */
    &__open-mobile-nav {
      position: relative;
      display: none;
      width: 40px;
      height: 40px;
      cursor: pointer;
      @include desktop {
        display: block;
      }
  
      .line {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 18px;
        height: 2px;
        background-color: $black-color;
        border-radius: 20px;
        transition: 0.4s;
  
        &:nth-of-type(1) {
          transform: translate(-50%, calc(-50% - 5px));
        }
  
        &:nth-of-type(2) {
          transform: translate(-50%, -50%);
        }
  
        &:nth-of-type(3) {
          transform: translate(-50%, calc(-50% + 5px));
        }
      }
    }
  
    &__open-mobile-nav_opened {
      .line {
        &:nth-of-type(1) {
          transform: translate(-50%, -50%) rotate(45deg);
        }
  
        &:nth-of-type(2) {
          opacity: 0;
        }
  
        &:nth-of-type(3) {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
  
    /* Logo */
    &__logo {
      display: flex;
      width: 106px;
      height: auto;
      @include tablet {
        width: 90px;
      }
    }
  
    /* Search section */
    &__search-container {
      position: relative;
    }
  
    &__open-search-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 228px;
      background: rgba($black-color, 0.05);
      font-family: 'Gilroy-Medium';
      font-size: 16px;
      line-height: 19px;
      border-radius: 10px;
      padding: 10px 15px;
      cursor: pointer;
      transition: 0.2s;
      @include extralarge {
        width: initial;
        background: transparent;
        span {
          display: none;
        }
      }
      @include desktop {
        padding: 10px;
      }
  
      &:hover {
        color: $main-color;
  
        svg {
          stroke: $main-color;
        }
      }
  
      svg {
        width: 22px;
        height: 22px;
        fill: none;
        stroke: $black-color;
        stroke-width: 2px;
        stroke-linecap: round;
        stroke-linejoin: round;
      }
    }
  
    &__close-search-form {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba($black-color, 0.4);
      z-index: 2;
      transition: 0.2s;
      visibility: hidden;
      opacity: 0;
    }
  
    &__close-search-form_visible {
      visibility: visible;
      opacity: 1;
    }
  
    &__search-form {
      position: absolute;
      top: -1px;
      right: 1px;
      width: 450px;
      background: $white-color;
      border-radius: 10px;
      visibility: hidden;
      opacity: 0;
      transition: 0.2s;
      z-index: 2;
      @include desktop {
        right: -4px;
      }
      @include tablet {
        position: fixed;
        top: 15px;
        right: 50%;
        transform: translate(50%, 0);
      }
      @include mobile {
        width: calc(100% - 32px);
      }
  
      &.header__search-form_visible {
        visibility: visible;
        opacity: 1;
      }
    }
  
    &__search-input-container {
      position: relative;
  
      input {
        width: 100%;
        font-family: 'Gilroy-Medium';
        font-size: 16px;
        line-height: 19px;
        border-radius: 10px;
        padding: 12px 50px 12px 15px;
      }
  
      .button {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 100%;
        background: transparent;
        padding: 0;
  
        &:hover {
          .lens {
            stroke: $main-color;
          }
        }
  
        svg {
          &:nth-of-type(1) {
            width: 22px;
            height: 22px;
            fill: none;
            stroke: #2B2A29;
            stroke-width: 2px;
            stroke-linecap: round;
            stroke-linejoin: round;
          }
  
          &:nth-of-type(2) {
            display: none;
            width: 22px;
            height: 22px;
            fill: $black-color;
          }
        }
  
        &_loading {
          svg {
            &:nth-of-type(1) {
              display: none;
            }
  
            &:nth-of-type(2) {
              display: block;
            }
          }
        }
      }
    }
  
    &__search-result {
      border-top: 1px solid rgba(43, 42, 41, 0.1);
    }
  
    &__search-result-categories {
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px solid rgba(43, 42, 41, 0.1);
      padding: 10px 8px;
  
      a {
        line-height: 16px;
        color: #424B5A;
        padding: 5px 8px;
  
        &:hover {
          color: $main-color;
        }
      }
    }
  
    &__result-products-list {
      padding: 0 24px 24px 24px;
      @include mobile {
        padding: 0 16px 24px 16px;
      }
  
      .product {
        &__card {
          display: flex;
          width: 100%;
          margin: 15px 0;
  
          &:hover {
            .product__name {
              color: $main-color;
            }
          }
        }
  
        &__img {
          position: relative;
          width: 100px;
          height: 100px;
          overflow: hidden;
  
          img {
            object-fit: cover;
            position: absolute;
            width: auto;
            height: auto;
            min-width: 100%;
            min-height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
  
        &__box {
          display: flex;
          flex-direction: column;
          width: calc(100% - 105px);
          font-family: 'Gilroy-Bold';
          margin: 0 0 0 5px;
        }
  
        &__name {
          transition: 0.2s;
        }
  
        &__attr {
          color: rgba($black-color, 0.3);
          margin: 0 -5px;
  
          span {
            font-size: 12px;
            margin: 0 5px;
          }
        }
  
        &__price-container {
          display: flex;
          align-items: center;
          margin: 10px 0 0 0;
        }
  
        &__price {
          width: calc(100% - 100px);
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          .oldPrice{
            margin: 0 0 0 5px;
            color: rgba($black-color, $opacity-30);
            text-decoration: line-through;
            @include mobile{
              margin: 0;
            }
          }
        }
  
        &__counter {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100px;
          border: 1px solid rgba($black-color, 0.1);
          border-radius: 20px;
          font-size: 14px;
          line-height: 13px;
          padding: 4px;
  
          .minus,
          .plus {
            width: 24px;
            height: 24px;
            transition: 0.2s;
            cursor: pointer;
  
            &:hover {
              opacity: 0.9;
            }
          }
  
          input {
            width: 25px;
            text-align: center;
            font-family: 'Gilroy-SemiBold';
  
            &:disabled {
              background: transparent;
            }
          }
        }
      }
  
      .button {
        width: 100%;
      }
    }
  
    &__empty-search-result {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px 0 40px 0;
    }
  
    /* User section */
    &__user-auth-container {
      @include desktop {
        display: none;
      }
    }
  
    &__unauth-user {
      display: flex;
      padding: 10px 15px;
      margin: 0 0 0 30px;
  
      &:hover {
        svg {
          stroke: $main-color;
        }
      }
  
      svg {
        width: 22px;
        height: 22px;
        fill: none;
        stroke: $black-color;
        stroke-width: 2px;
        stroke-linecap: round;
        stroke-linejoin: round;
      }
    }
  
    &__auth-user {
      margin: 0 37px 0 40px;
      @include extralarge {
        margin: 0 10px;
      }
  
      .dropdown {
        position: relative;
  
        &.dropdown-active {
          .dropdown__menu {
            top: calc(100% + 15px);
            visibility: visible;
            opacity: 1;
          }
        }
  
        &__btn {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          background: $main-color;
          border-radius: 50px;
          overflow: hidden;
          cursor: pointer;
          transition: 0.2s;
  
          &:hover {
            opacity: 0.8;
          }
  
          svg {
            width: 22px;
            height: 22px;
            fill: none;
            stroke: $white-color;
            stroke-width: 2px;
            stroke-linecap: round;
            stroke-linejoin: round;
          }
  
          img {
            object-fit: cover;
            position: absolute;
            width: auto;
            height: auto;
            min-width: 100%;
            min-height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
  
        &__menu {
          position: absolute;
          top: calc(100% + 25px);
          left: 50%;
          transform: translate(-50%, 0);
          width: 235px;
          background: $white-color;
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
          border-radius: 10px;
          padding: 15px 25px 0 25px;
          z-index: 2;
          visibility: hidden;
          opacity: 0;
          transition: 0.2s;
  
          &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -13px);
            width: 24px;
            height: 24px;
            background: url("../../img/svg-icons/triangle.svg") no-repeat;
            background-position: center;
            background-size: 100%;
          }
        }
  
        &__item {
          position: relative;
          width: 100%;
          display: flex;
          align-items: center;
          padding: 10px 0;
          font-family: 'Gilroy-Medium';
          font-size: 18px;
          line-height: 21px;
  
          &:hover {
            div {
              color: $main-color;
            }
          }
  
          &:nth-of-type(4) {
            width: calc(100% + 50px);
            transform: translate(-25px, 0);
            padding: 10px 25px;
            background: rgba($black-color, 0.1);
            margin: 15px 0 0 0;
            border-radius: 0 0 10px 10px;
  
            svg {
              stroke: $black-color;
            }
          }
  
          svg {
            width: 22px;
            height: 22px;
            fill: none;
            stroke: $main-color;
            stroke-width: 1.455px;
            stroke-linecap: round;
            stroke-linejoin: round;
          }
  
          div {
            font-size: 16px;
            line-height: 19px;
            color: $black-color;
            margin: 0 0 0 10px;
            transition: 0.2s;
          }
        }
      }
    }
  
    /* Cart section */
    &__cart-container {
      position: relative;
      margin-right: 45px;
      @include large {
        margin-right: 0;
      }
  
      @include desktop {
        margin-right: 0;
      }
  
      .ourBagHeader {
        display: flex;
        align-items: center;
  
        .icon-bg {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: $main-color;
          display: flex;
          align-items: center;
          justify-content: center;
  
          svg {
            width: 24px;
            height: 24px;
            stroke: $white-color;
            fill: none;
            stroke-width: 2px;
            stroke-linecap: round;
            stroke-linejoin: round;
          }
        }
  
        .header__cart-total-price {
          margin: 0 0 0 5px;
        }
  
        .text {
          font-size: 12px;
          line-height: 14px;
          color: #2B2A29;
          margin: 0 0 0 5px;
        }
      }
  
      .dropdown {
        &.dropdown-active {
          .dropdown__menu {
            top: calc(100% + 15px);
            visibility: visible;
            opacity: 1;
            @include mobile {
              top: 64px;
            }
          }
        }
  
  
        &__btn {
          display: flex;
          align-items: center;
          padding: 10px 15px;
          cursor: pointer;
          @include desktop {
            padding: 10px;
          }
  
          &:hover {
            color: $main-color;
  
            .icon {
              svg {
                stroke: $main-color;
              }
            }
          }
  
          .icon {
            position: relative;
            display: flex;
            align-items: center;
  
            .counter {
              position: absolute;
              top: -5px;
              right: -5px;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 16px;
              height: 16px;
              background: $main-color;
              border: 2px solid $white-color;
              font-family: 'Gilroy-SemiBold';
              font-size: 10px;
              line-height: 12px;
              color: $white-color;
              border-radius: 50%;
            }
  
            svg {
              width: 20px;
              height: 20px;
              fill: none;
              stroke: $black-color;
              stroke-width: 2px;
              stroke-linecap: round;
              stroke-linejoin: round;
            }
          }
  
          .header__cart-total-price {
            width: 82px;
            font-family: 'Gilroy-SemiBold';
            font-size: 16px;
            line-height: 19px;
            margin: 0 0 0 8px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            transition: 0.2s;
            @include desktop {
              display: none;
            }
          }
        }
  
        &__menu {
          position: absolute;
          top: calc(100% + 25px);
          right: 50%;
          transform: translate(50%, 0);
          width: 340px;
          max-height: calc(100vh - 100px);
          background: $white-color;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          border-radius: 10px;
          padding: 24px;
          z-index: 2;
          visibility: hidden;
          opacity: 0;
          transition: 0.2s;
          overflow: auto;
          @include desktop {
            right: 0;
            transform: translate(0, 0);
          }
          @include mobile {
            position: fixed;
            top: 74px;
            right: 50%;
            transform: translate(50%, 0);
          }
        }
  
        &__item {
          width: 100%;
          margin: 0 0 15px 0;
          position: relative;
  
          &:last-of-type {
            margin: 0;
          }
  
          .product {
            &__card {
              display: flex;
              width: 100%;
  
              &:hover {
                .product__name {
                  color: $main-color;
                }
              }
            }
  
            &__img {
              position: relative;
              width: 100px;
              height: 100px;
              overflow: hidden;
  
              img {
                object-fit: cover;
                position: absolute;
                width: auto;
                height: auto;
                min-width: 100%;
                min-height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
  
            &__box {
              display: flex;
              flex-direction: column;
              width: calc(100% - 105px);
              font-family: 'Gilroy-Bold';
              margin: 0 0 0 5px;
            }
  
            &__name {
              transition: 0.2s;
            }
  
            &__attr {
              color: rgba($black-color, 0.3);
              margin: 0 -5px;
  
              span {
                font-size: 12px;
                margin: 0 5px;
              }
            }
  
            &__price-container {
              display: flex;
              align-items: center;
              margin: 5px 0 0 0;
            }
  
            &__price {
              width: calc(100% - 100px);
            }
  
            &__counter {
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 100px;
              border: 1px solid rgba($black-color, 0.1);
              border-radius: 20px;
              font-size: 14px;
              line-height: 13px;
              padding: 4px;
  
              .minus,
              .plus {
                width: 24px;
                height: 24px;
                transition: 0.2s;
                cursor: pointer;
  
                &:hover {
                  opacity: 0.9;
                }
              }
  
              input {
                width: 25px;
                text-align: center;
                font-family: 'Gilroy-SemiBold';
  
                &:disabled {
                  background: transparent;
                }
              }
            }
          }
  
          .button {
            width: 100%;
            margin: 30px 0 0 0;
          }
        }
      }
    }
  
    &__empty-cart {
      text-align: center;
  
      img {
        margin: 5px 0 0 0;
      }
  
      h5 {
        font-family: 'Gilroy-Bold';
        margin: 15px 0 0 0;
      }
  
      .button {
        margin: 24px auto 0;
        padding: 8px 45px;
      }
    }
  
    /* Lang section */
    &__lang-value-container {
      display: flex;
      @include desktop {
        display: none;
      }
  
      .dropdown {
        position: relative;
  
        &.value {
          margin-right: 30px;
        }
  
        &.dropdown-active {
          .dropdown__btn {
            &:after {
              transform: translate(0, -50%) scale(1, -1);
            }
          }
  
          .dropdown__menu {
            top: calc(100% + 5px);
            visibility: visible;
            opacity: 1;
          }
        }
  
        &__btn {
          position: relative;
          display: flex;
          align-items: center;
          padding: 10px 25px 10px 10px;
          cursor: pointer;
  
          &:hover {
            span {
              color: $main-color;
            }
          }
  
          &:after {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
            width: 24px;
            height: 24px;
            background: url("../../img/svg-icons/carret-down.svg") no-repeat;
            background-position: center;
            background-size: 100%;
            transition: 0.2s;
          }
  
          .img-container {
            position: relative;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            overflow: hidden;
  
            img {
              object-fit: cover;
              position: absolute;
              width: auto;
              height: auto;
              min-width: 100%;
              min-height: 100%;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
  
          span {
            font-family: 'Gilroy-Medium';
            font-size: 16px;
            line-height: 19px;
            margin: 0 0 0 8px;
            transition: 0.2s;
          }
        }
  
        &__menu {
          position: absolute;
          top: calc(100% + 15px);
          left: 50%;
          transform: translate(-50%, 0);
          width: 79px;
          background: $white-color;
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
          border-radius: 10px;
          padding: 10px;
          z-index: 2;
          visibility: hidden;
          opacity: 0;
          transition: 0.2s;
        }
  
        &__item {
          position: relative;
          display: flex;
          align-items: center;
          padding: 5px 0;
          cursor: pointer;
  
          &:hover {
            span {
              color: $main-color
            }
          }
  
          &.current-lang {
            opacity: 0.5;
            pointer-events: none;
  
            &:after {
              content: "";
              position: absolute;
              top: 50%;
              right: 0;
              transform: translate(0, -50%);
              width: 5px;
              height: 5px;
              background-color: $main-color;
              border-radius: 50%;
            }
          }
  
          .img-container {
            position: relative;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            overflow: hidden;
  
            img {
              object-fit: cover;
              position: absolute;
              width: auto;
              height: auto;
              min-width: 100%;
              min-height: 100%;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
  
          span {
            font-family: 'Gilroy-Medium';
            font-size: 16px;
            line-height: 19px;
            margin: 0 0 0 8px;
            transition: 0.2s;
          }
        }
      }
    }
  
  }
  