.headerSlider {
  display: flex;
  height: 646px;

  .slider-nav {
    .slick-slide {
      opacity: 0.5;

      &.slick-current {
        opacity: 1;
      }

    }
  }

  .containerTextHeader {
    display: flex;
    align-items: center;
    padding: 54px 0;

    .informativCols {
      margin: 0 0 0 66px;

      h1 {
        font-size: 80px;
        line-height: 97px;
      }

      .text {
        font-size: 24px;
        line-height: 24px;
        margin: 15px 0 27px 0;
      }
    }

    .btn {
      background-color: #EF5101;
      color: #fff;
      font-family: 'Gilroy-SemiBold';
      font-size: 16px;
      line-height: 24px;
      border-radius: 26px;
      padding: 12px 27px;
      text-align: center;
      transition: 0.2s;
    }
  }

  .slider-for {
    width: calc(100% - 15%);

    .imgContainer {
      max-width: 529px;
      width: 100%;
      height: 538px;
      overflow: hidden;

      img {
        object-fit: cover;
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
      }
    }
  }

  .slider-nav {
    width: 15%;
    padding: 116px 0;
    position: relative;

    .imgContainer {
      &.smallImg {
        position: relative;
        cursor: pointer;
        width: 100px;
        height: 100px;
        overflow: hidden;
        margin: 0 auto 15px auto
      }
    }

    button {
      width: 32px;
      min-width: 32px;
      height: 32px;
      border-radius: 100%;
      background: rgba($black-color, $opacity-05);
      font-size: 0;
      position: absolute;

      &.slick-next {
        background-image: url("../../img/svg-icons/vector-prev.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 15px;
        left: 50%;
        margin-left: -16px;
        bottom: 21%;
        top: auto;
      }

      &.slick-prev {
        background-image: url("../../img/svg-icons/vector-next.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 15px;
        left: 50%;
        top: 11%;
        margin-left: -16px;
      }
    }
  }

}

@include desktop {
  .headerSlider {
    margin: 40px 0 70px 0;

    .slider-nav {
      display: none;
    }

    .slider-for {
      width: 100%;

      .imgContainer {
        max-width: 452px;
        height: 460px;
      }

    }

    .containerTextHeader {
      flex-direction: column-reverse;
      position: relative;
      padding: 0 0 65px 0;

      .informativCols {
        margin: 0;
        text-align: center;

        h1 {
          font-size: 48px;
          line-height: 58px;
        }

        .text {
          font-size: 16px;
          line-height: 24px;
          margin: 10px 0 21px 0;
        }

        .btn {
          position: absolute;
          bottom: 0;
          height: 40px;
          min-width: 168px;
          left: 50%;
          margin-left: -84px;
          padding: 8px 27px;
        }
      }

    }

    .slick-dots {
      display: flex !important;
      justify-content: center;
      align-items: center;
      margin-top: 40px;

      li {
        margin: 0 5px;

        &.slick-active {
          button {
            width: 10px;
            height: 10px;
            background: $main-color;

          }
        }

        button {
          width: 8px;
          height: 8px;
          font-size: 0;
          padding: 0;
          background: rgba(239, 81, 1, 0.3);
          border-radius: 50%;

          &.slick-active {
            background: $main-color;
          }
        }

      }
    }
  }
}

@include tablet{
  .headerSlider{
    height: auto;
    margin: 20px 0 0 0;
    .slider-for{
      .imgContainer{
        width: 196px;
        height: 200px;
      }
    }
    .containerTextHeader{
      .informativCols{
        h1{
          font-size: 36px;
          line-height: 44px;
        }
      }
    }
    .slick-dots{
      margin-top: 25px;
    }
  }
}