.menuResponsive{
  display: none;
  @include desktop{
    display: flex;
    flex-wrap: wrap;
    margin: 24px -24px 0 -24px;
  }
  @include tablet{
    margin: 10px -16px 0 -16px;
  }
  .col{
    width: 50%;
    border-top: 1px solid rgba($black-color, $opacity-10);
    padding: 22px 0 16px 0;
    text-align: center;
    @include tablet{
      padding: 18px 0 16px 0;
    }
    &:last-child{
      width: 100%;
    }
    &:nth-last-of-type(2n){
      border-left:1px solid rgba($black-color, $opacity-10);
    }
    a{
      font-size: 18px;
      line-height: 21px;
     font-family: 'Gilroy-SemiBold';
    }
  }
}
