// Modal product page

.containerProduct {
    display: flex;
    @include tablet {
      flex-direction: column;
    }
  
    .imgContainer {
      width: 500px;
      height: 500px;
      overflow: hidden;
      position: relative;
      @include desktop {
        width: 300px;
        height: 300px;
      }
  
      img {
        object-fit: cover;
        position: absolute;
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  
    .aboutProduct {
      width: 50%;
      margin-left: 35px;
      @include tablet {
        width: 100%;
        margin-left: 0;
      }
  
      .nameProduct {
        font-size: 32px;
        line-height: 24px;
        font-family: 'Gilroy-Bold';
        @include desktop {
          font-size: 24px;
          line-height: 24px;
        }
      }
  
      .product__attr {
        font-size: 18px;
        margin: 16px 0;
        @include desktop {
          font-size: 16px;
        }
        @include tablet {
          margin: 8px 0;
        }
      }
  
      .description {
        max-width: 352px;
        font-size: 20px;
        line-height: 29px;
        margin: 16px 0 40px 0;
        @include desktop {
          font-size: 18px;
          line-height: 29px;
          margin: 0 0 30px 0;
        }
        @include tablet {
          font-size: 16px;
          line-height: 26px;
        }
      }
  
      .productPriceContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 49px 0 20px 0;
        @include desktop {
          margin: 24px 0 20px 0;
        }
        @include tablet {
          margin: 24px 0 11px 0;
        }
  
        .price {
          font-family: 'Gilroy-Bold';
          font-size: 24px;
          line-height: 24px;
          @include desktop {
            font-size: 18px;
          }
          @include tablet {
            font-size: 20px;
            line-height: 24px;
          }
        }
  
        .btn {
          @include desktop {
            min-width: 136px;
          }
        }
  
        .priceCont {
          display: flex;
          align-items: baseline;
  
          .oldPrice {
            color: rgba(43, 42, 41, 0.2);
            margin-left: 8px;
            font-family: 'Gilroy-Bold';
            font-size: 16px;
            line-height: 24px;
            text-decoration: line-through;
          }
        }
  
        .product__counter {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border: 1px solid rgba($black-color, $opacity-10);
          border-radius: 20px;
          padding: 4px;
  
          .plus,
          .minus {
            width: 24px;
            height: 24px;
            cursor: pointer;
          }
  
          input {
            background: transparent;
            max-width: 50px;
            text-align: center;
            font-size: 16px;
            line-height: 13px;
            font-family: 'Gilroy-Medium';
          }
        }
      }
  
      .shareSocialLink {
        padding: 32px 0 0 0;
        @include desktop {
          padding: 24px 0 0 0;
        }
  
        p {
          font-size: 24px;
          line-height: 24px;
          font-family: 'Gilroy-Bold';
          margin-bottom: 16px;
          @include desktop {
            font-size: 18px;
            line-height: 24px;
          }
          @include tablet {
            font-size: 20px;
          }
        }
  
        .icons {
          display: flex;
          align-items: center;
  
          .icon {
            width: 40px;
            height: 40px;
            background: rgba($black-color, $opacity-05);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.2s;
            margin-right: 15px;
            @include desktop {
              width: 32px;
              height: 32px;
            }
            @include tablet {
              width: 40px;
              height: 40px;
            }
  
            &:last-child {
              margin-right: 0;
            }
  
            &:hover {
              background: $main-color;
  
              svg {
                fill: $white-color;
              }
            }
  
            svg {
              max-width: 20px;
              border-radius: 0;
              fill: $black-color;
              transition: 0.2s;
  
              &.fb {
                width: 11px;
                height: 20px;
              }
  
              &.im {
                width: 18px;
                height: 18px;
              }
  
              &.tw {
                width: 20px;
                height: 17px;
              }
            }
          }
        }
      }
    }
  }


// Login modal

.arcticmodal-container_i {
    &.loginModal {
      width: 475px;
      @include tablet {
        width: 343px;
      }
  
      .modal {
        width: inherit;
        padding: 0;
        @include tablet {
          width: 343px;
        }
  
        .padding {
          padding: 40px;
          text-align: left;
          @include mobile {
            padding: 30px 25px;
          }
  
          .h1 {
            margin-bottom: 10px;
          }
  
          .socials {
            display: flex;
            align-items: center;
            margin: 16px 0 24px 0;
  
            .icon {
              width: 40px;
              height: 40px;
              margin-right: 20px;
            }
          }
  
          .form-group {
            margin: 16px 0 0 0;
  
            .input-wrap {
              margin-bottom: 30px;
            }
  
            .registr {
              background: transparent;
              color: $black-color;
              margin-left: 24px;
              transition: .3s;
  
              &:hover {
                background: $main-color;
                color: $white-color;
              }
            }
          }
  
          .label {
            margin-bottom: 20px;
            @include mobile {
              top: -17px;
            }
  
            .check {
              margin-top: 0;
              top: 15%;
            }
          }
  
        }
      }
  
  
      .txt {
        font-size: 18px;
        line-height: 29px;
      }
  
  
      &.changeContent {
        .firstContent {
          display: none;
        }
  
        .secondContent {
          display: block;
        }
      }
  
  
      #countdown {
        button {
          background-color: transparent;
          color: $main-color;
          text-decoration: underline;
          font-family: 'Gilroy-Regular';
          @include tablet {
            padding: 10px 0;
          }
        }
      }
    }
  }
  


  @include tablet {
    .arcticmodal-container {
      &.top {
        height: inherit;
        bottom: inherit;
      }
    }
    .arcticmodal-container_i.loginModal .padding {
      padding: 48px 26px;
  
      .h1 {
        font-size: 48px;
        line-height: 58px;
      }
  
      .firstContent {
        margin-top: 10px;
        max-width: 100%;
  
        .txt {
          font-size: 16px;
        }
  
        .form-group {
          flex-direction: column;
          margin: 32px 0 0 0;
  
          .inputContainer {
            width: 100%;
            margin-right: 0;
            margin-bottom: 20px;
          }
  
          button {
            width: 100%;
          }
        }
      }
  
      .secondContent {
        margin-top: 20px;
        max-width: 100%;
  
        .form-group {
          .flex {
            flex-direction: column;
            align-items: flex-start;
  
            .inputContainer {
              width: 100%;
              margin: 0;
  
              &.small {
                margin: 0;
                width: 100%;
              }
            }
          }
  
          .log {
            width: 100%;
            margin-top: 20px;
            justify-content: center;
          }
        }
      }
    }
  }