.nav {
    display: flex;
    align-items: center;
    margin: 0 116px 0 40px;
    position: relative;
    @include extralarge {
      margin: 0 30px;
    }
    @include large {
      margin: 0 20px;
    }
    @include desktop {
      flex-direction: column;
      align-items: flex-start;
      overflow: auto;
    }
  
    & > a {
      font-family: 'Gilroy-Medium';
      font-size: 16px;
      line-height: 19px;
      padding: 10px 20px;
      @include large {
        padding: 10px 10px;
      }
      @include desktop {
        font-size: 22px;
        line-height: 26px;
        padding: 15px 10px;
      }
  
      &:hover {
        color: $main-color;
      }
    }
  
    &__nav-container {
      @include desktop {
        position: fixed;
        top: 83px;
        bottom: 0;
        left: -335px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: $white-color;
        width: 335px;
        margin: 0;
        transition: 0.4s;
        z-index: 2;
        overflow: auto;
      }
      @include tablet {
        top: 53px;
      }
  
      .header {
        &__user-auth-container {
          display: none;
          @include desktop {
            display: flex;
            margin: 40px 0 5px 15px;
          }
        }
  
        &__unauth-user {
          margin: 0;
        }
  
        &__auth-user {
          margin: 10px 15px;
        }
  
        &__lang-container {
          display: none;
          @include desktop {
            display: block;
          }
  
          .dropdown__menu {
            display: flex;
            position: initial;
            top: initial;
            left: initial;
            transform: translate(0, 0);
            width: initial;
            background: #fff;
            box-shadow: none;
            border-radius: 0;
            padding: 25px 20px;
            z-index: 2;
            visibility: visible;
            opacity: 1;
            transition: 0s;
            @include desktop {
              flex-direction: column;
            }
  
            .dropdown__item {
              padding: 10px;
              @include desktop {
                font-size: 16px;
                font-family: 'Gilroy-Medium';
              }
            }
  
            .dropdown-mobile-menu {
              display: flex;
              align-items: center;
  
              .dropdown__item {
                position: relative;
                display: inline-block;
                display: flex;
  
                &.current-lang {
                  opacity: 0.5;
                  padding-right: 12px;
                  &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 4px;
                    transform: translate(0, -50%);
                    width: 5px;
                    height: 5px;
                    background-color: $main-color;
                    border-radius: 50%;
                  }
                }
  
                img {
                  margin-right: 7px;
                }
              }
            }
          }
        }
      }
    }
  
    &__top-row{
      @include desktop{
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
      }
    }
  
    &__bottom-row {
      display: none;
      border-top: 1px solid rgba($black-color, 0.1);
      @include desktop {
        display: block;
      }
  
      .social-links {
        display: flex;
        margin: 15px 0 0 30px;
  
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;
          background: rgba($black-color, 0.1);
          border-radius: 50%;
          margin: 0 16px 0 0;
  
          &:hover {
            background: $main-color;
          }
        }
      }
  
      .copyright {
        color: rgba($black-color, 0.5);
        font-size: 12px;
        line-height: 21px;
        margin: 15px 0 10px 30px;
      }
    }
  
    &__opened {
      @include desktop {
        transform: translate(335px, 0);
      }
    }
  
    &__close-nav {
      position: fixed;
      top: 83px;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(43, 42, 41, 0.4);
      z-index: 1;
      transition: 0.2s;
      visibility: hidden;
      opacity: 0;
      @include tablet {
        top: 53px;
      }
    }
  
    &__close-nav_visible {
      visibility: visible;
      opacity: 1;
    }
  
    .categoryContainer {
      &.has-subcategories{
        .category{
          padding: 10px 45px 10px 20px;
          @include desktop{
            padding: 15px 45px 15px 10px;
          }
          &:after{
            content: "";
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translate(0, -50%);
            width: 24px;
            height: 24px;
            background: url(../../img/svg-icons/carret-down.svg) no-repeat;
            background-position: center;
            background-size: 100%;
            transition: 0.2s;
            @include desktop{
              transform: translate(0, -50%) rotate(-90deg);
            }
          }
        }
      }
      .category {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-family: 'Gilroy-Medium';
        font-size: 16px;
        line-height: 19px;
        padding: 10px 20px;
        position: relative;
        @include desktop {
          font-size: 22px;
          line-height: 26px;
          padding: 15px 10px;
          display: inline-flex;
        }
  
        &.active {
          &:after{
            transform: translate(0, -50%) scale(1, -1);
            @include desktop{
              transform: translate(0, -50%) rotate(-90deg);
            }
          }
        }
      }
  
      .subcategoryContainer {
        display: none;
        position: absolute;
        top: 42px;
        left: 0;
        border-radius: 10px;
        width: 100%;
        &.overflow-hidden{
          overflow: hidden;
        }
        @include desktop {
          height: 100vh;
          max-height: 100%;
          background-color: $white-color;
          border-radius: 0;
          top: 0;
          padding-top: 25px;
        }
  
        &.active {
          display: block;
        }
  
        .subcategory {
          width: 191px;
          box-shadow: -6px 0px 6px rgba(0, 0, 0, 0.05);
          &:hover {
            .title{
              background-color: $black-color;
              color: $white-color;
              @include tablet{
                background-color: initial;
                color: initial;
              }
              & > *{
                color: initial;
              }
            }
          }
  
          @include desktop {
            width: 100%;
            box-shadow: none;
          }
          &.has-subcategories{
            .title{
              position: relative;
              &:after{
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                background: url("../../img/svg-icons/carret-down.svg") no-repeat center;
                width: 24px;
                height: 24px;
                background-size: 24px;
                transform: translate(0, -50%) rotate(-90deg);
                display: none;
                @include desktop{
                  display: block;
                }
              }
            }
          }
  
          &.first-item {
            .title {
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
              border-top: 1px solid #eaeaea;
              @include desktop {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-top: none;
              }
            }
          }
  
          &.last-item {
            .title {
              border-bottom: none;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
              @include desktop {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
              }
            }
          }
  
  
          .title {
            display: block;
            font-size: 14px;
            line-height: 16px;
            font-family: 'Gilroy-Medium';
            padding: 12px 16px;
            border-bottom: 1px solid #EAEAEA;
            border-left: 1px solid #EAEAEA;
            border-right: 1px solid #eaeaea;
            background: $white-color;
            width: 100%;
            @include desktop{
              border-bottom: none;
              border-left: none;
              font-size: 17px;
              padding: 10px 24px 10px 14px;
              border-right: none;
            }
            a{
              transition: 0s;
            }
  
          }
  
          .linksContainer {
            display: none;
            align-items: flex-start;
            position: absolute;
            background: #fff;
            box-shadow: 6px 2px 10px rgba(0, 0, 0, 0.1);
            width: calc(100% - 191px);
            top: 0;
            left: 185px;
            height: 100%;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
            cursor: default;
            z-index: 2;
            border-left: 1px solid #EAEAEA;
            padding: 5px 0 0 0;
            overflow-y: auto;
  
            &.active {
              display: flex;
              @include desktop{
                display: block;
              }
            }
  
            @include desktop {
              width: 100%;
              left: 0;
              border-radius: 0;
              padding-top: 20px;
              border-left: none;
              box-shadow: none;
            }
  
            a {
              display: inline-block;
              padding: 6px 16px 6px 23px;
              font-size: 14px;
              line-height: 16px;
              font-family: 'Gilroy-Medium';
              display: block;
              &:hover{
                color: $main-color;
              }
              @include desktop{
                padding: 10px 14px;
                font-size: 18px;
              }
            }
          }
        }
  
        .backOneStep {
          display: none;
          align-items: center;
          font-size: 16px;
          font-family: 'Gilroy-SemiBold';
          align-items: center;
          margin: 0 0 10px 10px;
  
          img {
            width: 24px;
            height: 24px;
            transform: rotate(90deg);
          }
  
          @include desktop {
            display: flex;
          }
        }
      }
    }
  }
