.order-history-container {
  margin: 38px 0 150px 0;

  .history-section {
    margin-bottom: 20px;
    border: 1px solid rgba(43, 42, 41, 0.1);
    border-radius: 10px;

    .shortInfo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 25px 20px;

      .text {
        font-family: 'Gilroy-SemiBold';
        font-size: 16px;
        line-height: 19px;
      }

      .col-date {
        width: 13%;

        .date {
          font-size: 12px;
          line-height: 14px;
          font-family: 'Gilroy-SemiBold';
        }

        .number {
          font-size: 16px;
          line-height: 19px;
          margin-top: 5px;
          font-family: 'Gilroy-Bold';
        }
      }

      .col-images {
        display: flex;
        width: 30%;

        .img {
          width: 12%;
          min-width: 70px;
          height: 70px;
          margin-right: 10px;
          display: flex;
          align-items: center;
          position: relative;

          &.opacity {
            img {
              opacity: 0.3;
            }
          }

          .moreProd {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 24px;
            line-height: 29px;
            font-family: 'Gilroy-Bold';
          }

          .nr {
            font-size: 24px;
            font-weight: 400;
            line-height: 50px;
          }
        }
      }

      .col-in-process {
        display: flex;
        align-items: center;
        width: 20%;


        .circle {
          width: 16px;
          height: 16px;
          margin-right: 10px;
          border-radius: 50%;

          &.in-process {
            background: url("../../img/inprocess.png") no-repeat center;
          }

          &.finish {
            background: url("../../img/finish.png") no-repeat center;
          }

          &.rejected {
            background: url("../../img/error.png") no-repeat center;
          }
        }
      }

      .col-price {
        width: 10%;
        text-align: right;
        margin-right: 26px;

        .price {
          font-size: 16px;
          line-height: 19px;
          font-family: 'Gilroy-Bold';
          text-transform: uppercase;
        }
      }

      .col-open-close {
        .open {
          background: url("../../img/vector.png") no-repeat center;
          width: 18px;
          height: 18px;
          transition: all .3s ease;
          cursor: pointer;
        }
      }

      &.active .col-open-close .open {
        transform: rotate(180deg);
      }

      .repeat-order {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 20%;

        .repeat-order-img {
          background: $main-color url("../../img/repeat-order.png") no-repeat center;
          width: 36px;
          min-width: 36px;
          height: 36px;
          border-radius: 50%;
          margin-left: 14px;
        }
      }
    }

    .mainInfo {
      display: none;
      padding: 9px 88px 36px 24px;

      .table {
        display: table;
        width: 100%;
        position: relative;

        &:before {
          content: '';
          height: 1px;
          background: rgba(43, 42, 41, 0.1);
          left: 0;
          right: -50px;
          position: absolute
        }

        &:after {
          content: '';
          height: 1px;
          background: rgba(43, 42, 41, 0.1);
          left: 0;
          right: -50px;
          position: absolute
        }

        .cols {
          display: table-row;

          > div {
            display: table-cell;
            vertical-align: middle;
            //padding-bottom: 5px;
            text-align: right;

            &.left {
              text-align: left;
            }

          }
        }
      }

      .cols {
        // display: flex;


        .col-products {
          // max-width: 65%;
          // flex-basis: 65%;
          // display: flex!important;
          // align-items: center;

          .flex {
            display: flex;
            align-items: center;
            flex-direction: row;
          }

          .product-img {
            width: 148px;
            height: 148px;
            overflow: hidden;

            img {
              width: 100%;
            }
          }

          .colInfo {
            margin-left: 11px;
            text-align: left;
            max-width: 200px;

            .product__attr {
              font-size: 12px;
              line-height: 24px;
            }

            .product__desc {
              font-size: 12px;
              line-height: 18px;
            }
          }

          .title-product {
            font-size: 14px;
            line-height: 24px;
            font-family: 'Gilroy-Bold';
          }
        }

        .col-sumary {
          display: flex;
          align-items: center;
          justify-content: space-between;
          max-width: 25%;
          flex-basis: 25%;
          margin-left: 40px;


          .add {
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 1.2px;
            line-height: 28px;
            padding: 0 10px;
          }
        }

        .col-open-close {
          width: 14%;
        }

      }

      .money {
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        font-family: 'Gilroy-Bold';


      }

      .delivery-cols {
        display: flex;
        align-items: center;
        padding: 36px 0 0 0;

        .col-delivery {
          display: flex;
          align-items: center;
          width: 50%;

          .text {
            margin-right: 17px;
            font-size: 18px;
            line-height: 22px;
            font-family: 'Gilroy-Bold';
          }

          .info-address {
            font-size: 18px;
            line-height: 26px;
          }

        }

        .price-delivery {
          width: 50%;
          display: flex;
          justify-content: flex-end;
          margin-left: 64px;
          text-align: right;
        }
      }
    }
  }
}


//EMPTY ORDER HISTORY
.emptyOrderHistory {
  padding: 21px 0 161px 0;

  .text {
    font-size: 28px;
    line-height: 33px;
  }

  .img {
    padding-top: 40px;
    overflow: hidden;
    max-height: 580px;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

}

@include desktop {
  .emptyOrderHistory {
    padding: 21px 0 90px 0;
  }
  .order-history-container {
    margin: 32px -25px 100px -25px;

    .history-section {
      border-radius: 0;
      border: none;
      border-top: 1px solid rgba(43, 42, 41, 0.1);
      border-bottom: 1px solid rgba(43, 42, 41, 0.1);

      .shortInfo {
        padding: 25px 24px 25px 24px;
        flex-wrap: wrap;

        .col-images {
          width: 70%;
          margin-bottom: 20px;
          justify-content: flex-end;
        }

        .col-date {
          width: 30%;
          margin-bottom: 20px;

          .number {
            font-size: 16px;
          }

          .date {
            font-size: 13px;
          }
        }

        .repeat-order {
          width: 30%;
        }

        .col-price {
          width: 13%;
          margin-right: 0;

          .price {
            font-size: 16px;
          }
        }
      }

      .mainInfo {
        padding: 16px 18px 36px 16px;

        .delivery-cols {

          .col-delivery {
            width: 60%;
          }

          .price-delivery {
            width: 45%;
            margin-left: 0;
          }
        }

        .cols {
          .col-sumary {
            .add {
              font-size: 13px;
            }
          }
        }
      }
    }

    .col-open-close {
      display: none;
    }
  }
  .order-history-container .history-section .mainInfo .table:before {
    right: 0;
  }
  .order-history-container .history-section .mainInfo .table:after {
    right: 0;
  }
}

@include tablet {
  .emptyOrderHistory {
    padding: 10px 0 0 0;

    .text {
      font-size: 18px;
      line-height: 24px;
    }

    .img {
      padding-top: 20px;
    }
  }
  .orderHistory {
    padding: 24px 0 0 0;
  }
  .order-history-container {
    margin: 24px 0 0 0;

    .history-section {
      border-top: none;
      border-bottom: none;
      border: 1px solid rgba(43, 42, 41, 0.1);
      border-radius: 10px;
      margin: 0 0 16px 0;

      .shortInfo {

        .col-images {
          width: 50%;
        }
        .repeat-order{
          .text{
            display: none;
          }
        }
      }
    }
  }

  .order-history-container .history-section .mainInfo .table {
    display: block;

    .cols {
      display: block;
      margin-bottom: 25px;

      .col-products {
        width: 100%;
        text-align: left;
        margin-bottom: 17px;
      }

      > div {
        display: inline-block;
      }

      .money, .add {
        width: calc(33.333% - 3px);
        padding-left: 0;
        padding-right: 0;
        white-space: nowrap;
        font-family: 'Gilroy-Bold';
        font-size: 12px;
        text-align: center;
      }

      .col-products + .money {
        text-align: left;
      }

      .money:last-of-type {
        text-align: right;
      }
    }
  }


  .order-history-container {
    .history-section {


      .shortInfo {
        justify-content: space-between;
        padding: 18px 16px;
        .repeat-order{
          width: 30%;
          justify-content: center;
          padding-top: 16px;
          .repeat-order-img{
            width: 26px;
            min-width: 26px;
            height: 26px;
            background-size: 18px;
          }
        }
        .col-price {
          width: 35%;
          margin-top: 30px;
          margin-right: 0;

          .price {
            font-size: 12px;
          }
        }

        .col-in-process {
          width: 35%;
          margin-top: 30px;

          .circle {
            min-width: 14px;
            width: 14px;
            height: 14px;
          }

          .text {
            //display: none;
            font-size: 12px;
          }
        }

        .col-open-close {
          display: none;
        }

        .col-images {
          .img {
            min-width: 50px;
            width: 50px;
            height: 50px;
            margin-right: 5px;

            &:last-child {
              margin-right: 0;
            }

            .moreProd {
              font-size: 20px;
            }
          }
        }

        .col-date {
          width: 50%;

          .number {
            font-size: 16px;
          }

          .date {
            font-size: 12px;
            line-height: 14px;
          }
        }
      }

      .mainInfo {
        padding: 16px;

        .money {
          font-size: 12px;
        }

        .cols {
          .col-products {
            .title-product {
              font-size: 14px;
            }

            .product-img {
              width: 108px;
              height: 108px;
            }
          }

          .col-sumary {
            max-width: 50%;
            flex-basis: 50%;

            .money {
              font-size: 12px;
            }

            .add {
              font-size: 11px;
              padding: 0 7px;
            }
          }
        }

        .delivery-cols {
          padding: 20px 0 0 0;
          align-items: flex-start;

          .col-delivery {
            width: 70%;
            flex-direction: column;
            align-items: flex-start;

            .info-address {
              font-size: 12px;
              line-height: 18px;
            }

            .text {
              margin-right: 0;
              font-size: 16px;
              line-height: 19px;
            }
          }

        }
      }
    }
  }
}

