.personalDate {

  .form-group {
    margin: 42px 0 113px 0;
    max-width: 585px;

    .form {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 32px;

      &.top {
        margin-bottom: 48px;
      }
    }

    .inputContainer {
      margin: 24px 30px 0 0;
      width: calc(50% - 30px);

      &:nth-child(2) {
        margin: 24px 0 0 0;
      }

      &.big {
        width: 100%;
      }

      &.small {
        width: 73px;
      }
    }

    button {
      padding: 8px 24px;
    }
  }
}

@include tablet{
  .personalDate{
    padding: 24px 0 0 0;
    .form-group{
      margin: 34px 0 50px 0;
      h5{
        font-size: 20px;
      }
      .inputContainer{
        width: 100%;
        margin: 20px 0 0 0;
        &:nth-child(2){
          margin: 20px 0 0 0;
        }
        &.big{
          width: 100%;
        }
        &.small{
          width: 101px;
          margin: 20px 20px 0 0;
        }
      }
      .form{
        margin-bottom: 20px;
        &.top{
          margin-bottom: 40px;
        }
      }
    }
  }

}