.restaurantSection {
  .banerImg {
    height: 590px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 36px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .h1 {
      color: $white-color;
    }

    h5 {
      color: $white-color;
      margin-top: 17px;
      font-family: 'Gilroy-Medium';
      line-height: 34px;
    }
  }

  .ourRestaurants {
    display: flex;

    .restaurant {
      background: $white-color;
      border-right: 1px solid rgba(43, 42, 41, 0.1);
      width: 33.33%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 32px 35px;

      .address {
        font-size: 18px;
        line-height: 29px;
        max-width: 271px;
        font-family: 'Gilroy-Bold';
      }

      &:nth-child(3n) {
        border-right: none;
      }

      .btn {
        font-family: 'Gilroy-Regular';
        padding: 8px 34px;
      }
    }
  }

  .iframeRestaurant {
    height: 858px;
  }
}

.restaurantContainer {
  margin: 36px 0 180px 0;
}

.restaurantPage {
  .flexCol {


    .one-time {
      max-width: 787px;
      float: left;

      .imgRestaurant {
        border-radius: 10px;
        width: 787px;
        height: 600px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .slick-dots {
        position: absolute;
        bottom: 16px;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex !important;
        align-items: center;

        li {

          &.slick-active {
            button {
              background: $white-color;
              width: 14px;
              height: 14px;
            }

          }

          button {
            width: 12px;
            height: 12px;
            font-size: 0;
            background: rgba(255, 255, 255, 0.7);
            border-radius: 50%;
            padding: 0;
            margin-right: 12px;
            @include tablet{
              width: 10px;
              height: 10px;
            }
          }
        }
      }
    }


    .col {
      float: right;
      width: calc(100% - 820px);

      &.middle {
        margin: 38px 0;
      }
    }

    &.reverse {
      margin-top: 100px;
      width: 100%;
      justify-content: space-between;
      display: flex;

      .form-group {
        width: 30%;
      }

      .imgRestaurant {
        width: 70%;
        margin-right: -35px;
        max-width: 938px;
        border-radius: 10px 0 0 10px;
        overflow: hidden;
        height: 590px;
        position: relative;

        img {
          object-fit: cover;
          position: absolute;
          width: 100%;
          max-width: 100%;
          max-height: 100%;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          height: 100%;
        }
      }

      .form-group {
        .inputContainer {
          margin-top: 24px;
          max-width: 380px;
        }

        button {
          width: 100%;
          max-width: 380px;
          margin-top: 32px;
        }
      }
    }
  }

  h5 {
    margin-top: 24px;
  }


  h3 {
    margin-bottom: 24px;
  }

  .txt {
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 16px;

    &.bold {
      font-family: 'Gilroy-Bold';
    }

    a {
      font-family: 'Gilroy-Regular';
    }
  }
}

@include extralarge {
  .restaurantContainer{
    margin: 40px 0 120px 0;
  }
  .restaurantPage {
    .txt{
      font-size: 20px;
      line-height: 35px;
    }
    .flexCol {
      display: flex;
      flex-wrap: wrap;

      .one-time {
        float: none;
        margin: 40px auto;
        width: 100%;

      }

      .col {
        float: none;
        width: 50%;

        &.middle {
          margin: 0;
        }

        &.titleAdDress {
          order: -1;
          width: 100%;

          h5 {
            margin-top: 16px;
            font-size: 20px;
            line-height: 30px;
          }
        }
      }
      &.reverse{
        .imgRestaurant{
          height: 374px;
          margin-right: -24px;
          width: 50%;
        }
        .form-group{
          width: 50%;
          max-width: 320px;
        }
      }
    }
  }
}

@include desktop {
  .restaurantSection {
    .banerImg {
      height: 315px;
      padding: 25px;
    }

    .h1 {
      font-size: 40px;
      line-height: 48px;
    }

    h5 {
      font-size: 20px;
      line-height: 30px;
      margin-top: 16px;
    }

    .ourRestaurants {
      flex-direction: column;

      .restaurant {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid rgba(43, 42, 41, 0.1);
        padding: 21px 23px;

        .address {
          max-width: 550px;
        }
      }
    }
  }
}

@include tablet {
  .restaurantSection {
    .banerImg {
      height: 310px;
      padding: 16px;
    }

    .h1 {
      font-size: 36px;
      line-height: 48px;
    }

    h5 {
      font-size: 20px;
      line-height: 26px;
      margin-top: 15px;
    }

    .ourRestaurants {
      .restaurant {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 16px;

        .address {
          font-size: 18px;
          line-height: 26px;
          max-width: 290px;
          margin-bottom: 15px;
        }
      }
    }

    .iframeRestaurant {
      height: 424px;
      overflow: hidden;
    }
  }
  .restaurantContainer{
    margin: 24px 0 80px 0;
  }
  .restaurantPage{
    .flexCol{
      .col{
        &.titleAdDress{
          h5{
            margin-top: 12px;
          }
        }
      }
      .one-time{
        margin: 30px -16px;
        width: 100vw;
        .imgRestaurant{
          border-radius: 0;
          height: 312px;
        }
      }
      &.reverse{
        flex-direction: column-reverse;
      }
    }
  }
  .restaurantPage{
    h3{
      font-size: 30px;
      line-height: 48px;
      margin-bottom: 10px;
    }
    .flexCol{
      .col{
        width: 100%;
        &.middle{
          margin-bottom: 15px;
        }
      }
      &.reverse{
        margin-top: 40px;
        .imgRestaurant{
          height: 245px;
          width: 100vw;
          border-radius: 0;
          margin: 0 -16px;
        }
        .form-group{
          width: 100%;
          margin-top: 30px;
          max-width: 100%;
          .inputContainer{
            margin-top: 20px;
          }
          button{
            margin-top: 24px;
          }
        }
      }
    }
  }
}