.resultSearchContainer{
  padding: 73px 0 150px 0;
  max-width: 1090px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .noResultSearch{
    width: 50%;
    p{
      font-size: 40px;
      line-height: 48px;
      font-family: 'Gilroy-Bold';
      margin-bottom: 34px;
      max-width: 530px;
    }
    button{
      padding: 8px 24px;
    }
  }
  .imgContainer{
    width: 376px;
    height: 356px;
    overflow: hidden;
    position: relative;
    img {
      object-fit: cover;
      position: absolute;
      width: auto;
      height: auto;
      min-width: 100%;
      min-height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
      transition: .2s;
    }
  }
}


.viewResultSearch{
  padding: 47px 0 155px 0;
  .result{
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 24px;
  }
  h1{
    font-size: 60px;
    line-height: 79px;
  }
  .products-list{
    padding: 40px 0 0 0;
  }
}



@include desktop{
  .viewResultSearch{
    padding: 40px 0 0 0;
    .result{
      font-size: 20px;
      margin-bottom: 16px;
    }
    h1{
      font-size: 40px;
      line-height: 48px;
    }
    .products-list{
      padding: 24px 0 90px 0;
    }
  }

  .resultSearchContainer{
    padding: 77px 0 60px 0;
    flex-direction: column-reverse;
    .noResultSearch{
      margin-top: 32px;
      text-align: center;
      width: 100%;
      p{
        font-size: 40px;
        line-height: 48px;
        margin: 0 auto 34px auto;
      }
    }
  }
}

@include tablet{
  .viewResultSearch{
    padding: 24px 0 0 0;
    .result{
      margin-bottom: 5px;
    }
    h1{
      font-size: 30px;
      line-height: 48px;
    }
    .products-list{
      padding: 20px 0 0 0;
    }
  }
  .resultSearchContainer{
    padding: 80px 0 0 0;
    .noResultSearch{
      margin-top: 40px;
      p{
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 20px;
      }
    }
    .imgContainer{
      width: 130px;
      height: 123px;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
    }
  }
}