.sushiPartySection {
  padding: 0 0 110px 0;

  h5 {
    max-width: 299px;
    padding: 17px 0 48px 0;
  }

  .large-col-offerts {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    .offer {
      position: relative;
      width: calc(20% - 30px);
      margin: 30px 15px;

      .imgContainer {
        position: relative;
        width: 250px;
        height: 250px;
        overflow: hidden;
      }

      img {
        object-fit: cover;
        position: absolute;
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.4s;
      }

      .footerInfo {
        margin-top: 10px;

        .title {
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 16px;
          font-family: 'Gilroy-Bold';
        }

        .text {
          font-size: 14px;
          line-height: 22px;
          text-align: justify;
        }
      }
    }
  }

  .form-group {


    h5 {
      padding: 0;
    }

    .inputContainer {
      margin-top: 24px;
    }

    .bigBtn {
      width: 100%;
      height: 48px;
      border-radius: 33px;
      margin-top: 32px;
    }
  }

  &.sushiPartyPage {
    margin-bottom: 180px;
    .large-col-offerts {
      .offer {
        position: relative;

        &:hover {
          .img {
            display: flex;
          }
        }

        .img {
          width: 48px;
          height: 48px;
          align-items: center;
          justify-content: center;
          display: flex;
          background: $main-color;
          border-radius: 50%;
          position: absolute;
          top: -10px;
          right: 0;
          z-index: 2;
          display: none;
          @include desktop{
            display: flex;
          }

          img {
            min-width: inherit;
            min-height: inherit;
          }
        }

        .footerInfo {
          .title {
            margin: 0;
          }

          .product__attr {
            color: #2B2A29;
            opacity: 0.3;
            margin: 5px;
          }

          .text {
            text-align: inherit;
            max-width: 240px;
            margin-bottom: 10px;
          }

          .button {
            width: 100%;

            &.grayBtn {
              background: rgba($black-color, $opacity-10);
              color: $black-color;
            }
          }
        }

      }
    }

    .info-form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 100px;

      .form-group {
        width: 30%;
        max-width: 380px;
      }

      .imgContainer {
        width: 70%;
        max-width: 938px;
        height: 590px;
        margin-right: -35px;
        border-radius: 10px 0 0 10px;

        img {
          width: 100%;
          border-radius: 10px 0 0 10px;
        }
      }
    }
  }
}

@include large {
  .sushiPartySection {
    padding: 40px 0 90px 0;

    .large-col-offerts {
      .offer {
        width: calc(25% - 30px);
      }
    }
  }
}

@include desktop {
  .sushiPartySection {
    .large-col-offerts {
      .offer {
        width: calc(33.33% - 30px);

        .imgContainer {
          width: 220px;
          height: 220px;
        }
      }
    }



    &.sushiPartyPage {
      margin-bottom: 0;
      .offer{
        .large-col-offerts{
          .img{
            display: flex;
          }
        }

      }
      .info-form {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 50px;
        .form-group{
          margin-bottom: 50px;
          width: 50%;
          max-width: 100%;
        }
        .imgContainer{
          max-width: 100%;
          width: 100%;
          height: auto;
          margin: 0;
          img{
            border-radius: 10px;
          }
        }
      }
    }
  }
}

@include tablet {
  .sushiPartySection {
    padding: 24px 0 20px 0;

    h5 {
      padding: 20px 0 40px 0;
    }

    h3 {
      font-size: 26px;
      line-height: 48px;
    }

    .large-col-offerts {
      margin: 10px 0 10px 0;
      flex-direction: column;

      .offer {
        margin: 0 0 30px 0;
        width: 100%;
        .img{
          top: -12px;
          right: 76px;
        }

        .imgContainer {
          width: 250px;
          height: 250px;
        }

        .footerInfo {
          max-width: 250px;
        }
      }
    }

    .form-group {
      max-width: 100%;
      margin: 10px 0 0 0;

      h5 {
        font-size: 20px;
        line-height: 34px;
      }

      .inputContainer {
        margin: 20px 0 0 0;
      }
    }
    &.sushiPartyPage {
      margin-bottom: 65px;
      .large-col-offerts {
        .offer {
          margin-bottom: 45px;
          .img{
            top: -12px;
            right: 76px;
          }
        }
      }

      .info-form {
        margin-top: 0;
        .form-group{
          margin-bottom: 50px;
          width: 100%;
        }
        .imgContainer{
          height: auto;
        }
      }

    }
  }
  .sushiParty {
    .feedback-form__inner {
      margin-top: 40px;
    }
  }
}