.terms{
  padding: 80px 0 120px 0;
  max-width: 784px;
  .h1{
    margin-bottom: 24px;
  }
  h5{
    font-size: 26px;
    line-height: 38px;
    margin-bottom: 22px;
  }
  p{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 48px;
  }
}

@include desktop{
  .terms{
    padding: 40px 0 50px 0;
  }
}

@include tablet{
  .terms{
    padding: 24px 0 0 0;
    .h1{
      margin-bottom: 16px;
    }
    h5{
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 30px;
    }
    p{
      margin-bottom: 40px;
    }
  }
}