#toast-container{
  @include tablet{
    max-height: inherit;
  }
}

.toast-bottom-left{
  left: 32px;
  bottom: 32px;
  @include mobile{
    left: 32px;
    bottom: 32px;
  }
}
.toast-title{
  font-size: 20px;
  line-height: 38px;
  font-family: 'Gilroy-Bold';
  margin-bottom: 2px;
  @include tablet{
    font-size: 16px;
    line-height: 25px;
    max-width: 210px;
  }
}
#toast-container > .toast-error {
  background-image: url("../../img/error.png") !important;
  @include tablet{
    background-size: 40px 40px;
  }
  .toast-message{
    font-size: 20px;
    line-height: 38px;
    font-family: 'Gilroy-Bold';
    max-width: 100%;
    @include tablet{
      font-family: 'Gilroy-Regular';
      font-size: 16px;
      max-width: 210px;
      line-height: 25px;
    }
  }
}
button.toast-close-button{
  color: $black-color;
  right: 16px;
  top: 16px;
  position: absolute;
  width: 16px;
  height: 16px;
  font-size: 0;
  background: url("../../img/toastrClose.png") no-repeat center;
}
#toast-container > div {
  padding: 15px 15px 15px 80px;
  width: 604px;
  height: 120px;
  display: flex;
  align-items: center;
  color: #2e3135;
  margin: 20px 0 0 0;
  border-radius: 10px;
  opacity: 1;
  @include tablet{
    padding: 15px 15px 15px 65px;
  }
}

#toast-container > div:hover {
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.25);
}

.toast-error {
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.25);
  background-color: $white-color;
  border-radius: 10px;
  border-left: 10px solid #F20707;
  @include tablet{
    background-size: 40px 40px;
  }
}

.toast-message {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Gilroy-Regular';
  max-width: 367px;
  @include tablet{
    font-family: 'Gilroy-Regular';
    font-size: 16px;
    max-width: 210px;
    line-height: 25px;

  }
}
#toast-container > .toast-warning{
  background-image: url("../../img/warning.png") !important;
  background-color: $white-color;
  border-radius: 10px;
  border-left: 10px solid #F9BC34;
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.25);
  background-size: 48px 48px;
  @include tablet{
    background-size: 40px 40px;
  }
  .toast-message{
    font-size: 20px;
    line-height: 38px;
    font-family: 'Gilroy-Bold';
    max-width: 100%;
    @include tablet{
      font-family: 'Gilroy-Regular';
      font-size: 16px;
      max-width: 210px;
      line-height: 25px;
    }
  }
}
#toast-container > .toast-info {
  background-image: url("../../img/info.png") !important;
  background-color: $white-color;
  border-radius: 10px;
  border-left: 10px solid #00BDB6;
  @include tablet{
    background-size: 40px 40px;
  }
  .toast-message{
    font-size: 20px;
    line-height: 38px;
    font-family: 'Gilroy-Bold';
    max-width: 100%;
    @include tablet{
      font-family: 'Gilroy-Regular';
      font-size: 16px;
      max-width: 210px;
      line-height: 25px;
    }
  }
}


#toast-container > .toast-success {
  background-image: url("../../img/success.png") !important;
  background-repeat: no-repeat;
  @include tablet{
    background-size: 40px 40px;
    height: auto;
  }
}

#toast-container > .toast-success {
border-left: 10px solid  #4FC048;
  background-color: $white-color;
  border-radius: 10px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.25);
}

@include tablet {
  #toast-container > div {
    width: 320px;
    height: 90px;
  }
}
