.btnAnchorSlider{
	display: none;
	flex-direction: column;
	align-items: center;
	font-family: 'Gilroy-SemiBold';
	font-size: 18px;
	line-height: 21px;
	@include desktop{
		display: flex;
	}
	&.active{
		svg{
			transform: scale(1, -1);
		}
	}
	svg{
		width: 14px;
		height: 5px;
		fill: none;
		stroke: $black-color;
		stroke-linecap: round;
		stroke-linejoin: round;
		margin: 2px 0 0 0;
	}
}

.anchorSliderSubstrate{
	&.static {
		width: 100px;
		height: 100px;
		transition: 0.2s;
		@include tablet{
			width: 80px;
			height: 80px;
		}
	}
}
.anchorSlider {
	border-top: 1px solid rgba($black-color, $opacity-05);
	border-bottom: 1px solid rgba($black-color, $opacity-05);
	position: sticky;
	z-index: 3;
	background: $white-color;
	@include desktop{
		position: fixed;
		top: 82px;
		left: 0;
		width: 100%;
		opacity: 0;
		visibility: hidden;
	}
	@include tablet{
		top: 52px;
	}
	&.active{
		opacity: 1;
		visibility: visible;
	}
	&.static {
		.categoriesListLink{
			.imgContainer {
				height: 0;
				@include desktop{
					height: 100px;
				}
				@include tablet{
					height: 80px;
				}
			}
		}
		&:hover {
			.imgContainer {
				height: 100px;
				@include desktop{
					height: 100px;
				}
				@include tablet{
					height: 80px;
				}
			}
		}
	}

	.multiple-items{
		display: none;
		&.slick-initialized{
			display: block;
		}
		@include large{
			margin: 0 -35px;
		}
		@include desktop{
			margin: 0 -24px;
		}
		@include tablet{
			margin: 0 -16px;
		}
	}

	.categoriesListLink {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 25px 0;
		position: relative;
		cursor: pointer;
		@include tablet{
			padding: 0 0 15px 0;
		}
		&:hover{
			.title{
				color: $main-color;
			}
		}

		&:after {
			content: '';
			height: 4px;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background: transparent;
			transition: background .2s;
		}

		&.active {
			&:after {
				background: $main-color;
			}
		}

		.imgContainer {
			width: 100px;
			height: 100px;
			overflow: hidden;
			transition: 0.2s;
			@include tablet{
				width: 80px;
				height: 80px;
			}
	
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.title {
			font-size: 16px;
			line-height: 24px;
			margin-top: 5px;
			transition: 0.2s;
			text-align: center;
			@include tablet{
				font-size: 14px;
			}
		}
	}

	.slick-prev,
	.slick-next{
		display: none;
	}

	.slick-arrow{
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		display: flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background: $light-gray-color;
		font-size: 0;
		z-index: 2;
		cursor: pointer;
		transition: 0.2s;
		&.slick-hidden,
		&.slick-disabled{
			opacity: 0;
			visibility: hidden;
		}
		&:hover{
			background: $main-color;
			svg{
				stroke: $white-color;
			}
		}
		svg{
			width: 24px;
			height: 24px;
			fill: none;
			stroke: #231F20;
			stroke-linecap: round; 
			stroke-linejoin: round;
		}
		&.slick-prev{
			left: 10px;
			svg{
				transform: rotate(90deg);
			}
		}
		&.slick-next{
			right: 10px;
			svg{
				transform: rotate(-90deg);
			}
		}
	}
}


.closeAnchorSlider{
	position: fixed;
	top: 83px;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(43, 42, 41, 0.4);
	z-index: 1;
	transition: 0.2s;
	visibility: hidden;
	opacity: 0;
	z-index: 2;
	@include tablet {
		top: 53px;
	}
	&.active {
		visibility: visible;
		opacity: 1;
	}
}

