// Window Width
$double-extra-large-width: 1800px;
$extra-large-width: 1440px;
$large-width: 1250px;
$desktop-width: 1024px;
$tablet-width: 767px;
$mobile-width: 480px; 

// Colors
$main-color: #EF5101;
$black-color: #2B2A29;
$white-color: #fff;
$error-color: #F20707;
$light-gray-color: #f4f4f4;
$gray-color: #D7D7D7;
$green-color: #4FC048;

//Opacity
$opacity-05: 0.05;
$opacity-10: 0.1;
$opacity-20: 0.2;
$opacity-30: 0.3;
$opacity-40: 0.4;
$opacity-50: 0.5;
$opacity-60: 0.6;
$opacity-70: 0.7;
$opacity-80: 0.8;
$opacity-90: 0.9;