// Headings

h1{
    font-family: 'Gilroy-Bold';
    font-size: 72px;
    line-height: 89px;
    @include tablet{
        font-size: 48px;
        line-height: 56px;
    }
}

h2{
    font-family: 'Gilroy-Bold';
    font-size: 60px;
    line-height: 79px;
    @include desktop{
        font-size: 40px;
        line-height: 48px;
    }
    @include mobile{
        font-size: 20px;
        line-height: 28px;
    }
}

h3{
    font-family: 'Gilroy-Bold';
    font-size: 40px;
    line-height: 48px;
    @include desktop{
        font-size: 32px;
        line-height: 40px;
    }
    @include tablet{
        font-size: 20px;
        line-height: 28px;
    }
}

h4{
    font-family: 'Gilroy-Bold';
    font-size: 32px;
    line-height: 40px;
    @include desktop{
        font-size: 24px;
        line-height: 32px;
    }
}

h5{
    font-family: 'Gilroy-SemiBold';
    font-size: 24px;
    line-height: 32px;
    @include tablet{
        font-size: 18px; 
        line-height: 26px;
    }
}

h6{
    font-family: 'Gilroy-SemiBold';
    font-size: 16px;
    line-height: 24px;
}
.h1{
    font-size: 60px;
    line-height: 79px;
    font-family: 'Gilroy-Bold';

    @include desktop{
        font-size: 40px;
        line-height: 48px;
    }
    @include tablet{
        font-size: 36px;
        line-height: 44px;
    }
}


// Buttons

.button{
    position: relative;
    display: inline-block;
    background-color: $main-color;
    color: $white-color;
    font-family: 'Gilroy-SemiBold';
    font-size: 16px;
    line-height: 24px;
    border-radius: 20px;
    padding: 8px 15px;
    text-align: center;
    transition: 0.2s;
    overflow: hidden;
    &:hover{
        background-color: rgba($main-color, 0.9);
    }
    &:active{
        background-color: rgba($main-color, 0.8);
    }
    &:disabled{
        background-color: rgba($black-color, 0.05);
        color: rgba($black-color, 0.3);
    }
    &.loading{
        &:before{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: url('../../img/svg-icons/loading-button.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 24px;
            animation: spin 1s linear infinite;
            z-index: 2;
        }
        &:after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: $main-color;
            background-size: 100%;
        }
    }
    &.added{
        &:after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: $green-color url('../../img/svg-icons/success-button.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 24px;
        }
    }
    &.error{
        &:after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: $error-color url('../../img/svg-icons/error-button.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 24px;
        }
    }
}

@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}


//label

.label{
    position: relative;
    display: flex;
    align-items: center;
    input[type=checkbox]{
        visibility: hidden;
        position: absolute;
        width: 0;
        height: 0;
        font-size: 0;
    }
    input[type=checkbox]:checked+.check{
        border: 1px solid #EF5101;
        background-color: $main-color;
        border-radius: 3px;
    &::after{
        content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../../img/svg-icons/checked.svg) no-repeat center;
    background-size: 12px 13px;
    z-index: 100;
    }
    }
    .check{
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -7.5px;
        width: 16px;
        height: 16px;
        border-radius: 3px;
        border: 1px solid #EF5101;
    }
}

// Input

.form-group{
    position: relative;
    margin: 0 0 24px 0;
    textarea,
    input{
        width: 100%;
        background: rgba($black-color, 0.05);
        border-radius: 5px;
        padding: 8px 10px;
        font-family: 'Gilroy-Medium';
        line-height: 24px;
        transition: 0.2s;
        &::placeholder {
            font-size: 14px;
            line-height: 24px;
            color: rgba($black-color, $opacity-60);

        }
        &:focus{
            background: rgba($main-color, 0.03);
        }
        &:disabled{
            background: rgba($black-color, 0.03);
            color: rgba($black-color, 0.2);
            &::placeholder{
                color: rgba($black-color, 0.2);
            }
        }
    }
    &_error{
        input{
            color: $error-color;
            background: rgba($error-color, 0.03);
        }
        .form-group__error-msg{
            visibility: visible;
            opacity: 1;
        }
    }
    &__error-msg{
        position: absolute;
        top: 100%;
        left: 0;
        font-family: 'Gilroy-Medium';
        font-size: 12px;
        line-height: 24px;
        color: $error-color;
        visibility: hidden;
        opacity: 0;
        transition: 0.2s;
    }
    .errorMsg{
        color: $error-color;
        font-size: 12px;
        line-height: 1;
        margin: 5px 0 0 0;
    }
}

// Select

.select2{
    width: 100% !important;
}
.select2.select2-container.select2-container--default.select2-container--below.select2-container--focus.select2-container--open{
    b{
        transform: scale(1, -1);
    }
}

.select2-container--open .select2-dropdown--below{
    background: #EAEAEA;
}
.select2-container--default .select2-selection--single {
    border: none;
    border-radius: 5px;
    background: rgba($black-color, $opacity-05);
    height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    position: relative;
    top: 0;
    left: 0;
    border: transparent;
    background-image: url("../../img/svg-icons/carret-down.svg");
    background-size: 24px;
    margin-left: 0;
    margin-top: 0;
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    transition: 0.2s;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding: 10px 40px 10px 10px;
    line-height: 23px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 0;
    right: 0;
    height: 100%;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.product{
    &__badges {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        display: flex;
        flex-wrap: wrap;
        z-index: 1;
    }

    &__badge {
        height: 30px;
        display: flex;
        align-items: center;
        background-color: $white-color;
        background-size: 30px;
        background-position: 0 50%;
        background-repeat: no-repeat;
        box-shadow: 0px 2px 10px rgba($black-color, 0.1);
        border-radius: 50px;
        padding: 0 12px 0 35px;
        font-family: 'Gilroy-Medium';
        font-size: 14px;
        line-height: 13px;
        margin: 0 15px 15px 0;
        @include tablet {
            background-size: 24px;
            width: 24px;
            height: 24px;
            font-size: 0px;
            padding: 0;
            margin: 0 5px 5px 0;
        }

        &.product__badge_new {
            background-image: url("/assets/img/svg-icons/badge-new.svg");
        }

        &.product__badge_sale {
            background-image: url("/assets/img/svg-icons/badge-sale.svg");
        }

        &.product__badge_top {
            background-image: url("/assets/img/svg-icons/badge-top.svg");
        }

        &.product__badge_party {
            background-image: url("/assets/img/svg-icons/badge-party.svg");
        }

        &.product__badge_vegan {
            background-image: url("/assets/img/svg-icons/badge-vegan.svg");
        }

        &.product__badge_spicy {
            background-image: url("/assets/img/svg-icons/badge-spicy.svg");
        }
    }
}