.products-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  padding: 55px 0;
  @include desktop {
    padding: 50px 0;
  }
  @include tablet {
    margin: 0 0 0 -15px;
  }
  @include mobile {
    padding: 30px 0 0 0;
  }


  h2 {
    width: 100%;
    margin: 0 0 0 15px;
    @include mobile {
      font-size: 26px;
      line-height: 48px;
      margin: 0 0 0 15px;
    }
  }

  .product {
    &__card {
      position: relative;
      width: calc(20% - 30px);
      margin: 30px 15px;
      padding: 0 0 60px 0;

      .count {
        position: absolute;
        top: -10px;
        right: -10px;
        color: $white-color;
        background: $main-color;
        width: 48px;
        height: 48px;
        font-size: 20px;
        z-index: 1;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include tablet {
          top: 10px;
          right: -10px;
          color: #fff;
          width: 40px;
          height: 40px;
          font-size: 18px;
        }
      }

      @include extralarge {
        width: calc(25% - 30px);
      }
      @include large {
        width: calc(33.3% - 30px);
      }
      @include tablet {
        width: calc(50% - 30px);
      }
      @include mobile {
        width: 100%;
        padding: 15px 0;
        margin: 0;
        display: flex;
        &:last-of-type {
          &::after {
            content: none;
          }
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          right: -16px;
          left: 0;
          height: 1px;
          background: rgba($black-color, 0.1);

        }
      }
    }

    &__img {
      display: block;
      position: relative;
      width: 100%;
      padding: 0 0 100% 0;
      overflow: hidden;
      @include mobile {
        width: 148px;
        height: 148px;
        padding: 0;
      }

      &:hover {
        img {
          min-width: 103%;
          min-height: 103%;
        }
      }

      img {
        object-fit: cover;
        position: absolute;
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.4s;
      }
    }

    &__badges {
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      display: flex;
      flex-wrap: wrap;
      z-index: 1;
    }

    &__badge {
      height: 30px;
      display: flex;
      align-items: center;
      background-color: $white-color;
      background-size: 30px;
      background-position: 0 50%;
      background-repeat: no-repeat;
      box-shadow: 0px 2px 10px rgba($black-color, 0.1);
      border-radius: 50px;
      padding: 0 12px 0 35px;
      font-family: 'Gilroy-Medium';
      font-size: 14px;
      line-height: 13px;
      margin: 0 15px 15px 0;
      @include tablet {
        background-size: 24px;
        width: 24px;
        height: 24px;
        font-size: 0px;
        padding: 0;
        margin: 0 5px 5px 0;
      }

      &.product__badge_new {
        background-image: url("/assets/img/svg-icons/badge-new.svg");
      }

      &.product__badge_sale {
        background-image: url("/assets/img/svg-icons/badge-sale.svg");
      }

      &.product__badge_top {
        background-image: url("/assets/img/svg-icons/badge-top.svg");
      }

      &.product__badge_party {
        background-image: url("/assets/img/svg-icons/badge-party.svg");
      }

      &.product__badge_vegan {
        background-image: url("/assets/img/svg-icons/badge-vegan.svg");
      }

      &.product__badge_spicy {
        background-image: url("/assets/img/svg-icons/badge-spicy.svg");
      }
    }

    &__box {
      @include mobile {
        width: calc(100% - 148px);
        padding: 0 0 0 10px;
      }
    }

    &__name {
      font-family: 'Gilroy-Bold';
      font-size: 18px;
      max-height: 44px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin: 10px 0 0 0;
      @include desktop {
        font-size: 16px;
      }
      @include tablet {
        font-size: 14px;
      }
      @include mobile {
        margin: 0;
      }
    }

    &__attr {
      color: rgba($black-color, 0.3);
      margin: 5px 0 0 0;
      @include tablet {
        font-size: 12px;
      }
      @include mobile {
        margin: 0;
      }

      span {
        margin: 0 5px 0 0;
      }
    }

    &__desc {
      max-height: 66px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin: 5px 0 0 0;
      @include tablet {
        font-size: 12px;
        line-height: 18px;
      }
      @include mobile {
        margin: 0;
      }
    }

    &__price-container {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include mobile {
        position: relative;
        margin: 15px 0 0 0;
      }

      button {
        @include desktop {
          font-size: 14px;
          line-height: 16px;
          padding: 10px 15px;
        }
        @include tablet {
          font-size: 12px;
        }
      }
    }

    &__price {
      width: 105px;
      font-family: 'Gilroy-Bold';
      font-size: 18px;
      line-height: 24px;
      @include desktop {
        width: 90px;
        font-size: 16px;
      }
      @include tablet {
        font-size: 14px;
      }
      .oldPrice{
        font-family: 'Gilroy-SemiBold';
        font-size: 14px;
        line-height: 1;
        text-decoration: line-through;
        color: rgba($black-color, 0.2);
      }
    }

    &__counter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 125px;
      border: 1px solid rgba($black-color, 0.1);
      border-radius: 20px;
      font-size: 16px;
      line-height: 13px;
      padding: 4px;
      @include desktop {
        width: 120px;
        font-size: 14px;
      }
      @include desktop {
        width: 100px;
      }

      .minus,
      .plus {
        width: 32px;
        height: 32px;
        transition: 0.2s;
        cursor: pointer;
        @include desktop {
          width: 24px;
          height: 24px;
        }

        &:hover {
          opacity: 0.9;
        }

        &:active {
          opacity: 0.8;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }

      input {
        width: 35px;
        text-align: center;
        font-family: 'Gilroy-SemiBold';
        @include desktop {
          width: 25px;
        }

        &:disabled {
          background: transparent;
        }
      }
    }
  }
}

// Radiobutton cant & checkbox button ADD TOPPING

.product__serving {
  display: flex;
  font-family: 'Gilroy-Medium';
  font-size: 16px;
  line-height: 24px;
  margin: 10px 0 0 0;
  @include tablet {
    font-size: 14px;
    line-height: 18px;
  }

  .radio-wrap {
    input {
      position: absolute;
      width: 0;
      visibility: hidden;

      &:checked + label {
        background: $black-color;
        color: $white-color;
      }
    }

    label {
      display: block;
      width: 24px;
      height: 24px;
      border: 1px solid rgba($black-color, 0.1);
      box-sizing: border-box;
      border-radius: 5px;
      margin: 0 10px 0 0;
      text-align: center;
      @include tablet {
        width: 20px;
        height: 20px;
        margin: 0 8px 0 0;
      }
    }
  }

  &.addTopping {
    display: inherit;
    margin: 31px 0 0 0;

    h5 {
      width: 100%;
      margin-bottom: 17px;
    }

    label {
      width: 50%;
      margin-bottom: 7px;
      position: relative;
    }

    input[type="checkbox"] {
      visibility: hidden;
      position: absolute;
      width: 0;
      height: 0;
      font-size: 0;
    }

    .check {
      position: absolute;
      left: 0;
      top: 2px;
      width: 20px;
      height: 20px;
      border: 1px solid rgba($black-color, 0.1);
      box-sizing: border-box;
      border-radius: 5px;
    }

    // active

    input[type="checkbox"]:checked + .check {
      background: $main-color url('../../img/svg-icons/checked.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 12px 13px;
    }

    .toppingName {
      display: block;
      width: 100%;
      padding-left: 34px;
    }

    .toppingGroup {
      display: flex;
      flex-wrap: wrap;
    }
  }
}


// Product Page
.productPageDetails {
  @include tablet {
    padding: 25px 0 0 0;
  }

  .imgContainer {
    width: 708px;
    height: 620px;
    @include desktop {
      width: 390px;
      height: 422px;
    }
    @include tablet {
      width: 343px;
      height: 341px;
    }
  }

  .aboutProduct {
    margin: 50px 0 0 62px;
    width: 50%;
    max-width: 510px;
    @include desktop {
      margin: 0;
    }

    .product__attr {
      color: #2B2A29;
      opacity: 0.3;
    }

    @include desktop {
      margin-left: 20px;
      width: calc(100% - 390px);
    }
    @include tablet {
      width: 100%;
      margin: 15px 0 0 0;
      max-width: 100%;
    }

    .byOneClickProduct {
      border-top: 1px solid #C4C4C4;
      border-bottom: 1px solid #C4C4C4;
      padding: 32px 0 44px 0;
      @include mobile {
        padding: 20px 0 30px 0;
      }

      .form-group {
        margin: 16px 0 0 0;
        display: flex;
        align-items: center;
        @include mobile {
          flex-direction: column;
        }

        .input-wrap {
          width: 298px;
          margin-right: 20px;
          @include desktop {
            width: 144px;
          }
          @include mobile {
            width: 100%;
            margin: 0 0 15px 0;
          }
        }
      }

      .button {
        @include tablet {
          font-size: 12px;
        }
        @include mobile {
          width: 100%;
          font-size: 16px;
        }
      }
    }

    h5 {
      font-size: 18px;
      @include mobile {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}

// Home Page
.homePage {
  @include desktop {
    .hide {
      display: none;
    }
    .feedback-form {
      display: none;
    }
  }
}


.homePage {
  .feedback-form {
    margin-top: 100px;
  }
}

.sliderContainer {
  width: 50%;
  max-width: 597px;
  position: relative;
  @include tablet {
    width: 100%;
    max-width: 100%;
  }

  .product__badges {
    top: 25px;
    left: 56px;
    @include desktop {
      top: 20px;
      left: 20px;
    }
  }

  .mainSlider {
    position: relative;
    visibility: hidden;

    &.slick-initialized {
      visibility: visible;
    }

    &:hover {
      button.slick-arrow {
        visibility: visible;
        opacity: 1;
      }
    }


    .slick-slide {
      .imgContainer {
        position: relative;
        //width: 560px;
        width: 100%;
        display: inline-block;
        min-width: 597px;
        height: 597px;
        max-height: 597px;
        overflow: hidden;
        //pointer-events: none;
        @include desktop {
          min-width: 435px;
          height: 435px;
          max-height: 435px;
        }
        @include tablet {
          height: 490px;
          max-height: 490px;
        }
        @include mobile {
          height: 341px;
          max-height: 341px;
        }

        iframe {
          width: 100%;
          height: 100%;

        }

        img {
          object-fit: cover;
          position: absolute;
          width: auto;
          height: auto;
          min-width: 100%;
          min-height: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }


  }

  .secondarySlider {
    visibility: hidden;

    &.slick-initialized {
      visibility: visible;
      //display: flex;
      //align-items: center;
      //justify-content: center;
    }

    .slick-slide {
      //padding: 10px 10px 0 0;
      cursor: pointer;
      text-align: center;

      .container-img {
        //margin-top: 5px;
        //text-align: center;
        //max-width: 115px;
        //height: 115px;
      }

      .imgContainer {
        margin-top: 5px;
        text-align: center;
        position: relative;
        //min-width: 115px;
        display: inline-block;
        overflow: hidden;
        pointer-events: none;
        width: calc(100% - 10px);
        height: 115px;

        @include desktop {
          height: 100px;
        }
        @include tablet {
          height: 120px;
        }
        @include mobile {
          height: 70px;
        }

        iframe {
          max-width: 100%;
          max-height: 100%;

        }

        img {
          object-fit: cover;
          position: absolute;
          width: auto;
          height: auto;
          min-width: 100%;
          min-height: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}




