/*-------------------- global-styles --------------------*/
html {
	min-width: 360px;
	background: #fff;
}
body {
	min-width: $large-width;
	height: 100%;
	color: $black-color;
    font-family: 'Gilroy-Regular';
	font-size: 14px;
	line-height: 22px;
	min-width: 360px;
	position: relative;
	&.body_fixed{
		position: relative;
		height: 100%;
		overflow: hidden !important;
	}
}
::selection {
	background: $main-color;
	color: $white-color;
}
input:-webkit-autofill {
	box-shadow: 0 0 0 30px #f4f4f4 inset;
}
a {
	color: $black-color;
	text-decoration: none;
	transition: all .2s;
}
.global-wrap {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { //fix for ie 10-11
		height: 100%;
	}
	.main {
		flex: 1 0 auto; /* NOT flex: 1; */
	}
}
.wrap {
	position: relative;
	width: $large-width;
	margin: 0 auto;
	padding: 0 25px;
	@include large {
		width: $desktop-width;
	}
	@include desktop{
		width: $tablet-width;
	}
	@include tablet{
		width: $mobile-width;
		padding: 0 16px;
	}
	@include mobile{
		width: 100%;
	}
	&__large{
		width: 100%;
		max-width: $double-extra-large-width;
		padding: 0 35px;
		@include desktop{
			padding: 0 24px;
		}
		@include tablet{
			padding: 0 16px; 
		}
	}
}
.btn {
	display: inline-block;
	background-color: $main-color;
	color: $white-color;
	font-family: 'Gilroy-SemiBold';
	font-size: 16px;
	line-height: 24px;
	border-radius: 20px;
	padding: 8px 15px;
	text-align: center;
	transition: 0.2s;
	&:hover{
		background-color: rgba($main-color, 0.9);
	}
	&:active{
		background-color: rgba($main-color, 0.8);
	}

	&.hidden{
		display: none;
	}


	&.loading,
	&.added,
	&.error {
		padding-right: 45px;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			right: 20px;
			margin: auto;
			width: 16px;
			height: 16px;
			background-size: contain;
		}
	}
	&.loading {
		&:after {
			background: url('../img/svg-icons/loading.svg') no-repeat center;
			background-size: contain;
		}
	}
	&.added {
		&:after {
			background: url('../img/svg-icons/checked.svg') no-repeat center;
			background-size: contain;
		}
	}
	&.error {
		&:after {
			background: url('../img/svg-icons/error.svg') no-repeat center;
			background-size: contain;
		}
	}
}


/*-------------------- modals --------------------*/
.modal {
	position: relative;
	overflow: hidden;
	background: #fff;
	padding: 45px 62px 45px 45px;
	font-size: 20px;
	line-height: 1.4;
	width: 1150px;
	border-radius: 10px;
	@include desktop{
		max-width: 710px;
		padding: 30px 60px 45px 30px;
	}
	@include tablet {
		width: 343px;
		padding: 20px 20px 32px 20px;
	}
	//@include mobile{
	//	width: 100%;
	//}
	&.openEffect {
		animation: zoomIn .6s;
	}
	&.closeEffect {
		animation: zoomOut .6s;
	}
	.modal-close {
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 0;
		padding: 16px;
		z-index: 2;
		transition: all .3s;
		@include tablet{
			padding: 10px;
		}
		&:hover{
			svg{
				stroke: $main-color;
			}
		}
		svg{
			width: 32px;
			height: 32px;
			stroke: $black-color;
			stroke-width: 2px;
			@include tablet{
				width: 24px;
				height: 24px;
			}
		}
	}
}