/*-----------------------------------------------*/
/*-------------------- GLOBAL -------------------*/
/*-----------------------------------------------*/

body {
  position: relative;
  min-width: 1300px;
  height: 100%;
  font-family: 'roboto-regular';

  .trash {
    * {
      color: #9F9F9F;
    }
  }

  .limit-width {
    width: 185px;
  }

  .width {
    width: 400px;
  }

  .width-small {
    width: 300px;
  }

  .color-blue {
    color: $blue;
  }

  .limit {
    display: inline-block;
    height: 40px;
    overflow: hidden;

    .limit-character {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .content {
    background: $gray;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow: hidden;

    .wrap {
      flex: 1;
      width: 100%;
      padding: 15px 60px 100px 340px;
      transition: padding .3s;
      @include large {
        padding: 15px 15px 50px 280px;
      }
      @include desktop {
        padding: 15px 15px 50px 75px;
      }
    }
  }
}

/* Page title */

.content .wrap .container .component-title {
  font-family: 'roboto-bold';
  font-size: 24px;
  margin: 0 0 20px 0;
}

/* Buttons */

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 4px;
  transition: 0.2s;

  &:disabled {
    opacity: 0.5;
  }

  &.bold {
    font-family: 'roboto-bold';
    text-transform: uppercase;
  }

  &.full {
    width: 100%;
  }

  &.blue {
    background: $dark-blue;
    color: $white;

    &:hover {
      background: #8694FF;
    }

    &:active {
      background: #4150C4;
    }

    &:disabled {
      background: #D7DBE8;
    }
  }

  &.light-blue {
    background: $light-blue;
    color: $dark-blue;
  }

  &.gray {
    background: $gray;
    color: $black;
    top: 1px;
  }

  &.white-blue-gray {
    background: $white;
    color: $dark-blue;
    border: 1px solid #D7DBE8;
  }

  &.white-blue-blue {
    background: $white;
    color: $dark-blue;
    border: 1px solid $dark-blue;;
  }

  svg {
    margin: 0 5px 0 0;
  }
}

/* Select 2 */

.select2-container {
  .select2-selection {
    background: $gray;

    &.select2-selection--single {
      border: none;
    }

    .select2-selection__rendered {
      color: $black;
      font-size: 14px;
    }

    .select2-selection__arrow b {
      border-color: $black transparent transparent transparent;
    }
  }
}

.select2-container.select2-container--open .select2-selection .select2-selection__arrow b {
  border-color: transparent transparent $black transparent;
}

.form-block.filter .select2-container .select-all, .form-block-wrap.filter .select2-container .select-all {
  background: url("../img/svg-icons/icon-select-all.svg") no-repeat center;
  background-size: contain;
}

.form-block .select2-container .select-all, .form-block-wrap .select2-container .select-all {
  background: url("../img/svg-icons/icon-select-all.svg") no-repeat center;
  background-size: contain;
}

.select2-container .select2-selection.select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
  background: $dark-blue;
}

.select2-container .select2-selection.select2-selection--multiple .select2-selection__rendered li {
  color: #ffffff;
  font-size: 14px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  margin-right: 5px;
}

.select2-container.select2-container--open .select2-dropdown .select2-results .select2-results__options .select2-results__option {
  position: relative;
  background: $light-blue;
  margin: 1px 0;
  color: $dark-blue;
  padding: 10px 15px 10px 15px;
}

.select2-container.select2-container--open .select2-dropdown .select2-results .select2-results__options .select2-results__option.select2-results__option--highlighted,
.select2-container.select2-container--open .select2-dropdown .select2-results .select2-results__options .select2-results__option[aria-selected="true"] {
  color: $white;
  background: $dark-blue;
}

.select2-container.select2-container--open .select2-dropdown.multiple .select2-results .select2-results__options .select2-results__option,
.select2-container.select2-container--open .select2-dropdown.multiple .select2-results .select2-results__options .select2-results__option[aria-disabled="true"],
.select2-container.select2-container--open .select2-dropdown.multiple .select2-results .select2-results__options .select2-results__option.select2-results__option--highlighted {
  position: relative;
  background: $light-blue;
  margin: 1px 0;
  color: $dark-blue;
  padding: 10px 15px 10px 50px;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 40px;
    background: url("../img/svg-icons/icon-add-blue.svg") no-repeat;
    background-position: 50% 50%;
    border-right: 1px solid #fff;
  }
}

.select2-container.select2-container--open .select2-dropdown.multiple .select2-results .select2-results__options .select2-results__option.select2-results__option--highlighted,
.select2-container.select2-container--open .select2-dropdown.multiple .select2-results .select2-results__options .select2-results__option[aria-selected="true"],
.select2-container.select2-container--open .select2-dropdown .select2-results .select2-results__options .select2-results__option[aria-disabled="true"] {
  color: $white;
  background: $dark-blue;

  &:after {
    background: url("../img/svg-icons/icon-add-white.svg") no-repeat;
    background-position: 50% 50%;
  }
}

.select2-container.select2-container--open .select2-dropdown .select2-results .select2-results__options .select2-results__option[aria-disabled="true"] {
  opacity: 0.6;
}

.select2-container.select2-container--open .select2-dropdown {
  border: none;
}

/* Checkbox */

.checkbox-switcher {
  display: flex;
  align-items: center;

  input {
    position: absolute;
    visibility: hidden;

    &:checked + label {
      background: $dark-green;

      &:after {
        top: 3px;
        left: initial;
        right: 3px;
      }
    }
  }

  label {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    border-radius: 6px;
    background: $dark-gray;
    cursor: pointer;

    &.active {
      background: $dark-green;

      &:after {
        top: 3px;
        left: initial;
        right: 3px;
      }
    }

    &:after {
      content: "";
      position: absolute;
      top: 3px;
      left: 3px;
      width: 14px;
      height: 14px;
      border-radius: 4px;
      background: $white;
    }
  }
}

/* Datetimepicker */

.datetimepicker {
  padding: 0 40px 0 15px;
  background: #fff url(../img/svg-icons/icon-calendar.svg) no-repeat;
  background-position: 95% 50%;
}

/* Top buttons */
.filterBlock {
  position: relative;
  margin-left: auto;

  .form-block.filter {
    position: absolute;
    min-width: 480px;
    margin-right: 0 !important;
    right: 0;
    top: 30px;
    z-index: 4;
    background: $white;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .filter.form-block {
    padding: 20px !important;
  }

  //.form-block.filter .filter-form .field-row{
  //  padding: 20px !important;
  //}
}

.content .wrap .container .page-top-buttons {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  border-radius: 8px;
  background-color: $white;
  padding: 10px 0;

  .button-filter-gray {
    margin-left: auto;
    margin-right: 10px;

    .filter-btn {
      margin: 0;
    }
  }

  .item {
    margin: 0 10px;

    a {
      display: block;
      padding: 7px 20px;
      font-size: 20px;
      font-family: 'roboto-regular';

      &:hover {
        color: $dark-blue;
      }

      &.active {
        color: $white;
        border-radius: 4px;
        background-color: $dark-blue;
      }
    }
  }

  .filter-btn {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 125px 0 10px;

    svg {
      margin: 0 7px 0 0;
    }

    &.right {
      margin: 0 10px 0 0;
    }

    .count {
      position: absolute;
      top: -2px;
      right: 2px;
      color: $black;
      font-size: 14px;
      line-height: 23px;
      background: none;
    }
  }

  .left-col {
    display: flex;
    flex-wrap: wrap;
  }

  .right-col {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;


  }

  .dropdown {
    margin: 0 10px;
    position: absolute;
    top: 11px;
    right: 0;

    .dropdown-menu {
      width: 270px;
      position: absolute;
      top: 75px;
      right: 0;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      background-color: $white;
      padding: 20px;
      z-index: 2;
      visibility: hidden;
      opacity: 0;
      transition: 0.2s;

      &.active {
        top: 65px;
        visibility: visible;
        opacity: 1;
      }

      .dropdown-item {
        font-size: 14px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 0 20px 0;

        &:last-of-type {
          margin: 0;
        }

        .input-container {
          width: 100%;
          position: relative;
          margin: 15px 0 0 0;

          &:after {
            content: "%";
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            font-size: 20px;
            font-family: 'roboto-bold';
          }

          &.disabled {
            &:before {
              content: "";
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              background: $gray;
              opacity: 0.5;
              z-index: 2;
            }
          }

          input {
            background: $gray;
            height: 35px;
            padding: 0 35px 0 10px;
            font-family: 'roboto-bold';
          }
        }

        form {
          input {
            position: absolute;
            visibility: hidden;
          }

          .export {
            height: 100%;
            display: flex;
            align-items: center;
            background: $light-blue;
            font-size: 14px;
            color: $dark-blue;
            padding: 10px 30px;
            border-radius: 4px;

            svg {
              width: 22px;
              height: 20px;
              margin: 0 12px 0 0;
            }
          }
        }

        .restore-btn {
          height: 100%;
          width: calc(100% - 60px);
          display: flex;
          align-items: center;
          background: $light-green;
          font-size: 14px;
          color: $dark-green;
          padding: 10px 30px;
          border-radius: 4px;
          cursor: pointer;

          svg {
            width: 23px;
            height: 20px;
            margin: 0 12px 0 0;
          }
        }

        .delete-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 4px;
          background-color: $light-red;
          padding: 10px;
          cursor: pointer;

          svg {
            width: 18px;
            height: 20px;
          }
        }
      }
    }
  }

  .filter.form-block {
    width: 100%;
    padding: 20px;
    //padding: 0 20px;

    .field-row-wrap {
      display: flex;
      //background: $gray;
      padding: 20px;
      //padding: 0;
      border-radius: 4px;
      background: $gray;

      &.countries-reg {
        padding: 10px 15px;
      }

      &.background-wh {
        background: $white;
      }

      &.padding {
        padding: 0;
      }

      &.col {
        background: none;
        padding: 0;
      }

      &.hiddenWrap {
        justify-content: space-between;

        .field-row {
          width: 100%;
          margin-right: 20px;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .col {
        display: flex;
        flex-wrap: wrap;
        margin: 0 30px 0 0;

        &:last-of-type {
          margin: 0;
        }

        &.small {
          width: 16%;
        }

        &.middle {
          width: 28%;
        }

        &.large {
          width: 35%;
        }

        &.date {
          align-items: flex-start;
        }

        &.date {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .field-row {
            width: 48%;

            .field-wrap {
              input {
                padding: 0 40px 0 15px;
                background: #fff url("../img/svg-icons/icon-calendar.svg") no-repeat;
                background-position: 95% 50%;
              }
            }
          }
        }

        .with-bg {
          width: 100%;
          background-color: $gray;
          padding: 15px;
          border-radius: 4px;

          &.flex {
            display: flex;
            height: fit-content;
          }
        }

        .flexClass {
          display: flex;
        }

        .field-row {
          width: 100%;

          .label-wrap {
            label {
              color: $black;
              font-size: 14px;
              line-height: 23px;
            }
          }

        }

        .field-btn {
          display: flex;
          justify-content: space-between;
          width: 100%;

          .button {
            width: 48%;
            font-family: 'roboto-bold';
            font-size: 14px;
            letter-spacing: 0.28px;
            text-transform: uppercase;
            justify-content: center;
          }
        }

      }
    }

  }

}


/* Table */

.content .wrap .container .table-block {
  padding: 18px 0 40px 0;

  thead {
    tr {
      border-bottom: 10px solid transparent;

      th {
        color: $dark-gray;
        font-family: 'roboto-bold';
        font-size: 14px;
        line-height: 23px;
        text-align: center;
        padding: 0 10px;

        &.left {
          text-align: left;
        }

        &.align-center {
          text-align: center;
        }

        &.visible {
          width: 150px;
        }

        &.checkbox-all,
        &.restore-all {
          div {
            display: inline-block;
            cursor: pointer;
            background: $light-blue;
            border: 1px solid $dark-blue;
            color: #657dff;
            font-family: 'roboto-regular';
            font-size: 14px;
            line-height: 23px;
            font-weight: initial;
            border-radius: 4px;
            padding: 0 15px;
            white-space: pre;
          }
        }
      }
    }
  }

  tbody {
    tr {
      padding: 10px;
      border-radius: 8px;
      transition: 0.2s;
      border-bottom: 5px solid #f6f6f6;
      background: transparent;
      // position: relative;
      &.new-order {
        position: relative;

        td {
          position: relative;

          &:first-of-type {
            &:after {
              content: '';
              width: 5px;
              height: 20px;
              background: #FF6565;
              position: absolute;
              left: 0;
              top: 50%;
              margin-top: -10px;
              border-bottom-right-radius: 4px;
              border-top-right-radius: 4px;
            }
          }
        }

      }

      &.hoverNone {
        &:hover {
          background: transparent;
        }
      }

      .addColor {
        color: $link-blue;
        font-family: 'roboto-bold';

      }

      .addFonts {
        font-family: 'roboto-bold';
      }

      .lastOrder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a {
          color: $link-blue;
          font-family: 'roboto-bold';

        }
      }

      &:hover {
        background: $white;

        td {

          &.id {
            .row-order-status {
              opacity: 1;
            }
          }
        }

      }

      &.active {
        background: $white;
      }

      td {
        position: relative;
        font-size: 14px;
        padding: 10px;
        text-align: center;


        div.see-option a {
          display: inline-block;
          cursor: pointer;
          background: $light-blue;
          border: 1px solid $dark-blue;
          color: #657dff;
          font-family: 'roboto-regular';
          font-size: 12px;
          line-height: 17px;
          font-weight: initial;
          border-radius: 4px;
          padding: 0 10px;
          white-space: pre;
        }


        &.left {
          text-align: left;
        }

        &:first-of-type {
          border-radius: 8px 0 0 8px;
          font-family: 'roboto-bold';

        }

        &:last-of-type {
          border-radius: 0 8px 8px 0;
        }

        &.align-center {
          text-align: center;
        }

        &.id {
          position: relative;
          text-align: center;
          width: 5%;
          padding: 0 10px;

          p {
            font-family: 'roboto-bold';
            border-radius: 8px;
            background-color: $gray;
            padding: 7px 30px;
          }

          a {
            font-family: 'roboto-bold';
            border-radius: 8px;
            background-color: $gray;
            padding: 12px 30px;
            color: $link-blue;
          }

          .row-order-status {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            width: 5px;
            height: 20px;
            border-radius: 0px 4px 4px 0px;
            opacity: 0;
            transition: 0.2s;

            &.new {
              background: #FF6565;
            }
          }
        }

        &.title {
          height: 62px;
          // width: 260px;
          &.not-logged-user {
            color: #9f9f9f;
          }

          * {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }

          a {
            color: $link-blue;

            &.trash {
              color: $dark-gray;
            }
          }

          .align-center {
            text-align: center;
          }

        }

        &.prod-name {
          height: 62px;
          width: 260px;

          * {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }

          a {
            color: $link-blue;

            &.trash {
              color: $dark-gray;
            }
          }
        }

        &.img-small-round {
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }
        }

        &.slug {
          p {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }

        &.categories {

          div {
            //display: inline-block;
            display: flex;
            align-items: center;
            height: 40px;
            width: 170px;
            overflow: hidden;

            span {
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
          }

          .prod-list {
            flex-direction: column;
            align-items: flex-start;
          }

          a {
            color: $link-blue;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }

        }

        &.amount {
          .percentage {
            color: $dark-green;
            font-family: 'roboto-bold';
            font-size: 14px;
            letter-spacing: 0.28px;
          }

          .currency {
            color: $dark-yellow;
            font-family: 'roboto-bold';
            font-size: 14px;
            letter-spacing: 0.28px;
          }
        }

        &.start-exp-day {
          .start-day {
            color: $dark-green;

            &.trash {
              color: $dark-gray;
            }
          }

          .exp-day {
            color: $dark-red;

            &.trash {
              color: $dark-gray;
            }
          }
        }

        &.shipping {
          text-align: center;

          &.active {
            svg {
              fill: $dark-green;
            }
          }

          svg {
            fill: $dark-gray;
          }
        }

        &.price {
          text-align: center;

          p {
            font-family: 'roboto-bold';

            &.last {
              color: $dark-blue;
            }

            &.past {
              color: $dark-gray;
              text-decoration: line-through;
              font-family: 'roboto-regular';
            }
          }
        }

        /* Order */

        &.order-type {
          .draft,
          .admin,
          .simple,
          .fast {
            width: 24px;
            height: 24px;
            margin: 0 auto;

            &:after {
              font-family: 'roboto-bold';
              font-size: 14px;
              line-height: 23px;
              padding: 2px 7px;
              background: #9F9F9F;
              color: #fff;
              border-radius: 5px;
            }
          }

          .draft {
            &:after {
              content: "D";
            }
          }

          .admin {
            &:after {
              content: "A";
            }
          }

          .simple {
            &:after {
              content: "S";
            }
          }

          .fast {
            &:after {
              content: "F";
              background: $red;

            }
          }
        }

        &.order-status {
          text-align: center;

          div {
            min-width: 120px;
            padding: 10px 25px;
            border-radius: 4px;
            text-align: center;
            font-family: 'roboto-regular';
            font-size: 14px;
            line-height: 17px;

            &.checkout {
              color: #00B5E0;
              background: #EBFBFF;

              &.trash {
                color: $dark-gray;
                background: transparent;
              }
            }

            &.cancelled {
              color: $dark-gray;
              background: #EBEBEB;
            }

            &.processing {
              color: $dark-yellow;
              background: $light-yellow;
            }

            &.approved {
              color: $dark-blue;
              background: $light-blue;
            }

            &.finished {
              color: $dark-green;
              background: $light-green;
            }

            &.failed {
              color: $dark-red;
              background: $light-red;
            }
          }
        }

        &.stock {
          text-align: center;

          p {
            display: inline-block;
            position: relative;
            font-family: 'roboto-bold';
            letter-spacing: 0.28px;
            text-transform: uppercase;

            &:after {
              content: "";
              position: absolute;
              top: calc(50% - 3px);
              left: -12px;
              width: 7px;
              height: 7px;
              border-radius: 50%;
            }

            &.in {
              color: $dark-green;

              &.trash {
                color: $dark-gray;

                &:after {
                  background: $dark-gray;
                }
              }

              &:after {
                background: $dark-green;
              }
            }

            &.out {
              color: $dark-red;

              &:after {
                background: $dark-red;
              }
            }

            &.count {
              color: $dark-yellow;

              &:after {
                background: $dark-yellow;
              }
            }
          }

        }

        &.visibility-on-homepage {
          text-align: center;

          .visible,
          .unvisible {
            cursor: pointer;
            display: none;

            &.active {
              display: inline-block;
            }
          }
        }

        &.status {
          text-align: center;

          .activate-item {
            position: relative;
            display: inline-block;
            width: 40px;
            height: 20px;
            border-radius: 6px;
            background: $dark-gray;
            cursor: pointer;

            &.active {
              background: $dark-green;

              &:after {
                top: 3px;
                left: initial;
                right: 3px;
              }
            }

            &:after {
              content: "";
              position: absolute;
              top: 3px;
              left: 3px;
              width: 14px;
              height: 14px;
              border-radius: 4px;
              background: $white;
            }
          }
        }

        &.checkbox-items,
        &.restore-items {
          width: 5%;
          text-align: center;

          //input[type=checkbox].checkbox-item,
          //input[type=checkbox].restore-item {
          //  position: absolute;
          //  visibility: hidden;
          //
          //  &:checked {
          //    + label {
          //      border: 2px solid $dark-blue;
          //
          //      &:before {
          //        opacity: 1;
          //      }
          //    }
          //  }
          //}

          input[type=checkbox] + label {
            position: relative;
            width: 20px;
            height: 20px;
            border-radius: 4px;
            border: 2px solid $dark-gray;
            margin: 0 auto;

            &:before {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 12px;
              height: 12px;
              border-radius: 1px;
              background-color: $dark-blue;
              transition: 0.2s;
              opacity: 0;
            }
          }

          input[type=checkbox].checkbox-item,
          input[type=checkbox].restore-item {
            position: absolute;
            visibility: hidden;

            &:checked {
              + label {
                border: 2px solid $dark-blue;

                &:before {
                  opacity: 1;
                }
              }
            }
          }
        }


        &.td-link {
          //text-align: center;

          a {
            color: $link-blue;
            text-transform: uppercase;
            font-family: 'roboto-bold';

            &.trash {
              color: $dark-gray;
            }

            &.inactive {
              //color: $black;
              font-family: 'roboto-regular';

            }
          }
        }

        &.small-icon {
          img {
            min-width: 20px;
            height: 20px;
          }
        }

        &.position {
          position: relative;
          cursor: move;

          img {
            width: 20px;
            height: 20px;
          }
        }

        &.rating {
          text-align: center;
          font-family: 'roboto-bold';
        }

        &.small {
          width: 150px;
          width: 7%;
        }

        &.medium {
          width: 260px;
          width: 20%;
          //color: $link-blue;

          span.filter-string-result {
            background-color: #FFFF00;
            color: #000;
          }
        }

        &.location {
          color: $black;
        }

        &.big {
          width: 450px;
        }

        &.send-email-to-subscribers {
          .btn {
            height: 40px;
            padding: 0 22px;
            line-height: 28px;
          }
        }

        &.isFastOrder {
          position: relative;
          padding-left: 35px;

          &:before {
            content: '';
            background: url('../img/small-icons/fast-order.svg') center no-repeat;
            background-size: contain;
            width: 18px;
            height: 18px;
            position: absolute;
            left: 10px;
            top: 0;
            bottom: 10px;
            margin: auto;
          }
        }

        &.isNew {
          position: relative;

          .icon {
            content: '';
            background: url('../img/small-icons/new-order.svg') center no-repeat;
            background-size: contain;
            width: 25px;
            height: 25px;
            position: absolute;
            left: -8px;
            top: -8px;
          }
        }

        &.isAdminOrder {
          position: relative;
          padding-left: 35px;

          &:before {
            content: '';
            background: url('../img/small-icons/admin-orders.svg') center no-repeat;
            background-size: contain;
            width: 18px;
            height: 18px;
            position: absolute;
            left: 10px;
            top: 0;
            bottom: 10px;
            margin: auto;
          }
        }

        &.isAdminOrderDraft {
          position: relative;

          .icon {
            content: '';
            background: url('../img/small-icons/incomplete-order.svg') center no-repeat;
            background-size: contain;
            width: 25px;
            height: 25px;
            position: absolute;
            left: -8px;
            top: -8px;
          }
        }

        .edit-item {
          padding: 5px 20px;
          background: $base-color;
          border-radius: 4px;
          color: #fff;

          &:hover {
            background: $base-color-darker;
          }
        }

        .item-attribute {
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-wrap: wrap;

          .colors-attribute {
            display: flex;
            flex-wrap: wrap;
            width: 36px;
            height: 36px;
            margin: 2px;
            font-size: 0;
            border-radius: 6px;
            overflow: hidden;
          }
        }

        .inline-item-attribute {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          margin-bottom: 5px;

          span {
            padding: 0 7px 0 0;
          }

          .colors-attribute {
            display: flex;
            flex-wrap: wrap;
            width: 18px;
            height: 18px;
            margin: 5px 3px;
            font-size: 0;
            border-radius: 4px;
            overflow: hidden;
          }
        }

        .image-attribute {
          width: 25px;
          height: 25px;
          border: 2px solid #7d7d7d;
          position: relative;
          display: inline-block;
          vertical-align: middle;
          margin: 2px;
          overflow: hidden;

          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 25px;
            max-width: initial;
            min-height: 100%;
          }
        }

        .actions {
          display: flex;
          align-items: center;
          justify-content: center;

          .action-item {
            padding: 10px;
            position: relative;
            border: 1px solid #8d8d8d;
            border-radius: 4px;
            box-shadow: 0 2px 5px -1px #2e2e2e;

            + .action-item {
              margin-left: 10px;
            }

            &:hover {
              border: 1px solid #2e2e2e;
            }

            &:after {
              content: '';
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;
              width: 10px;
              height: 10px;
            }

            &.disabled {
              cursor: initial;
              pointer-events: none;
              background: rgba(141, 141, 141, 0.51);
            }
          }

          .edit-link {
            //&:after {
            //  background: url(../img/small-icons/edit.svg) center no-repeat;
            //  background-size: contain;
            //}
          }

          .view-link {
            //&:after {
            //  background: url(../img/small-icons/view.svg) center no-repeat;
            //  background-size: contain;
            //}
          }
        }
      }

      &.checkout {
        td {
          background-color: rgba(23, 162, 184, 0.2);
        }
      }

      &.cancelled {
        td {
          background-color: rgba(220, 53, 69, 0.2);
        }
      }

      &.approved {
        td {
          background-color: rgba(0, 123, 255, 0.2);
        }
      }

      &.finished {
        td {
          background-color: rgba(40, 167, 69, 0.2);
        }
      }

      //&.isDefault {
      //  td {
      //    background-color: rgba(18, 33, 109, 0.2);
      //  }
      //}

      &.incomplete {
        td {
          background-color: rgba(220, 53, 69, 0.2);
        }
      }

      &.unread {
        //td {
        //  background-color: rgba(220, 53, 69, 0.2);
        //}
      }
    }
  }
}

.import-table {
  width: 100%;
  max-height: 450px;
  overflow: auto;
  margin: 20px 0;
  border-radius: 6px;

  table {
    border: 1px solid #DEDEDE;
    border-radius: 6px;

    thead {
      tr {
        th {
          background: #9F9F9F;
          font: 'roboto-regular' 12px/14px Roboto;
          font-weight: initial;
          letter-spacing: 0;
          color: #FFFFFF;
          padding: 8px 12px;
          border: 1px solid #DEDEDE;
        }
      }
    }

    tbody {
      tr {
        td {
          max-width: 350px;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 8px 12px;
          white-space: pre;
          background: #fff;
          border: 1px solid #DEDEDE;

          &.count {
            background: #9F9F9F;
            font: 'roboto-regular' 12px/14px Roboto;
            font-weight: initial;
            letter-spacing: 0;
            color: #FFFFFF;
          }
        }
      }
    }
  }
}

.order-products-block {
  table {
    width: 100%;

    thead {
      tr {
        th {
          font-family: 'roboto-bold';
          font-size: 14px;
          line-height: 23px;
          color: #9F9F9F;
          padding: 0 0 5px 0;
        }
      }
    }

    tbody {
      background: $white;

      tr {
        border: 20px solid transparent;

        .product-info {
          display: flex;
          align-items: center;

          &.direction-column {
            flex-direction: column;
            align-items: flex-start;
            padding-left: 10px;
            width: 80%;

            .attribute-item {
              display: flex;
              margin-right: 20px;

              .description {
                span {
                  color: $dark-gray;
                  margin-left: 5px;
                }
              }
            }

            .product-attributes {
              max-width: 450px;
              margin-top: 10px;
              // background: red;
              display: flex;
              flex-wrap: wrap;
            }
          }

          .product-id {
            font-family: 'roboto-bold';
            font-size: 14px;
            line-height: 23px;
            color: #000000;
            margin: 0 20px 0 0;
          }

          .product-name-img {
            display: flex;
            align-items: center;

            .product-img {
              width: 40px;
              height: 40px;
              margin: 0 10px 0 0;
              border-radius: 4px;
              overflow: hidden;
            }

            .product-name {
              font-size: 14px;
              line-height: 23px;
              position: relative;
              padding-left:25px;

              .view-product-on-site {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                background: url(../img/small-icons/external-link.svg) center no-repeat;
                width: 15px;
                height: 15px;
                background-size: contain;
                text-decoration: none;
              }
            }
          }
        }

        .price,
        .order-products-subtotal {
          text-align: center;
          font-family: 'roboto-bold';
          font-size: 14px;
          line-height: 23px;
          color: #000000;
        }

        .product-quantity {
          .change-product-stock {
            input {
              width: 70px;
              min-width: 70px;
              height: 40px;
              border: 1px solid #D7DBE8;
              border-radius: 8px;
              text-align: center;
              background: $white;
              margin: 0 auto;
            }
          }
        }

        .actions {
          .destroy-product-order {
            cursor: pointer;
            width: 18px;
            height: 18px;
            background: url("../img/svg-icons/icon-delete-attr.svg");
            border-radius: 50%;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
.home-products-block {
  table {
    tbody {
      tr {
        border: none;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;

        .actions {
          .destroy-home-product {
            cursor: pointer;
            width: 18px;
            height: 18px;
            background: url("../img/svg-icons/icon-delete-attr.svg");
            border-radius: 50%;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
/* Form */

.content .wrap .container .form-block {
  padding: 15px 0;
  border-radius: 8px;

  form {

    &.products,
    &.categories,
    &.attributes,
    &.brands,
    &.coupons-form,
    &.promotions-form,
    &.orders-form {
      .order-description-block {
        .orders-header {
          position: relative;
          background: $white;
          padding: 90px 60px 0;

          .row {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: $dark-blue;
            border-radius: 8px;
            padding: 10px 10px 10px 20px;

            .title {
              font-family: 'roboto-bold';
              font-size: 20px;
              line-height: 24px;
              color: $white;
            }

            .open-close-fields-order {
              cursor: pointer;
              background: $white;
              border-radius: 4px;
              padding: 10px 20px;
              display: flex;
              align-items: center;
              font-size: 14px;
              line-height: 17px;
              color: $dark-blue;

              svg {
                margin: 0 5px 0 0;

                path {
                  stroke: $dark-blue
                }
              }
            }
          }

          .info {
            display: flex;
            flex-wrap: wrap;

            .info-item {
              text-align: left;
              font-size: 14px;
              line-height: 23px;
              color: #000000;
              margin: 0 20px 0 0;

              &:last-of-type {
                margin: 0;
              }

              .bold {
                font-weight: initial;
                color: $dark-blue;
              }
            }
          }
        }

        .short-client-info-block,
        .short-client-shipping-info-block {
          .info-block {
            font-size: 14px;
            line-height: 23px;
            margin: 3px 0;

            .bold {
              color: $dark-blue;
              font-weight: initial;
            }
          }
        }
      }

      .container {
        width: 100%;
        background: #fff;
        padding: 20px 60px;
        border-radius: 8px;

        &.middle {
          width: 1024px;
        }

        &.transparent-bg {
          background: transparent;

          .field-row {
            .label-wrap {
              label {
                padding: 0 0 5px 0;
              }
            }
          }

          .select2-container {
            .select2-selection {
              background: $white;
            }
          }
        }

        .row {
          display: flex;
          // justify-content: space-between;
          flex-wrap: wrap;
          align-items: flex-start;
          width: 100%;

          .col {
            margin: 0 2% 0 0;

            &:last-of-type {
              margin: 0;
            }

            &.middle {
              width: 28%;

              .select2-container {
                width: 100% !important;
              }
            }

            &.large {
              width: 40%;
            }

            &.extra-large {
              width: 48%;
            }
          }
        }
      }

      .field-row {
        padding: 0 0 20px 0;

        &.width-single {
          width: 400px;
        }

        &.inline {
          display: flex;
          align-items: center;
        }

        &.middle {
          width: 32%;
        }

        &.white-bg {
          background: #fff;
          padding: 11px 20px;
          justify-content: space-between;
          border-radius: 4px;
          //margin: 28px 0 0 0;
          margin: 28px 0 28px 0;
          height: 40px;

          .label-wrap {
            label {
              padding: 0 !important;
            }
          }
        }

        &.variations-header {
          padding: 0;
        }

        &.no-padding {
          padding: 0;
        }

        &.switcher-container {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-radius: 4px;
          background-color: #f6f6f6;
          padding: 0 10px 0 20px;
          margin: 28px 0 20px 0;
          height: 40px;

          .label-wrap {
            label {
              font-size: 16px;
              padding: 0;
            }
          }

          .info-msg {
            position: absolute;
            top: -25px !important;
            right: 0 !important;
          }
        }

        .label-wrap {
          label {
            color: $black;
            font-size: 14px;
            line-height: 23px;
          }
        }

        .field-wrap {
          position: relative;

          &.small {
            width: 640px;
          }

          &.field-wrap-children {
            .title {
              width: 100%;
              font-size: 14px;
              line-height: 23px;
            }

            .inline-field-wrap {
              width: 240px;

              &.input-select {
                width: 400px;
                position: relative;

                .select2-container {
                  width: 68px !important;
                  position: absolute;
                  right: 0;
                  top: 0;

                  .select2-selection {
                    background: #ECF0FC;

                    .select2-selection__rendered {
                      color: #657DFF;
                    }
                  }
                }

                .select2-container--default .select2-selection--single .select2-selection__arrow b {
                  margin-left: 15px;
                }

                .select2-container .select2-selection .select2-selection__arrow b {
                  border-color: #657DFF transparent transparent transparent;
                }
              }

            }

            .destroy-attribute {
              cursor: pointer;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100px;
              padding: 13px 10px;
              border-radius: 4px;
              background-color: $light-red;
              color: #ea5355;
              font-family: 'roboto-bold';
              font-size: 14px;
              letter-spacing: 0.28px;

              svg {
                margin: 0 5px 0 0;
              }
            }
          }

          &.attr-row {
            justify-content: flex-start;

            .switcher-container {
              width: 290px;
              border-radius: 4px;
              background-color: $gray;
              padding: 6px 10px;

              .checkbox-label {
                display: flex;
                justify-content: space-between;

                &.hidden {
                  display: none;
                }

                label {
                  font-size: 14px;
                  line-height: 23px;
                }
              }
            }
          }

          &.date {
            input {
              padding: 0 40px 0 15px;
              background: $gray url("../img/svg-icons/icon-calendar.svg") no-repeat;
              background-position: 95% 50%;
            }
          }

          .info-msg {
            position: absolute;
            top: 13px;
            right: 10px;
          }
        }

        .input-wrap {
          .file-div {
            display: flex;
            align-items: flex-start;

            button {
              padding: 10px 20px;

              span {
                font-size: 14px;
                font-family: 'roboto-bold';
                letter-spacing: 0.28px;
                text-transform: uppercase;
              }
            }

            .files-list {
              width: calc(100% - 225px);
              margin: 0 20px;
              background: transparent;

              .img-block {
                width: 40px;
                height: 40px;
                margin: 0 10px 15px 10px;
                background: #fff;
                background-size: cover;
                border-radius: 4px;
                border: 1px solid #9f9f9f;
                overflow: initial;

                .remove-upload-file {
                  right: -10px;
                  top: -10px;
                }
              }
            }
          }
        }
      }

      //.meta-conatiner {
      //  width: 640px;
      //  margin: 50px 60px 0;
      //
      //  .field-row {
      //    &.white-bg {
      //      width: 290px;
      //      margin: 0 0 40px 0;
      //    }
      //
      //    .label-wrap {
      //      label {
      //        padding: 0 0 5px 0;
      //      }
      //    }
      //
      //    .field-wrap {
      //      input, textarea {
      //        background: #fff;
      //        border-radius: 4px;
      //      }
      //    }
      //  }
      //}


      .color-attr-container {
        width: 400px;

        .field-row {
          .box-for-colorpicker {
            display: flex;
            flex-wrap: wrap;
            overflow: hidden;
            height: 45px;
            width: 45px;
            border-radius: 6px;
            margin: 0 10px 0 0;
            border: 2px solid $gray;
            min-width: inherit;
            color: transparent;
            padding: 0;
            font-size: 0;
          }

          .field-wrap {
            width: calc(100% - 55px);
          }
        }
      }

      .submit-form-btn {
        padding: 10px 85px;
        text-transform: uppercase;
        color: #ffffff;
        font-family: 'roboto-bold';
        font-size: 14px;
        letter-spacing: 0.28px;
        margin: 20px 60px 0;

        &.fixed-btn {
          width: auto;
          margin: 0;
        }

        &.no-margin {
          margin: 20px 0;
        }
      }

    }

    &.coupons-form {
      .tabs-block.coupons {
        margin: 50px 0;
      }

      .submit-form-btn {
        margin: 20px 0;
      }
    }

    &.review-view {
      .container {
        .row {
          display: flex;

          .col {
            margin: 0 2% 0 0;

            &:last-of-type {
              margin: 0;
            }

            &.large {
              max-width: 30%;
            }

            &.middle {
              width: 10%;
            }

            &.small {
              width: 5%;
            }

            .label-wrap {
              &.align-center {
                text-align: center;
              }

              label {
                color: $dark-gray;
                font-family: 'roboto-bold';
                margin: 0 0 15px 0;
              }
            }

            .field-wrap {
              display: flex;
              flex-direction: column;
              justify-content: center;
              background: $white;
              border-radius: 8px;
              padding: 10px 20px;

              &.inline {
                flex-direction: row;
                align-items: center;
              }

              &.rating {
                text-align: center;
                font-family: 'roboto-bold';

                svg {
                  margin: 0 5px 0 0;
                }
              }

              p {
                display: flex;
                align-items: center;
                height: 40px;
              }

              a {
                color: $link-blue;
              }

              .id {
                text-align: center;
                padding: 0 10px;
                font-family: 'roboto-bold';
                border-radius: 8px;
                background-color: $gray;
                padding: 12px 30px;
                margin: 0 20px 0 0;
              }
            }
          }
        }
      }

      .comment-details {
        .field-row {
          width: 30%;

          .label-wrap {
            label {
              color: $dark-gray;
              font-family: 'roboto-bold';
              margin: 40px 0 15px 0;
            }
          }

          .field-wrap {
            p {
              padding: 20px;
              border-radius: 8px;
              background-color: $white;
              font-size: 14px;
              line-height: 17px;
              min-height: 100px;
            }
          }
        }
      }
    }

    &.orders-form {
      .row {
        display: flex;
        flex-wrap: wrap;
      }

      .col {
        width: 48%;
        margin: 0 4% 0 0;

        &:last-of-type {
          margin: 0;
        }

        &.small {
          width: 25%;
        }

        .container {
          .order-title {
            font-family: 'roboto-bold';
            font-size: 16px;
            line-height: 23px;
            color: $dark-blue;
            margin: 20px 0 0 0;
          }

          .row {
            justify-content: space-between;
          }
        }

        .add-product-container {
          background: $white;
          border-radius: 8px;
          padding: 20px 65px;
        }

        .applied-coupons-container {
          background: $white;
          padding: 20px;
          margin: 20px 0 0 0;
          border-radius: 8px;

          span {
            font-size: 14px;
            line-height: 17px;
          }

          .applied-coupons {
            border: 1px dashed #D7DBE8;
            border-radius: 4px;
            text-align: center;
            margin: 15px 0 0 0;
            padding: 10px 0;
            font-family: 'roboto-bold';
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.28px;
            color: $dark-blue
          }
        }

        .totals-block {
          background: $white;
          border-radius: 8px;
          padding: 20px 20px 20px 65px;
          margin: 30px 0;

          .info-block {
            display: flex;
            margin: 0 0 8px 0;

            .name {
              width: 50%;
              text-align: right;

              &.blue {
                color: $dark-blue
              }
            }

            .value {
              width: 50%;
              text-align: right;

              &.totalBlock {
                color: $dark-blue;
              }
            }
          }
        }
      }

      .actions-block {
        display: flex;

        .coupon-fields-wrap {
          display: flex;
          align-items: center;

          input {
            width: 260px;
            background: $white;
            border: 1px solid #ECF0FC;
            border-radius: 4px;
            margin: 0 20px;
          }

          button {
            font-size: 14px;
          }
        }
      }
    }

  }
}

/* Tabs */

.tabs-container {
  width: 100%;
}

.content .wrap .container .form-block .tabs-block {
  display: flex;
  flex-direction: column;
  margin: 50px 60px;

  &.hidden {
    display: none;
  }

  &.no-margin {
    margin: 50px 0;
  }

  &.coupons {
    max-width: 700px;
  }

  .left-side {
    display: flex;

    .tab-item:not(.hidden) {
      &:first-of-type {
        &.active {
          a, label {
            background: #fff;
            border-bottom: 1px solid transparent;
            border-right: 1px solid #d7dbe8;
            border-left: 1px solid #fff;
          }
        }
      }

      &:last-of-type {
        &.active {
          background: blue;

          a, label {
            background: #fff;
            border-bottom: 1px solid transparent;
            border-right: 1px solid #fff;
            border-left: 1px solid #d7dbe8;
          }
        }
      }
    }

    .tab-item {
      flex-grow: 1;

      &:first-of-type {
        &.active {
          a, label {
            background: #fff;
            border-bottom: 1px solid transparent;
            border-right: 1px solid #d7dbe8;
            border-left: 1px solid #fff;
          }
        }
      }

      &:last-of-type {
        &.active {
          a, label {
            background: #fff;
            border-bottom: 1px solid transparent;
            border-right: 1px solid #fff;
            border-left: 1px solid #d7dbe8;
          }
        }
      }

      &.active {
        a, label {
          background: #fff;
          border-bottom: 1px solid transparent;
          border-right: 1px solid #d7dbe8;
          border-left: 1px solid #d7dbe8;

          &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: 4px;
            background-color: #657dff;
          }
        }
      }


      a, label {
        display: block;
        position: relative;
        background-color: #ecf0fc;
        color: #657dff;
        font-size: 14px;
        padding: 15px 20px;
        border-bottom: 1px solid #d7dbe8;
        border-right: 1px solid transparent;
        border-left: 1px solid transparent;
        text-align: center;

        input {
          visibility: hidden;
          position: absolute;
        }
      }
    }
  }

  .right-side {
    background: #fff;
    border-radius: 0 0 4px 4px;
    padding: 30px 20px 10px 20px;

    .tab-target {
      &.with-padding {
        padding: 0 40px;
      }

      .row {
        display: flex;
        justify-content: space-between;

        .col {
          &.extra-large {
            width: 48%;
          }
        }
      }

      .select2-container {
        width: 100% !important;
      }

      .price-container {
        display: flex;

        .field-row {
          width: 140px;
          margin: 0 10px 0 0;

          .label-wrap {
            label {
              padding: 0 0 5px 0;
            }
          }

          .field-wrap {
            input {
              background: $gray;
              border-radius: 4px;
            }
          }
        }
      }

      .inventory-container {
        display: flex;

        .field-row {
          width: 170px;

          &.switcher-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 4px;
            background-color: $gray;
            padding: 0 10px 0 20px;
            margin: 28px 10px 0 10px;
            height: 40px;

            .label-wrap {
              label {
                padding: 0;
              }
            }
          }

          .label-wrap {
            label {
              padding: 0 0 5px 0;
            }
          }
        }
      }

      .variations-list {
        .variations-list-header {
          .pagination-block {
            display: flex;
            align-items: center;

            .title {

            }

            .pagination {
              display: flex;
              align-items: center;

              li {
                display: flex;
                align-items: center;

                .prev {
                  position: relative;
                  margin: 0 5px;

                  &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    background: url(../img/small-icons/arrow.svg) no-repeat center;
                    background-size: 13px;
                    transform: rotate(270deg);
                  }
                }

                .next {
                  position: relative;

                  &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    background: url(../img/small-icons/arrow.svg) no-repeat center;
                    background-size: 13px;
                    transform: rotate(90deg);
                  }
                }

                .total-pages {
                  width: auto;
                  height: auto;
                  display: flex;
                  margin: 0 0 0 5px;
                }
              }
            }
          }
        }

        .variation-item {
          position: relative;
          padding: 40px 0 20px 0;
          border-bottom: 2px solid $gray;

          .variation-header {
            display: flex;

            .field-wrap {
              &.field-wrap-children {
                // width: calc(100% - 255px);

                .inline-field-wrap {
                  flex: 1;
                  margin: 0 10px 0 0;

                  &:last-of-type {
                    margin: 0;
                  }
                }
              }

              .variation-id {
                color: $dark-blue;
                font-family: 'roboto-bold';
                font-size: 14px;
                letter-spacing: 0.28px;
                line-height: 23px;
                padding: 0 0 5px 0;
              }

              .field-row {
                width: 245px;
                border-radius: 4px;
                background-color: $gray;
                padding: 9px 20px;
                margin: 0 10px 0 0;
                display: flex;
                justify-content: space-between;

                .label-wrap {
                  label {
                    padding: 0;
                  }
                }
              }
            }
          }

          .variation-body {
            display: flex;
            padding: 40px 0 0 0;

            .col {
              margin: 0 20px 0 0;

              &:last-of-type {
                margin: 0;
              }

              .title {
                color: $dark-blue;
                font-family: 'roboto-bold';
                font-size: 14px;
                letter-spacing: 0.28px;
                line-height: 23px;
                text-transform: uppercase;
              }

              .field-row {
                display: flex;

                .field-wrap {
                  .inline-field-wrap {
                    width: 140px;
                  }

                  .switcher-row {
                    width: 170px;
                    background: $gray;
                    padding: 9px 20px;
                    margin: 28px 10px 0 0;
                    display: flex;
                    justify-content: space-between;
                    border-radius: 4px;

                    .label-wrap {
                      label {
                        padding: 0;
                      }
                    }
                  }
                }
              }
            }
          }

          .destroy-variation {
            position: absolute;
            right: 0;
            bottom: 40px;
            background: url(../img/small-icons/remove.svg) no-repeat;
            background-size: 18px 18px;
            background-position: 10px 50%;
            cursor: pointer;
            border-radius: 4px;
            background-color: $light-red;
            color: $dark-red;
            padding: 12px 15px 12px 35px;
            font-family: 'roboto-bold';
          }
        }

        .variations-list-footer {
          padding: 40px 0 10px 0;

          button {
            font-size: 14px;
            letter-spacing: 0.28px;
            text-transform: uppercase;
            font-family: 'roboto-bold';

            &:disabled {
              opacity: 0.5;
            }
          }
        }
      }

      .selected-attributes-block {
        .field-row {
          .empty-list {
            width: 100%;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 13px 10px;
            border-radius: 4px;
            background-color: $light-red;
            color: $dark-red;
            font-family: 'roboto-bold';
            font-size: 14px;
            letter-spacing: 0.28px;
          }
        }
      }

      .save-attributes-btn {
        button {
          display: none;
          margin: 20px 0 10px 0;

          &.active {
            display: block;
          }
        }
      }
    }

    .field-row {
      .title {
        color: $dark-blue;
        font-family: 'roboto-bold';
        padding: 10px 0;

        &.atribute {
          color: $black;
        }
      }
    }
  }
}

/* Empty */

.empty-list {
  p {
    color: $black;
    font-family: 'roboto-medium';
    font-size: 14px;
    margin: 0 0 20px 0;
  }

  a {
    display: inline-block;
    font-family: 'roboto-bold';
    font-size: 14px;
    letter-spacing: 0.28px;
    text-transform: uppercase
  }
}

/* Rules for import table */

.rules-for-import {
  background: #fff;
  border-radius: 6px;
  padding: 20px;
  max-width: 840px;

  h3 {
    font: 24px/22px 'roboto-bold';
    color: $dark-blue;
  }

  a {
    color: $link-blue;
    text-decoration: underline;
  }

  span {
    color: $link-blue;
  }

  ol {
    padding: 0 0 0 30px;

    li {
      list-style: decimal;
    }
  }

  ul {
    padding: 0 0 0 30px;

    li {
      list-style: initial;
    }
  }
}

.import-footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 40px 0;

  .left-col {
    width: 223px;

    input {
      position: absolute;
      visibility: hidden;
    }

    label {
      display: inline-block;
      font-family: 'roboto-bold';
    }
  }

  .right-col {
    display: flex;
    align-items: center;
    width: calc(100% - 223px);
    padding: 0 0 0 40px;

    svg {
      width: 30px;
      height: 30px;
    }

    p {
      font: 14px/17px 'roboto-regular';
      color: $dark-red;
      width: calc(100% - 30px);
      padding: 0 0 0 20px;
    }
  }

  .input-file-name {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px 0;

    p {
      background: $white;
      color: $black;
      padding: 10px 20px;
      border-radius: 4px;
      display: none;
      width: 293px;
      overflow: hidden;
      white-space: pre;
      text-overflow: ellipsis;

      &.active {
        display: inline-block;
      }
    }

    .delete-file {
      cursor: pointer;
      display: none;
      justify-content: center;
      align-items: center;
      width: 100px;
      padding: 13px 10px;
      margin: 0 0 0 20px;
      border-radius: 4px;
      background-color: #ffe9ea;
      color: #ea5355;
      font-family: 'roboto-bold';
      font-size: 14px;
      letter-spacing: 0.28px;

      &.active {
        display: flex;
      }

      svg {
        margin: 0 5px 0 0;
      }
    }

    .upload-file {
      cursor: pointer;
      display: none;
      justify-content: center;
      align-items: center;
      width: 100px;
      padding: 13px 10px;
      margin: 0 0 0 20px;
      border-radius: 4px;
      background-color: #657dff;
      color: #fff;
      font-family: 'roboto-bold';
      font-size: 14px;
      letter-spacing: 0.28px;

      &.active {
        display: flex;
      }

      svg {
        fill: #fff;
        margin: 0 3px 0 0;
      }
    }
  }
}


/*-----------------------------------------------*/
/*-------------------- HEADER -------------------*/
/*-----------------------------------------------*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 8px 30px 7px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;

  .header-left {
    .user-info {
      display: flex;
      align-items: center;

      .avatar {
        margin: 0 10px 0 0;
        position: relative;
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;

        img {
          object-fit: cover;
          position: absolute;
          width: auto;
          height: auto;
          min-width: 100%;
          min-height: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .user {

      }
    }
  }

  .header-right {
    display: flex;
    align-items: center;

    .settings {
      display: flex;
      align-items: center;

      svg {
        width: 24px;
        height: 24px;
        margin: 0 10px 0 0;
      }
    }

    .go-to-site {
      margin: 0 20px;
    }

    .logout {
      padding: 10px 10px;
    }
  }
}

/*-----------------------------------------------*/
/*-------------------- SIDEBAR ------------------*/
/*-----------------------------------------------*/

.sidebar {
  position: fixed;
  left: 0;
  top: 67px;
  bottom: 0;
  width: 260px;
  background: #fff;
  // transition: width .3s;
  padding: 0 0 126px 0;

  @include desktop {
    width: 60px;
  }

  .wrap {
    overflow-y: auto;
    height: 100%;

    .sidebar-items {
      padding: 15px 0 30px;

      .sidebar-item {
        cursor: pointer;

        &.active {
          a {
            color: $dark-blue;
          }
        }

        a {
          padding: 15px 40px 15px 40px;
          display: flex;
          transition: none;
          font-size: 14px;
          align-items: center;
          @include large {
            padding: 15px 20px;
          }


          &:hover {
            color: $dark-blue;

            svg {
              path,
              polygon {
                fill: $dark-blue;
              }
            }
          }

          &.active {
            color: $dark-blue;

            svg {
              path,
              polygon {
                fill: $dark-blue;
              }
            }
          }

          svg {
            width: 20px;
            height: 20px;

            path,
            polygon {
              fill: $black;
            }
          }

          span {
            width: calc(100% - 35px);
            margin-left: 15px;
            position: relative;
            padding-right: 20px;

            @include desktop {
              display: none;
            }

          }
        }

        &.has-children {

          &.open {
            .hidden-sidebar-items {
              @include desktop {
                display: none !important;
              }
            }

            > a {
              color: $dark-blue;

              span {
                &:after {
                  content: '';
                  background: url(../img/svg-icons/icon-sidebar-arrow-blue.svg) no-repeat center;
                  background-size: contain;
                  width: 10px;
                  height: 10px;
                  transform: rotate(180deg);
                }
              }

              svg {
                path,
                polygon {
                  fill: $dark-blue;
                }
              }
            }
          }

          > a {

            &:hover {
              span {
                &:after {
                  content: '';
                  background: url(../img/svg-icons/icon-sidebar-arrow-blue.svg) no-repeat center;
                  background-size: contain;
                  width: 10px;
                  height: 10px;
                }
              }
            }

            &.active {
              span {
                &:after {
                  content: '';
                  background: url(../img/svg-icons/icon-sidebar-arrow-blue.svg) no-repeat center;
                  background-size: contain;
                  width: 10px;
                  height: 10px;
                  // transform: rotate(180deg);
                }
              }
            }

            span {

              &:after {
                content: '';
                background: url(../img/svg-icons/icon-sidebar-arrow-black.svg) no-repeat center;
                background-size: contain;
                width: 10px;
                height: 10px;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
              }
            }
          }
        }

        .hidden-sidebar-items {

          .hidden {
            display: none;
          }

          .sidebar-item {
            a {
              padding: 7px 20px 7px 75px;
              color: $black;
              @include large {
                padding: 7px 20px 7px 56px;
              }

              &:hover {
                color: $dark-blue;
              }

              &.active {
                color: $dark-blue;
                font-family: 'roboto-bold';
              }

              //span {
              //  padding: 0;
              //  margin: 0;
              //}

            }
          }
        }
      }
    }
  }

  .copyrightBar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 50;
    padding: 40px;
    color: #9f9f9f;
    font-size: 14px;
    line-height: 23px;
    @include desktop {
      display: none;
    }

    .craftedBy {
      color: #9f9f9f;
      font-family: 'roboto-medium';

      &:hover {
        color: $dark-blue;
      }
    }
  }

  &:hover {
    width: 260px;

    .wrap {
      .sidebar-items {
        .sidebar-item {
          &.has-children {
            &.open {
              .hidden-sidebar-items {
                @include desktop {
                  display: block !important;
                }
              }
            }
          }

          a {
            span {
              display: block;
            }
          }
        }
      }
    }

    .copyrightBar {
      display: block;
    }
  }


  /* Styles fot scrolbar */

  .mCSB_inside > .mCSB_container {
    margin-right: 0px;
  }

  .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
    margin-right: 0;
  }

  .mCSB_scrollTools {

    .mCSB_dragger {

      .mCSB_dragger_bar {
        background-color: $dark-blue;
        width: 8px;
        opacity: 1;
      }
    }

    .mCSB_draggerRail {
      width: 6px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background: transparent;
    }
  }

  .mCustomScrollBox > .mCSB_scrollTools {
    opacity: 1;
  }
}

/*-----------------------------------------------*/
/*-------------------- MODALS -------------------*/
/*-----------------------------------------------*/

.modal {
  border-radius: 8px;

  .modal-top {
    position: relative;
    background: $dark-blue;
    padding: 20px;

    .modal-title {
      font-size: 20px;
      line-height: 24px;
      color: $white;
    }

    .modal-close {
      position: absolute;
      top: -10px;
      right: -10px;
      width: 28px;
      height: 28px;
      background: #000000;
      border-radius: 4px;

      &:before,
      &:after {
        width: 18px;
      }
    }
  }

  &.modal-add-order-products {
    .modal-center {
      display: flex;
      flex-direction: column;
      align-items: center;

      .products-items {
        width: 100%;

        .add-products-header {
          display: flex;
          justify-content: center;
          padding: 20px 0;
          border-bottom: 1px solid #F6F6F6;
        }

        .add-products-content {
          padding: 10px 20px;

          .chose-product-variation-block {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0px 0px 20px #0000001A;

            .left-side {
              width: calc(100% - 150px);
              margin-bottom: 15px;

              .product-info {
                display: flex;
                align-items: center;

                .product-id {
                  font-family: 'roboto-bold';
                  font-size: 14px;
                  line-height: 23px;
                  border-radius: 8px;
                  background-color: #f6f6f6;
                  padding: 12px 25px;
                  margin: 0 20px 0 0;
                }

                .product-name-img {
                  width: calc(100% - 100px);
                  display: flex;
                  align-items: center;

                  .product-img {
                    width: 40px;
                    height: 40px;
                    border-radius: 4px;
                    overflow: hidden;
                    margin: 0 10px 0 0;
                  }

                  .product-name-wrap {
                    width: calc(100% - 50px);

                    .product-name {
                      span {
                        display: block;
                        width: 100%;
                        font-size: 14px;
                        line-height: 17px;
                        color: #000000;
                        white-space: pre;
                        overflow: hidden;
                        text-overflow: ellipsis;
                      }
                    }

                    .row {
                      display: flex;
                      align-items: center;
                      flex-wrap: wrap;
                    }

                    .product-price-sale-price-wrap {
                      display: flex;

                      .product-price-block {
                        display: flex;

                        span {
                          display: flex;

                          .price {
                            font-family: 'roboto-bold';
                            font-size: 14px;
                            line-height: 17px;
                            color: #000000;
                            margin: 0 5px 0 0;
                          }

                          .lastPrice {
                            font-size: 14px;
                            line-height: 17px;
                            color: #9F9F9F;
                            text-decoration: line-through;
                            margin: 0 5px 0 0;
                          }
                        }
                      }

                      .product-sale-percentage {
                        font-family: 'roboto-bold';
                        font-size: 14px;
                        line-height: 17px;
                        color: #34ca76;
                        margin: 0 10px 0 0;
                      }
                    }

                    .product-stock-block {
                      &.inStock {
                        span {
                          color: #34CA76;

                          &:after {
                            background: #34CA76;
                          }
                        }
                      }

                      &.outOfStock {
                        span {
                          color: #EA5355;

                          &:after {
                            background: #EA5355;
                          }
                        }
                      }

                      span {
                        position: relative;
                        font-family: 'roboto-bold';
                        font-size: 14px;
                        line-height: 17px;
                        letter-spacing: 0.28px;
                        padding: 0 0 0 10px;

                        &:after {
                          content: "";
                          position: absolute;
                          top: 50%;
                          left: 0;
                          transform: translate(0, -50%);
                          width: 7px;
                          height: 7px;
                          border-radius: 50%;
                        }
                      }
                    }
                  }
                }
              }
            }

            .right-side {
              display: flex;
              align-items: center;

              .count-items-block {
                .qty {
                  input {
                    background: $white;
                    border: 1px solid #D7DBE8;
                    border-radius: 8px;
                    color: $dark-blue;
                    padding: 10px 30px;
                  }
                }
              }

              .remove-order-product {
                cursor: pointer;
                width: 18px;
                height: 18px;
                background: url("../img/svg-icons/icon-delete-attr.svg");
                border-radius: 50%;
                margin: 0 0 0 30px;
              }
            }

            .product-attributes {
              display: flex;
              flex-wrap: wrap;
              width: 100%;

              .attribute-item {
                display: flex;
                align-items: center;
                margin: 0 10px 10px 0;

                .title {
                  display: flex;
                  align-items: center;
                  height: 30px;
                  font-size: 14px;
                  line-height: 17px;
                  color: #000000;
                  background: #F6F6F6;
                  border-radius: 4px 0 0 4px;
                  padding: 6px 10px;
                }

                .attribute-item-container {
                  .select2-container .select2-selection {
                    background: $dark-blue;
                    border-radius: 0px 4px 4px 0px;
                    height: 30px;
                  }

                  .select2-container .select2-selection .select2-selection__rendered {
                    color: $white;
                    font-size: 14px;
                    line-height: 30px;
                  }

                  .select2-container .select2-selection .select2-selection__arrow {
                    height: 30px;
                  }

                  .select2-container .select2-selection .select2-selection__arrow b,
                  .select2-container.select2-container--open .select2-selection .select2-selection__arrow b {
                    border-color: $white transparent transparent transparent;
                  }

                  .select2-container.select2-container--open .select2-selection .select2-selection__arrow b {
                    border-color: transparent transparent $white transparent;
                  }
                }
              }
            }
          }

          .empty-orders-product-list {
            font-size: 20px;
            line-height: 24px;
            color: $dark-blue;
            padding: 70px 0;
          }
        }
      }

      .add-one-more-product {
        cursor: pointer;
        display: none;
        align-items: center;
        font-family: 'roboto-bold';
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.28px;
        color: $dark-blue;
        margin: 20px auto;

        &.active {
          display: flex;
        }

        .icon {
          width: 18px;
          height: 18px;
          background: url("../img/svg-icons/icon-add-blue.svg");
          margin: 0 10px 0 0;
        }
      }
    }

    .modal-bottom {
      display: flex;
      justify-content: center;
      border-top: 1px solid #F6F6F6;
      padding: 20px 0;

      button {
        padding: 10px 50px;

        &:disabled {
          color: #D7DBE8;
        }
      }
    }
  }
}

.form-menu {
  .create-menus {
    display: flex;
    background: $white;
    padding: 38px 20px 16px 60px;

    .select-language .select2-container, .form-block-wrap .select2-container {
      width: 90px !important;
      margin-right: 30px;
    }

    .title-slug {
      width: 380px;

      .field-row {
        margin-bottom: 28px;
      }
    }
  }

  form {
    .button-div {
      padding-left: 60px;

      .submit-form-btn {
        width: 17% !important;
        margin: 40px 0 0 0 !important;
      }
    }

  }
}

//SETINGS STYLE
.container-setings {
  h3 {
    font-size: 16px;
    color: $base-color;
    font-family: 'roboto-bold';
  }

  .background {
    border-radius: 4px;
    background: $white;
    padding: 38px 20px 40px 60px;
  }

  .general-setings {

    margin-bottom: 18px;


    .select-logo {
      margin-top: 25px;
    }

    form .field-row .label-wrap label {
      padding: 0 0 10px 0;
      line-height: 19px;

    }

    .field-row .file-div .files-list.not-empty {
      background: $white !important;
    }

    .field-row .file-div .files-list .img-block {
      // background: no-repeat center $white !important;
    }

    .new-logo {
      margin-top: 25px;
    }

    button {
      background: white;
      border: 1px solid $border;
      color: $base-color;
      text-transform: uppercase;
      font-family: 'roboto-bold';
      font-size: 14px;
      padding: 10px 45px;
      transition: 0.3s;
      margin-bottom: 15px;
    }

    .logo-atention {
      color: #9F9F9F;
      margin-bottom: 28px;
    }

    //.inputFor-home-mentenance-items {
    //
    //}

    .items-per-page {
      margin-top: 30px;
      margin-bottom: 40px;

      .small-title {
        margin-bottom: 22px;
        font-size: 14px;
      }

      .flex-container {
        display: flex;

        .field-row {
          margin-right: 30px;

          .field-wrap {
            width: 120px;
          }
        }

      }
    }
  }

  .contacts-container {
    margin-bottom: 18px;

    .email-phone {
      display: flex;
      max-width: 610px;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 25px;

      .field-row {
        width: 270px;
        margin-right: 30px;
        margin-bottom: 28px;
      }
    }

    .iframe-map {
      max-width: 570px;
      margin-bottom: 28px;
    }

    .social-links {
      display: flex;
      max-width: 610px;
      flex-wrap: wrap;
      align-items: center;

      .field-row {
        width: 270px;
        margin-right: 30px;
        margin-bottom: 28px;

        .field-wrap {
          position: relative;

          input:not([type=checkbox]):not([type=radio]):not([type=search]), textarea {
            padding: 0 15px 0 50px;
          }

          &.instagram {
            &:before {
              content: '';
              background: url("../img/small-icons/instagram.svg") no-repeat center;
              background-size: 20px 20px;
              position: absolute;
              top: 13px;
              left: 1px;
              width: 37px;
              height: 20px;
              border-right: 2px solid $dark-gray;
              padding-right: 10px;
            }
          }

          &.facebook {
            &:before {
              content: '';
              background: url("../img/small-icons/facebook.svg") no-repeat center;
              background-size: 20px 20px;
              position: absolute;
              top: 13px;
              left: 1px;
              width: 37px;
              height: 20px;
              border-right: 2px solid $dark-gray;
              padding-right: 10px;
            }
          }

          &.twitter {
            &:before {
              content: '';
              background: url("../img/small-icons/twitter.svg") no-repeat center;
              background-size: 20px 20px;
              position: absolute;
              top: 13px;
              left: 1px;
              width: 39px;
              height: 20px;
              border-right: 2px solid $dark-gray;
              padding-right: 10px;
            }
          }

          &.telegram {
            &:before {
              content: '';
              background: url("../img/small-icons/vk.svg") no-repeat center;
              background-size: 20px 20px;
              position: absolute;
              top: 13px;
              left: 1px;
              width: 39px;
              height: 20px;
              border-right: 2px solid $dark-gray;
              padding-right: 10px;
            }
          }
        }
      }
    }
  }

  .benefits {
    margin-bottom: 18px;

    .flex-benefit {
      display: flex;
      max-width: 610px;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 25px;

      .field-row {
        width: 270px;
        margin-right: 30px;
        margin-bottom: 28px;
      }
    }
  }

  .email-configuration {
    .flex-mail {
      display: flex;
      max-width: 610px;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 25px;

      .field-row {
        width: 270px;
        margin-right: 30px;
        margin-bottom: 28px;

      }
    }

  }

  .buttonSetings {
    padding-left: 60px;
    margin-top: 40px;

    .btn {
      padding: 0 89px;
      margin: 0;
    }
  }

  .title {
    margin-bottom: 15px;
  }
}

.language {
  margin-bottom: 28px;

  .select2-container {
    width: 90px !important;
  }
}

//CreatePostBlog
.createPostBlog {
  form {
    .field-row {
      margin-bottom: 28px;
    }

    .create-menus {
      background: $white;
      border-radius: 8px;
      padding: 40px 60px;
    }


    .categoriesTitleSlug {
      display: flex;
      flex-wrap: wrap;
      max-width: 610px;
      margin-bottom: 28px;

      .field-row {
        width: 270px;
        margin-right: 30px;
      }
    }
  }

  .meta-conatiner {
    margin: 28px 0 0 0;

    .publishDate {
      width: 190px;
    }
  }

  .btn {
    margin: 20px 60px 0;
    padding: 0 85px;

  }


}

.meta-conatiner {
  width: 640px;
  margin: 50px 60px 0;

  &.grayInput {
    .field-row {
      .field-wrap {
        input {
          background: $gray;
        }

        textarea {
          background: $gray;
        }
      }
    }
  }

  .field-row {

    &.white-bg {
      width: 290px;
      margin: 0 0 40px 0;
    }

    .label-wrap {
      label {
        padding: 0 0 5px 0;
      }
    }

    .field-wrap {
      input, textarea {
        border-radius: 4px;
        background: $white;
      }
    }
  }
}

.field-row {
  //margin-bottom: 28px;
}

.small-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 270px;
  flex-wrap: wrap;

  .field-row {
    width: 110px;

    &.white-bg {
      background: $gray;
      width: 270px;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 4px;
    }
  }

  .datetimepicker {
    background: none;
  }
}

.background {
  background: $white;
  padding: 40px 60px;

  &.mb {
    .field-row {
      margin-bottom: 28px;
    }
  }

  &.gray {
    background: $gray;
  }
}

//reviews form style
.reviews {
  .field-row {
    margin-bottom: 28px;
  }

  .small-content {
    max-width: 410px;

    .top-input {
      display: flex;
      align-items: center;
      justify-content: space-between;


      .field-row {
        width: 190px;

      }
    }
  }

  .btn {
    padding: 0 85px;
    margin: 40px 0 0 60px;
  }
}

.empty-td {
  width: 400px;
}

//ALL USERS
.platform-users {
  .containerForInput {
    max-width: 610px;

    .flex {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .field-row {
        width: 270px;
        margin-right: 30px;
      }

      &.column {
        flex-direction: column;
        align-items: start;
      }
    }
  }

  .zip {
    width: 100px;
  }

  .field-row {
    &.white-bg {
      background: $gray;
      width: 270px;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 4px;
    }
  }

  .btn {
    padding: 0 85px;
    margin: 40px 0 0 60px;
  }
}

//Hide form for subscribe
.content .wrap .container .page-top-buttons {
  .leftButton {
    margin-left: auto;

    .hideForm {
      position: relative;
      margin-right: 124px;

      .filter-btn {
        margin: 0 !important;
        flex-direction: row-reverse;

        .count {
          color: $base-color;
          right: 13px;
        }
      }

      .btn {
        padding: 0 28px 0 20px;
        text-transform: uppercase;
      }

      .filter.form-block {
        position: absolute;
        z-index: 2;
        margin-right: 0;
        right: 0;
        width: 480px;
        background: $white;
        padding: 20px;

        .field-row-wrap {
          flex-wrap: wrap;
          justify-content: space-between;

          .field-row {
            width: 48%;
            margin-right: 0;
          }

          .email {
            width: 100%;

          }
        }

        //.disable-active{
        //  background: transparent;
        //  border: 1px solid  $border;
        //  color: $border;
        //  text-transform: uppercase;
        //}
      }

      .submit-form-btn {
        margin-top: 20px;
      }
    }

    .dropdown {
      top: 9px;

      .dropdown-menu .dropdown-item .delete-btn {
        width: 100%;

        .text {
          color: $dark-red;
          font-family: 'roboto-regular';
          font-size: 14px;
          margin-left: 10px;
        }
      }
    }
  }
}

.activate-maintenance {
  display: flex;
  align-items: center;
  background: $gray;
  width: 270px;
  border-radius: 4px;
  padding: 10px 10px 10px 20px;

  .field-row {
    margin-bottom: 0;
  }

  .label-wrap {
    label {
      padding: 0;
    }
  }

  .field-wrap {
    margin-left: auto;

    input {
      display: none;

      &:checked {
        ~ label {
          .slider {
            background: $base-color;
            //border: 1px solid #8dcdcf;

            &::after {
              background: #fff;
              left: calc(100% - 17px);
            }
          }
        }
      }
    }

    label {
      display: flex;
      line-height: normal;
      align-items: center;
      padding: 0;

      .slider {
        position: relative;
        width: 40px;
        height: 20px;
        border-radius: 6px;
        transition: 0.2s;
        background-color: $dark-gray;


        &::after {
          content: "";
          position: absolute;
          top: calc(50% - 7px);
          left: 3px;
          width: 14px;
          height: 14px;
          background: $white;
          border-radius: 5px;
          transition: 0.4s;
        }
      }
    }
  }
}

.labelForCheckAll {
  position: relative;

  input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }

  label {
    display: block;
    border: 1px solid $dark-gray;
    padding: 3px 8px;
    transition: 0.2s;
    color: $base-color;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100px;
    border-radius: 4px;
  }
}

.file-div {
  display: flex;
  margin-top: 15px;

  .button {
    height: 40px;
    border: 1px solid #D7DBE8;
    background: transparent;
    color: #657dff;
    margin-right: 30px;

    &:hover {
      color: $white;
    }
  }
}

.inactive-btn {
  background: #D7DBE8;
  height: 40px;
  color: $white;
  text-transform: uppercase;
  padding: 3px 30px;
  margin: 0 10px 0 auto;
}

.flex {
  &.blog {
    display: flex;
    align-items: center;
    max-width: 800px;

    .field-row {
      margin-right: 30px;
      width: 50%;
      margin-bottom: 28px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.field-row {
  &.mt {
    margin-top: 28px;
  }
}

.flex-column {
  max-width: 380px;

  .field-row {
    margin-top: 28px;

    &.small-input {
      max-width: 190px;
    }
  }
}

#site-users-pass-block.hidden {
  display: none;
}

.components-container {
  .field-row {
    margin-bottom: 28px;
  }

  .medium-container-component {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    justify-content: space-between;

    .field-row {
      width: 48%;

      &:nth-child(2n) {
        margin-right: 0;
      }

      &.drpdwn {
        width: 100%;
      }

      &.category {
        width: 100%;
        margin-right: 0;
      }
    }
  }

  .field-row-checkbox {
    display: flex;
    flex-wrap: wrap;

    .field-row {
      display: flex;
      margin-right: 30px;

      &.white-bg {
        background: #f6f6f6;
        width: 270px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 4px;
      }

      &.select-photo {
        width: 100%;
        flex-direction: column;
      }
    }
  }
}

//
//.color-picker {
//  top: auto !important;
//  bottom: 221px !important;
//}
.order-type {
  display: flex;
  justify-content: center;
}

//.tooltip {
//  font-size: 14px;
//  line-height: 23px;
//  padding: 2px 7px;
//  background: #9F9F9F;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  border-radius: 5px;
//  color: $white;
//}
//
.tippy-tooltip {
  background: #9F9F9F;

  .tippy-arrow {
    border-top-color: #9F9F9F !important;
  }
}

.order-description-block {
  .select2-container, .form-block-wrap .select2-container {
    width: 100% !important;
  }
}