.promotionsContainer{
  max-width: 1200px;
  margin: 0 auto;
  //padding: 79px 0 113px 0;
  h1{
    margin-bottom: 12px;
  }
  .txt{
    font-size: 16px;
    line-height: 30px;

  }
}
.promotionsSectionCard{
  display: flex;
  flex-wrap: wrap;
  margin: 50px -14px 0 -14px;

  .promotionCard{
    width: calc(50% - 28px);
    margin: 0 14px  51px 14px;
    .imgContainer{
      width: 585px;
      height: 335px;
      border-radius: 10px;
      position: relative;
      margin-bottom: 16px;
      overflow: hidden;
      img{
        object-fit: cover;
        position: absolute;
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.4s;
      }
    }
    .offer{
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      font-family: 'Gilroy-SemiBold';
    }
  }
}


//*-----------PROMOTION PAGE-------*//

.promotionPage{
  //padding: 47px 0 0 0;
  .promo{
    font-size: 14px;
    line-height: 16px;
  }
  .promotionContainer{
    display: flex;
    align-items: center;
    margin-top: 26px;
    .photoPromo{
      width: 745px;
      height: 498px;
      position: relative;
      overflow: hidden;
      margin-right: 41px;
      border-radius: 10px;
      img{
        object-fit: cover;
        position: absolute;
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.4s;
      }
    }
    .aboutPromo{
      h1{
        font-size: 60px;
        line-height: 79px;
        margin-bottom: 16px;
      }
      .text{
        font-size: 18px;
        line-height: 30px;
        max-width: 546px;
        margin-bottom: 147px;
      }
      .offer{
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 10px;
      }
      .date{
        font-size: 48px;
        line-height: 57px;
        font-family: 'Gilroy-Bold';
      }
    }
  }
}

//*-----------PROMOTION PAGE-------*//
@include large{
  .promotionsContainer{
    padding: 40px 0 44px 0;
  }
  .promotionsSectionCard{
    margin: 30px -14px 0 -14px;
    .promotionCard{
      .imgContainer{
        width: 100%;
      }
    }
  }
}
@include desktop{
  .promotionsSectionCard{
    .promotionCard{
      margin: 0 14px 32px 14px;
      .imgContainer{
        height: 195px;
        margin-bottom: 12px;
      }
      .offer{
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
  /////promotion page

  .promotionPage{
    padding: 41px 0 0 0;
    .promo{
      display: none;
    }
    .promotionContainer{
      margin-top: 0;
      flex-direction: column;
      align-items: flex-start;
      .photoPromo{
        margin: 0 0 32px 0;
        width: 100%;
        height: 478px;
      }
      .aboutPromo{
        h1{
          font-size: 36px;
          line-height: 44px;
          margin-bottom: 20px;
        }
        .text{
          font-size: 16px;
          line-height: 26px;
          max-width: 534px;
          margin-bottom: 40px;
        }
        .offer{
          font-size: 14px;
          line-height: 16px;
          margin-bottom: 10px;
        }
        .date{
          font-size: 26px;
          line-height: 31px;
        }
      }
    }
  }
}

@include tablet{
  .promotionsContainer{
    padding: 24px 0 0 0;
    .txt{
      line-height: 22px;
    }
  }
  .promotionsSectionCard{
    flex-direction: column;
    margin: 30px 0 0 0;
    .promotionCard{
      width: 100%;
      margin: 0 0 30px 0;
    }
  }
  .promoSection{
    .feedback-form__inner{
      margin-top: 50px;
    }
  }

  //promotion page

  .promotionPage{
    padding: 24px  0 0 0;
    .promotionContainer{
      .photoPromo{
        height: 196px;
        margin: 0 0 26px 0;
      }
      .aboutPromo{
        h1{
          margin-bottom: 15px;
        }
        .text{
          margin-bottom: 50px;
        }
      }
    }
  }
  .promo{
    .products-list{
      padding: 65px 0 0 0;
    }
  }
}

